@model List<HomeModel.Resposta>
@{
    ViewData["Title"] = "Pagina Inicial";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/coleta.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Inicio</title>
    <style>

        body {
            font-family: Arial;
        }

        .custom-container {
            text-align: center;
        }

        .tables {
            width: 98%;
        }

        .fundo-tabela {
            background: #800000;
            color: white;
        }

        .atencao {
            text-align: center;
            height: 50px;
            margin: 0 auto;
            width: 50%; /* Valor da Largura */
            margin-bottom: 10px;
        }

        #pesquisa {
            border-radius: 10px;
            padding: 20px;
        }

        #botao-pesquisar {
            border-radius: 10px;
        }

        #fonte {
            font-family: Arial, sans-serif;
        }
    </style>

</head>
<body class="body">

    <div class="custom-container">
        <form class="form-inline " asp-controller="Home" asp-action="BuscarOrcamento" method="post">
            <div class="container mt-4" style="text-align:center; align-items:center;">
                <div class="row ">
                    <div>
                        <h1 class="display-4 fw-bold " id="fonte">COLETA COLCHÃO</h1>
                        <div class="input-group ">
                            <input type="text" id="pesquisa" class="form-control col-md-12 " placeholder="Digite a Ordem De Serviço" aria-label="Recipient's username" aria-describedby="basic-addon2" name="os">
                            <div class="input-group-append  col-md-1">
                                <button class="btn btn-primary  " type="submit" id="botao-pesquisar"> Pesquisar </button>
                            </div>
                            @if (Model != null)
                            {
                                <div class="input-group-append  col-sm-1 ml-3">
                                    <a role="button" target="_blank" class="btn btn-secondary" asp-controller="Coleta" asp-action="EnviarFotos" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento">Imagens</a>
                                </div>
                            }
                            @if (Model != null)
                            {
                                <div class="input-group-append  col-sm-1 mr-3">
                                    <a role="button" target="_blank" class="btn btn-warning" asp-controller="Instrumentos" asp-action="Index" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento">Instrumentos</a>
                                </div>
                            }
                            @if (Model != null)
                            {
                                @if (ViewBag.user == "WESLLEY NUNES" || ViewBag.user == "WESLLEY" || ViewBag.user == "JMOLINA" || ViewBag.user == "FAGUNDESOFF" || ViewBag.user == "DCALDAS" || ViewBag.user == "GABRIELS")
                                {
                                    <div class="input-group-append  col-sm-1 ml-3">
                                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" id="myInput">
                                            Revisão
                                        </button>
                                    </div>
                                }
                            }
                            @if (Model != null)
                            {
                                if (ViewBag.bloqueada == "Não" || ViewBag.bloqueada == null)
                                {
                                    @if (ViewBag.user == "CASSIO FARIAS" || ViewBag.user == "WESLLEY NUNES" || ViewBag.user == "WESLLEY" || ViewBag.user == "JMOLINA" || ViewBag.user == "FAGUNDESOFF" || ViewBag.user == "DCALDAS" || ViewBag.user == "GABRIELS")
                                    {
                                        <div class="input-group-append  col-sm-1 ml-1">
                                            <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#secondModal" id="secondInput">
                                                Bloquear
                                            </button>
                                        </div>
                                    }
                                }
                                else
                                {
                                    @if (ViewBag.user == "WESLLEY NUNES" || ViewBag.user == "WESLLEY" || ViewBag.user == "JMOLINA" || ViewBag.user == "FAGUNDESOFF" || ViewBag.user == "DCALDAS" || ViewBag.user == "GABRIELS")
                                    {
                                        <div class="input-group-append  col-sm-1 ml-1">
                                            <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#secondModal" id="secondInput">
                                                Desbloquear
                                            </button>
                                        </div>
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </form>

        @if (Model != null)
        {
            <div class="custom-container-wrapper mb-3">
                <div class="form-row mt-4">
                    @* verificando cada os dentro do orçamento de laminas  para mostrar a atenção ao usuario*@

                    @if (ViewBag.ensaio == "Laminas")
                    {
                        int contador = 0;
                        string primeira = string.Empty;
                        string segunda = string.Empty;
                        @foreach (var contemOs in ViewBag.ContemOs)
                        {
                            if (contador == 0)
                            {
                                primeira = @contemOs.OS;
                            }
                            segunda = @contemOs.OS;
                            contador++;
                        }

                        <div class="alert alert-warning atencao form-control col-md-10">
                            <p>ATENÇÃO!!! ESSE ENSAIO CONTEM DA OS: <b>@primeira</b> ATÉ A OS: <b>@segunda</b></p>
                        </div>
                    }
                    @for (var j = 0; j < ViewBag.PercorrerRegstro.Count; j++)
                    {
                        <table class="tables table-bordered table-striped  table-sm">
                            <tr>
                                <td class="fundo-tabela" colspan="8">DADOS DA COLETA</td>
                            </tr>

                            <tr class="fundo-tabela">
                                <td colspan="2">OS</td>
                                <td>ORCAMENTO</td>
                                <td>REV</td>
                                <td>DESCRIÇÃO</td>
                                <td>PRODUTO ENSAIADO</td>
                                <td>ENSAIO</td>
                                <td>INFORMAÇÕES</td>
                            </tr>
                            @if (ViewBag.ensaio == "Laminas" || ViewBag.ensaio == "Molas")
                            {
                                <tr>
                                    <td colspan="2">@ViewBag.os</td>
                                    <td>@ViewBag.orcamento</td>
                                    <td>@ViewBag.rev</td>
                                    <td>Condicionamento</td>
                                    <td>Ensaio Condicionamento</td>
                                    <td>
                                        <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="Condicionamento" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento" asp-route-rev="@ViewBag.rev">Abrir</a>
                                    </td>
                                    <td>
                                        <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EditarRegistroMolas" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento" asp-route-rev="@ViewBag.rev">Informações</a>
                                    </td>
                                </tr>
                            }

                            @for (var i = 0; i < Model.Count; i++)
                            {
                                <tr>

                                    @if (@Model[i].descricao == "  |  FATOR DE CONFORTO")
                                    {
                                        <td style="display:none;"></td>
                                    }
                                    else
                                    {
                                        <td colspan="2">
                                            @Model[i].OS
                                        </td>
                                    }
                                    @if (@Model[i].descricao == "  |  FATOR DE CONFORTO")
                                    {
                                        <td style="display:none;"></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @Model[i].orcamento
                                        </td>
                                        <td>@ViewBag.PercorrerRegstro[j].rev</td>
                                    }

                                    @if (@Model[i].descricao == "5.6 I DETERMINAÇÃO DO TEOR DE CINZAS")
                                    {
                                        <td>5.6 I DETERMINAÇÃO DA FORÇA DE INDENTAÇÃO (P.F.I) - (ABNT NBR 9176)</td>
                                    }
                                    else if (@Model[i].descricao == "  |  FATOR DE CONFORTO")
                                    {
                                        <td style="display:none;"></td>
                                    }
                                    else
                                    {
                                        <td> @Model[i].descricao </td>
                                    }

                                    @if (@Model[i].descricao == "  |  FATOR DE CONFORTO")
                                    {
                                        <td style="display:none;"></td>
                                    }
                                    @*  else{
                        <td>
                        ANDAMENTO
                        </td>
                        } *@

                                    @if (@Model[i].descricao == "  |  FATOR DE CONFORTO")
                                    {
                                        <td style="display:none;"></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @Model[i].ProdEnsaiado
                                        </td>
                                    }
                                                              

                                    @if (Model[i].codigo == "BOPCCH001000001")
                                    {
                                    <td>
                                        <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EnsaioMolas4_3" asp-route-os="@Model[i].OS" asp-route-orcamento="@Model[i].orcamento" asp-route-rev="@ViewBag.PercorrerRegstro[j].rev">Abrir</a>
                                    </td>
                                    <td>
                                        <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EditarRegistroMolas" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento" asp-route-rev="@ViewBag.PercorrerRegstro[j].rev">Informações</a>
                                    </td>
                                    }
                                    @if (Model[i].codigo == "DEFCCH001000001")
                                    {
                                    <td>
                                        <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EnsaioMolas7_5" asp-route-os="@Model[i].OS" asp-route-orcamento="@Model[i].orcamento" asp-route-rev="@ViewBag.PercorrerRegstro[j].rev">Abrir</a>
                                    </td>
                                    <td>
                                        <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EditarRegistroMolas" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento" asp-route-rev="@ViewBag.PercorrerRegstro[j].rev">Informações</a>
                                    </td>
                                    }
                                    @if (Model[i].codigo == "DIMCCH001000001")
                                    {
                                        if (ViewBag.ensaio == "Molas")
                                        {
                                        <td>
                                            <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EnsaioMolas7_2" asp-route-os="@Model[i].OS" asp-route-orcamento="@Model[i].orcamento" asp-route-rev="@ViewBag.PercorrerRegstro[j].rev">Abrir</a>
                                        </td>
                                        <td>
                                            <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EditarRegistroMolas" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento" asp-route-rev="@ViewBag.PercorrerRegstro[j].rev">Informações</a>
                                        </td>
                                        }
                                        else
                                        {
                                        <td>
                                            <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EnsaioEspuma4_1" asp-route-os="@Model[i].OS" asp-route-orcamento="@Model[i].orcamento" asp-route-rev="@ViewBag.PercorrerRegstro[j].rev">Abrir</a>
                                        </td>
                                        <td>
                                            <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EditarIndexEspuma" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento" asp-route-rev="@ViewBag.PercorrerRegstro[j].rev">Informações</a>
                                        </td>
                                        }

                                    }

                                    @if (Model[i].codigo == "FLECCH001000001")
                                    {
                                    <td>
                                        <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EnsaioMolas7_8" asp-route-os="@Model[i].OS" asp-route-orcamento="@Model[i].orcamento" asp-route-rev="@ViewBag.PercorrerRegstro[j].rev">Abrir</a>
                                    </td>
                                    <td>
                                        <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EditarRegistroMolas" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento" asp-route-rev="@ViewBag.PercorrerRegstro[j].rev">Informações</a>
                                    </td>
                                    }
                                    @if (Model[i].codigo == "IDTCCH001000001")
                                    {
                                        @if (ViewBag.ensaio == "Molas")
                                        {
                                        <td>
                                            <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EnsaioMolas7_6" asp-route-os="@Model[i].OS" asp-route-orcamento="@Model[i].orcamento" asp-route-rev="@ViewBag.PercorrerRegstro[j].rev">Abrir</a>
                                        </td>
                                        <td>
                                            <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EditarRegistroMolas" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento" asp-route-rev="@ViewBag.PercorrerRegstro[j].rev">Informações</a>
                                        </td>
                                        }
                                        else if (ViewBag.ensaio == "Laminas")
                                        {
                                        <td>
                                            <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="LaminaF_I" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento" asp-route-rev="@ViewBag.PercorrerRegstro[j].rev">Abrir</a>
                                        </td>
                                        <td>
                                            <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EditarLamina" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento" asp-route-rev="@ViewBag.PercorrerRegstro[j].rev">Informações</a>
                                        </td>
                                        }
                                    }
                                    @if (Model[i].codigo == "MLJCCH001000001")
                                    {
                                    <td>
                                        <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EnsaioMolas7_7" asp-route-os="@Model[i].OS" asp-route-orcamento="@Model[i].orcamento" asp-route-rev="@ViewBag.PercorrerRegstro[j].rev">Abrir</a>
                                    </td>
                                    <td>
                                        <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EditarRegistroMolas" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento" asp-route-rev="@ViewBag.PercorrerRegstro[j].rev">Informações</a>
                                    </td>
                                    }
                                    @if (Model[i].codigo == "PRLCCH001000001")
                                    {
                                    <td>
                                        <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EnsaioMolas7_1" asp-route-os="@Model[i].OS" asp-route-orcamento="@Model[i].orcamento" asp-route-rev="@ViewBag.PercorrerRegstro[j].rev">Abrir</a>
                                    </td>
                                    <td>
                                        <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EditarRegistroMolas" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento" asp-route-rev="@ViewBag.PercorrerRegstro[j].rev">Informações</a>
                                    </td>
                                    }
                                    @if (Model[i].codigo == "RLGCCH001000001")
                                    {
                                    <td>
                                        <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EnsaioMolas7_3" asp-route-os="@Model[i].OS" asp-route-orcamento="@Model[i].orcamento" asp-route-rev="@ViewBag.PercorrerRegstro[j].rev">Abrir</a>
                                    </td>
                                    <td>
                                        <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EditarRegistroMolas" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento" asp-route-rev="@ViewBag.PercorrerRegstro[j].rev">Informações</a>
                                    </td>
                                    }
                                    @if (Model[i].codigo == "CASCCH000000001")
                                    {
                                    <td>
                                        <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="Espuma4_4" asp-route-os="@Model[i].OS" asp-route-orcamento="@Model[i].orcamento" asp-route-rev="@ViewBag.PercorrerRegstro[j].rev">Abrir</a>
                                    </td>
                                    <td>
                                        <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EditarIndexEspuma" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento" asp-route-rev="@ViewBag.PercorrerRegstro[j].rev">Informações</a>
                                    </td>
                                    }
                                    @if (Model[i].codigo == "COLCCH001000001")
                                    {
                                    <td>
                                        <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EnsaioEspuma4_3" asp-route-os="@Model[i].OS" asp-route-orcamento="@Model[i].orcamento" asp-route-rev="@ViewBag.PercorrerRegstro[j].rev">Abrir</a>
                                    </td>
                                    <td>
                                        <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EditarIndexEspuma" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento" asp-route-rev="@ViewBag.PercorrerRegstro[j].rev">Informações</a>
                                    </td>
                                    }
                                    @if (Model[i].codigo == "CRGCCH003000001")
                                    {
                                    <td>
                                        <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EnsaioBaseCargaEstatica" asp-route-os="@Model[i].OS" asp-route-orcamento="@Model[i].orcamento" asp-route-rev="@ViewBag.PercorrerRegstro[j].rev">Abrir</a>
                                    </td>
                                    <td>
                                        <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EditarIndexEspuma" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento" asp-route-rev="@ViewBag.PercorrerRegstro[j].rev">Informações</a>
                                    </td>
                                    }
                                    @if (Model[i].codigo == "IMPCCH001000001")
                                    {
                                        if (ViewBag.ensaio == "Molas")
                                        {
                                        <td>
                                            <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EnsaioImpacto" asp-route-os="@Model[i].OS" asp-route-orcamento="@Model[i].orcamento" asp-route-rev="@ViewBag.PercorrerRegstro[j].rev">Abrir</a>
                                        </td>
                                        <td>
                                            <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EditarRegistroMolas" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento" asp-route-rev="@ViewBag.PercorrerRegstro[j].rev">Informações</a>
                                        </td>
                                        }
                                        else
                                        {
                                        <td>
                                            <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EnsaioImpactoEspuma" asp-route-os="@Model[i].OS" asp-route-orcamento="@Model[i].orcamento" asp-route-rev="@ViewBag.PercorrerRegstro[j].rev">Abrir</a>
                                        </td>
                                        <td>
                                            <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EditarIndexEspuma" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento" asp-route-rev="@ViewBag.PercorrerRegstro[j].rev">Informações</a>
                                        </td>
                                        }

                                    }
                                    @if (Model[i].codigo == "EMBCCH001000001")
                                    {
                                        if (ViewBag.ensaio == "Molas")
                                        {
                                        <td>
                                            <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="IdentificacaoEmbalagemMolas" asp-route-os="@Model[i].OS" asp-route-orcamento="@Model[i].orcamento" asp-route-rev="@ViewBag.PercorrerRegstro[j].rev">Abrir</a>
                                        </td>
                                        <td>
                                            <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EditarRegistroMolas" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento" asp-route-rev="@ViewBag.PercorrerRegstro[j].rev">Informações</a>
                                        </td>
                                        }
                                        else
                                        {
                                        <td>
                                            <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="IdentificacaoEmbalagem" asp-route-os="@Model[i].OS" asp-route-orcamento="@Model[i].orcamento" asp-route-rev="@ViewBag.PercorrerRegstro[j].rev">Abrir</a>
                                        </td>
                                        <td>
                                            <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EditarIndexEspuma" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento" asp-route-rev="@ViewBag.PercorrerRegstro[j].rev">Informações</a>
                                        </td>
                                        }

                                    }
                                    @if (Model[i].codigo == "DURCCH000000001")
                                    {
                                        @if (ViewBag.Ensaio == "Molas")
                                        {

                                        <td>
                                            <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EnsaioDurabilidade" asp-route-os="@Model[i].OS" asp-route-orcamento="@Model[i].orcamento" asp-route-rev="@ViewBag.PercorrerRegstro[j].rev">Abrir</a>
                                        </td>
                                        <td>
                                            <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EditarRegistroMolas" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento" asp-route-rev="@ViewBag.PercorrerRegstro[j].rev">Informações</a>
                                        </td>
                                        }
                                        else
                                        {
                                        <td>
                                            <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EnsaioDurabilidadeEspuma" asp-route-os="@Model[i].OS" asp-route-orcamento="@Model[i].orcamento" asp-route-rev="@ViewBag.PercorrerRegstro[j].rev">Abrir</a>
                                        </td>
                                        <td>
                                            <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EditarIndexEspuma" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento" asp-route-rev="@ViewBag.PercorrerRegstro[j].rev">Informações</a>
                                        </td>
                                        }
                                    }


                                    @if (Model[i].codigo == "DURCCH000000002")
                                    {
                                        @if (ViewBag.Ensaio == "Espuma")
                                        {
                                        <td>
                                            <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EnsaioBaseEstruturaDurabi" asp-route-os="@Model[i].OS" asp-route-orcamento="@Model[i].orcamento" asp-route-rev="@ViewBag.PercorrerRegstro[j].rev">Abrir</a>
                                        </td>
                                        <td>
                                            <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EditarIndexEspuma" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento" asp-route-rev="@ViewBag.PercorrerRegstro[j].rev">Informações</a>
                                        </td>
                                        }
                                        else
                                        {
                                        <td>
                                            <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EnsaioBaseEstruturaDurabi" asp-route-os="@Model[i].OS" asp-route-orcamento="@Model[i].orcamento" asp-route-rev="@ViewBag.PercorrerRegstro[j].rev">Abrir</a>
                                        </td>
                                        <td>
                                            <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EditarRegistroMolas" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento" asp-route-rev="@ViewBag.PercorrerRegstro[j].rev">Informações</a>
                                        </td>
                                        }
                                    }

                                    @if (Model[i].codigo == "DNSCCH002000001")
                                    {
                                        @if (ViewBag.ensaio == "Molas")
                                        {
                                        <td>
                                            <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EnsaioDurabilidade" asp-route-os="@Model[i].OS" asp-route-orcamento="@Model[i].orcamento" asp-route-rev="@ViewBag.PercorrerRegstro[j].rev">Abrir</a>
                                        </td>
                                        <td>
                                            <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EditarRegistroMolas" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento" asp-route-rev="@ViewBag.PercorrerRegstro[j].rev">Informações</a>
                                        </td>
                                        }
                                        else if (ViewBag.ensaio == "Laminas")
                                        {
                                        <td>
                                            <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="LaminaDeterminacaoDensidade" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento" asp-route-rev="@ViewBag.PercorrerRegstro[j].rev">Abrir</a>
                                        </td>
                                        <td>
                                            <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EditarLamina" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento" asp-route-rev="@ViewBag.PercorrerRegstro[j].rev">Informações</a>
                                        </td>
                                        }

                                    }

                                    @if (Model[i].codigo == "DPCCCH002000001")
                                    {
                                    <td>
                                        <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="LaminaDPC" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento" asp-route-rev="@ViewBag.PercorrerRegstro[j].rev">Abrir</a>
                                    </td>
                                    <td>
                                        <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EditarLamina" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento" asp-route-rev="@ViewBag.PercorrerRegstro[j].rev">Informações</a>
                                    </td>
                                    }


                                    @if (@Model[i].descricao != "5.6  |  DETERMINAÇÃO DO TEOR DE CINZAS (ABNT NBR 14961)")
                                    {
                                        @if (Model[i].codigo == "QUICCH002000001")
                                        {
                                        <td>
                                            <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="LaminaPFI" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento" asp-route-rev="@ViewBag.PercorrerRegstro[j].rev">Abrir</a>
                                        </td>
                                        <td>
                                            <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EditarLamina" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento" asp-route-rev="@ViewBag.PercorrerRegstro[j].rev">Informações</a>
                                        </td>
                                        }
                                    }
                                    else
                                    {
                                    <td colspan="2">ENSAIO PARA O QUIMICO.</td>
                                    }

                                    @if (Model[i].codigo == "RSLCCH002000001")
                                    {
                                    <td>
                                        <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="LamindaDeterminacaoResiliencia" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento" asp-route-rev="@ViewBag.PercorrerRegstro[j].rev">Abrir</a>
                                    </td>
                                    <td>
                                        <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EditarLamina" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento" asp-route-rev="@ViewBag.PercorrerRegstro[j].rev">Informações</a>
                                    </td>
                                    }
                                    @if (Model[i].codigo == "FDGCCH002000001")
                                    {
                                    <td>
                                        <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="LaminaFadiga" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento" asp-route-rev="@ViewBag.PercorrerRegstro[j].rev">Abrir</a>
                                    </td>
                                    <td>
                                        <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EditarLamina" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento" asp-route-rev="@ViewBag.PercorrerRegstro[j].rev">Informações</a>
                                    </td>
                                    }
                                    @*   @if (Model[i].codigo == "FTCCCH002000001")
                        {
                        <td>
                        <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="FatorConforto" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento">Abrir</a>
                        </td>
                        <td>
                        <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EditarLamina" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento">Informações</a>
                        </td>
                        } *@

                                </tr>
                            }

                            @*  @if (ViewBag.estrutura != null)
                    {
                    @if (ViewBag.estrutura == "Box Conjugado" || ViewBag.estrutura == "Auxiliar")
                    {
                    <tr class="fundo-tabela">
                    <td colspan="7">
                    Ensaio De Base
                    </td>
                    </tr>
                    <tr class="fundo-tabela">

                    <td>OS</td>
                    <td>ORCAMENTO</td>
                    <td>DESCRIÇÃO</td>
                    <td>STATUS</td>
                    <td>PRODUTO ENSAIADO</td>
                    <td>ENSAIO</td>
                    <td>INFORMAÇÕES</td>
                    </tr>

                    <tr>
                    <td>@ViewBag.os</td>
                    <td>@ViewBag.orcamento</td>
                    <td>Ensaio base Durabilidade</td>
                    <td>teste</td>
                    <td>Durabilidade</td>
                    <td>
                    <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EnsaioDurabilidade" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento">Abrir</a>
                    </td>
                    <td>
                    <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EditarRegistroMolas" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento">Informações</a>
                    </td>
                    </tr>
                    <tr>
                    <td>@ViewBag.os</td>
                    <td>@ViewBag.orcamento</td>
                    <td>Durabilidade Estrutura e Uniões </td>
                    <td>teste</td>
                    <td>Estrutura e Uniões</td>
                    <td>
                    <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EnsaioBaseEstruturaDurabi" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento">Abrir</a>
                    </td>
                    <td>
                    <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EditarRegistroMolas" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento">Informações</a>
                    </td>
                    </tr>
                    <tr>
                    <td>@ViewBag.os</td>
                    <td>@ViewBag.orcamento</td>
                    <td>Ensaio de Impacto Vertical</td>
                    <td>teste</td>
                    <td>Impacto Vertical</td>
                    <td>
                    <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EnsaioImpacto" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento">Abrir</a>
                    </td>
                    <td>
                    <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EditarRegistroMolas" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento">Informações</a>
                    </td>
                    </tr>
                    }
                    } *@
                        </table>
                    }
                </div>
            </div>

            @* modal *@
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <form id="revisaoForm" method="post" action="@Url.Action("GerarRevisao", "Home")">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Gerar Revisão</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="os" class="col-form-label">Os:</label>
                                    <input type="text" class="form-control" id="os" name="os" value="@ViewBag.os" readonly>
                                </div>
                                <div class="mb-3">
                                    <label for="orcamento" class="col-form-label">Orçamento:</label>
                                    <input type="text" class="form-control" id="orcamento" name="orcamento" value="@ViewBag.orcamento" readonly>
                                </div>
                                <div class="mb-3">
                                    <input type="hidden" class="form-control" id="ensaio" name="ensaio" value="@ViewBag.ensaio" readonly>
                                </div>
                                <div class="mb-3">
                                    <input type="hidden" class="form-control" id="ensaio" name="revisao" value="@ViewBag.rev" readonly>
                                </div>
                                <div class="mb-3">
                                    <label for="orcamento" class="col-form-label">Nota:</label>
                                    <input type="text" class="form-control" id="nota" name="nota">
                                </div>
                                <div class="mb-3">
                                    <label for="motivo" class="col-form-label">Motivo:</label>
                                    <textarea class="form-control" id="motivo" name="motivo"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button id="fecharRevisao" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                <button id="salvarRevisao" type="submit" class="btn btn-success" onclick="myFunction(event)">Salvar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Segundo Modal -->
            <div class="modal fade" id="secondModal" tabindex="-1" aria-labelledby="secondModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form id="bloqueioForm" method="post" action="@Url.Action("BloquearColeta", "Home")">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="secondModalLabel">Bloquar Coleta</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <!-- Campos do segundo formulário -->
                                <div class="mb-3">
                                    <label for="campo1" class="col-form-label">Os</label>
                                    <input type="text" class="form-control" id="campo1" name="os" value="@ViewBag.os" readonly>
                                </div>
                                <div class="mb-3">
                                    <label for="campo2" class="col-form-label">Orçamento</label>
                                    <input type="text" class="form-control" id="campo1" name="orcamento" value="@ViewBag.orcamento" readonly>
                                </div>
                                @if (ViewBag.user == "WESLLEY NUNES" || ViewBag.user == "WESLLEY" || ViewBag.user == "JMOLINA" || ViewBag.user == "FAGUNDESOFF" || ViewBag.user == "DCALDAS" || ViewBag.user == "GABRIELS")
                                {
                                    @if (ViewBag.bloqueada == "Sim")
                                    {
                                        <div class="mb-3">
                                            <label for="campo2" class="col-form-label">motivo</label>
                                            <input type="text" class="form-control" id="campo1" name="motivo">
                                        </div>
                                    }
                                }
                                <div class="mb-3">
                                    <input type="hidden" class="form-control" id="ensaio" name="ensaio" value="@ViewBag.ensaio" readonly>
                                </div>


                                <!-- Adicione mais campos conforme necessário -->
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="fecharBloqueio" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                <button type="submit" id="salvarBloqueio" class="btn btn-primary" onclick="myFunctionBloquear(event)">Salvar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>



        }
    </div>
    <script>
        const myModal = document.getElementById('myModal')
        const myInput = document.getElementById('myInput')

        myModal.addEventListener('shown.bs.modal', () => {
            myInput.focus()
        })

        // Segundo Modal
        const secondModal = document.getElementById('secondModal');
        const secondInput = document.getElementById('secondInput');

        secondModal.addEventListener('shown.bs.modal', () => {

            secondInput.focus();

        })

        function myFunction(event) {
            event.preventDefault();

            if (confirm("Você tem certeza que deseja gerar uma nova revisão?")) {
                document.getElementById("salvarRevisao").disabled = true;
                document.getElementById("fecharRevisao").disabled = true;
                document.getElementById("revisaoForm").submit();
            }
        }

         function myFunctionBloquear(event) {
            event.preventDefault();

            if (confirm("Você tem certeza que deseja bloquear Coleta?")) {
                document.getElementById("fecharBloqueio").disabled = true;
                document.getElementById("salvarBloqueio").disabled = true;
                document.getElementById("bloqueioForm").submit();
            }
        }
    </script>
</body>
</html>

@if (TempData.ContainsKey("Mensagem"))
{
    <script>
        alert('@Html.Raw(TempData["Mensagem"])');

    </script>
}

