@model List<ColetaModel.Registro>;
@{
    ViewData["Title"] = "Informações";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/coleta.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .full-height {
            min-height: 80vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-bottom: 2px solid rgba(255,255,255, 0.1);
            align-items: center;
        }

        .hidden {
            opacity: 0;
            filter: blur(15px);
            transform: translateX(-100%);
            transition: all 0.2s;
        }

        .show {
            opacity: 1;
            filter: blur(0);
            transform: translateX(0);
            transition: all 0.5s;
        }

        .sessaodois {
            display: none;
        }

        .estilo-select {
            background-color: #F0F0F0;
            border: 1px solid #CCCCCC;
            padding: 5px;
            border-radius: 5px;
        }

        .fornecedor, .molejo, .bitola, .quant_molas {
            display: none;
        }

        body {
            padding: 0px;
            margin: 0;
            background-color: #fafafa;
        }
    </style>
</head>
<body>
    @if (Model != null)
    {
        <form asp-controller="Coleta" asp-action="EditarRegistroMolas" method="post" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento" asp-route-rev="@ViewBag.rev">
            @for (var i = 0; i < Model.Count; i++)
            {
                <div class="full-height text-center">

                    <table class="tables table-bordered border-secondary  table-sm">
                        <tr>
                            <td colspan="5" class="fundo-tabela">
                                <h1>
                                    Informações Iniciais
                                </h1>
                            </td>
                        </tr>
                        <tr>
                            <td> Orçamento : </td>
                            <td colspan="4"> <input class="form-control" type="text" value="@ViewBag.orcamento" readonly /> </td>
                        </tr>
                        <tr>
                            <td> Ordem de serviço : </td>
                            <td colspan="4"> <input class="form-control" type="text" value="@ViewBag.os" readonly /> </td>
                        </tr>
                        <tr>
                            <td> Contém Lacre : </td>
                            <td>
                                <select class="form-control" name="lacre">
                                    <option>@Model[i].lacre</option>
                                    <option value="Sim"> Sim </option>
                                    <option value="Não"> Não </option>
                                </select>
                            </td>
                            <td> Local da realizaçãp dos ensaios : </td>
                            <td colspan="2">
                                <select class="form-control" name="realizacao_ensaios">
                                    <option>@Model[i].realizacao_ensaios</option>
                                    <option value="Instalação permanente">Instalação permanente</option>
                                    <option value="Instalação do cliente">Instalação do cliente</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td> Quantidade recebida : </td>
                            <td> <input class="form-control" type="text" name="quant_recebida" value="@Model[i].quant_recebida" /> </td>
                            <td> Quantidade Ensaiada :  </td>
                            <td colspan="2"> <input class="form-control" type="text" name="quant_ensaiada" value="@Model[i].quant_recebida" /> </td>
                        </tr>
                        <tr>
                            <td> Data de realização dos ensaios: </td>
                            <td> Ínicio: </td>
                            <td> <input class="form-control" type="text" name="data_realizacao_ini" value="@Model[i].data_realizacao_ini" /> </td>
                            <td> Término :  </td>
                            <td> <input class="form-control" type="text" name="data_realizacao_term" value="@Model[i].data_realizacao_term" /> </td>
                        </tr>
                    </table>

                    <table class="tables table-bordered border-secondary  table-sm">
                        <tr>
                            <td> Marca / Modelo</td>
                            <td colspan="3"> <input class="form-control" type="text" name="marca_modelo" value="@Model[i].marca_modelo"/></td>
                        </tr>
                        <tr>
                            <td> Número de processo </td>
                            <td> <input class="form-control" type="text" name="num_proc" value="@Model[i].num_proc" /> </td>
                            <td> Código de referência </td>
                            <td> <input class="form-control" type="text" name="cod_ref" value="@Model[i].cod_ref" /> </td>
                        </tr>
                        <tr>
                            <td> Tipo de certificação </td>
                            <td colspan="2"> Modelo de certificação </td>
                            <td> Tipo de processo: </td>
                        </tr>
                        <tr>
                            <td> <input class="form-control" type="text" name="tipo_cert" value="@Model[i].tipo_cert" /> </td>
                            <td colspan="2"> <input class="form-control" type="text" name="modelo_cert" value="@Model[i].modelo_cert" /> </td>
                            <td> <input class="form-control" type="text" name="tipo_proc" value="@Model[i].tipo_proc" /> </td>
                        </tr>
                        <tr>
                            <td> Produto </td>
                            <td colspan="3"> <input class="form-control" type="text" name="produto" value="@Model[i].produto" /> </td>
                        </tr>
                        <tr>
                            <td> Estrutura </td>
                            <td colspan="3">
                                @*                         <input class="form-control" type="text" name="estruturs" /> @*@
                                <select class="form-control" name="estrutura">
                                    <option selected> @Model[i].estrutura</option>
                                    <option value="Box Conjugado">Box Conjugado</option>
                                    <option value="Auxiliar">Auxiliar</option>
                                    <option value="Simples">Simples</option>
                                </select>

                            </td>
                        </tr>
                        <tr>
                            <td> Tipo de Molejo </td>
                            <td colspan="3">
                                @* <input class="form-control" type="text" name="tipo_molejo" /> *@
                                <select class="form-control" name="tipo_molejo">
                                    <option selected> @Model[i].tipo_molejo</option>
                                    <option value="Estrutural">Estrutural</option>
                                    <option value="Conforto">Conforto</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td> Quantidade de Molejo </td>
                            <td colspan="3">
                                <input class="form-control" name="quant_molejo" id="quant_molejo" value="@Model[i].quant_molejo" readonly />
                               @*  <select class="form-control" name="quant_molejo">
                                    <option selected> @Model[i].quant_molejo </option>
                                    <option value="1"> 1 </option>
                                    <option value="2"> 2 </option>
                                </select> *@
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="10"> Tipo de mola do molejo </td>
                            <td> Fornecedor </td>
                            <td colspan="2"> <input class="form-control" type="text" name="fornecedor_um" value="@Model[i].fornecedor_um" /> </td>
                        </tr>
                        <tr class="fornecedor">
                            <td> Fornecedor </td>
                            <td colspan="2"> <input class="form-control" type="text" name="fornecedor_dois" value="@Model[i].fornecedor_dois" /> </td>
                        </tr>
                        <tr class="molejo">
                            <td> Nome do Molejo </td>
                            <td colspan="2">
                                <select class="form-control" name="nome_molejo_um">
                                    <option value="@Model[i].nome_molejo_um" selected> @Model[i].nome_molejo_um</option>
                                    <option value="Bonell |">Bonell</option>
                                    <option value="Bonell ||">Bonel ||</option>
                                    <option value="Mola ensacada">Mola ensacada</option>
                                    <option value="LKF">LKF</option>
                                    <option value="Verticoil">Verticoil</option>
                                    <option value="Fio Continuo |">Fio Continuo |	</option>
                                    <option value="Fio continuo ||">Fio continuo ||</option>
                                    <option value="Offset">Offset</option>
                                </select>
                                @*                         <input class="form-control" type="text" name="nome_molejo_um" />
                        *@
                            </td>
                        </tr>
                        <tr>
                            <td> Nome do Molejo </td>
                            <td colspan="2">
                                <select class="form-control" name="nome_molejo_dois">
                                    <option value="@Model[i].nome_molejo_dois" selected> @Model[i].nome_molejo_dois</option>
                                    <option value="Bonell |">Bonell |</option>
                                    <option value="Bonell ||">Bonell ||</option>
                                    <option value="Mola ensacada">Mola ensacada</option>
                                    <option value="LKF">LKF</option>
                                    <option value="Verticoil">Verticoil</option>
                                    <option value="Fio Continuo |">Fio Continuo |	</option>
                                    <option value="Fio continuo ||">Fio continuo ||</option>
                                    <option value="Offset">Offset</option>
                                </select>
                                @*                                 <input class="form-control" type="text" name="nome_molejo_dois" value="@Model[i].nome_molejo_dois" />
                        *@
                            </td>
                        </tr>
                        <tr class="quant_molas">
                            <td> Quantidade média de molas/m² </td>
                            <td colspan="2"> <input class="form-control" type="text" name="quant_media_um" value="@Model[i].quant_media_um" /> </td>
                        </tr>
                        <tr>
                            <td> Quantidade média de molas/m² </td>
                            <td colspan="2"> <input class="form-control" type="text" name="quant_media_dois" value="@Model[i].quant_media_dois" /> </td>
                        </tr>
                        <tr class="bitola">
                            <td> Bitola do Arame </td>
                            <td colspan="2"> <input class="form-control" type="text" name="bitola_arame_um" value="@Model[i].bitola_arame_um" /> </td>
                        </tr>
                        <tr>
                            <td> Bitola do Arame </td>
                            <td colspan="2"> <input class="form-control" type="text" name="bitola_arame_dois" value="@Model[i].bitola_arame_dois" /> </td>
                        </tr>
                        <tr>
                            <td colspan="2">  Borda Pimental </td>
                            <td colspan="3">
                                @* <input class="form-control" type="text" name="borda_peri" /> *@
                                <select class="form-control" name="borda_peri">
                                    <option selected>@Model[i].borda_peri</option>
                                    <option value="NA">NA</option>
                                    <option value="Sim">Sim</option>
                                    <option value="Não">Não</option>
                                </select>

                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">  Metelassê </td>
                            <td colspan="3">
                                @* <input class="form-control" type="text" name="borda_peri" /> *@
                                <select class="form-control" name="metalasse">
                                    <option selected>@Model[i].metalasse</option>
                                    <option value="NA">NA</option>
                                    <option value="Sim">Sim</option>
                                    <option value="Não">Não</option>
                                </select>

                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">  Quantidade de face </td>
                            <td colspan="3">
                                @* <input class="form-control" type="text" name="borda_peri" /> *@
                                <select class="form-control" name="qtd_face">
                                    <option selected>@Model[i].qtd_face</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                </select>

                            </td>
                        </tr>
                        <tr>
                            <td> Comprimento </td>
                            <td colspan="2"> <input class="form-control" type="text" name="comprimento" value="@Model[i].comprimento" /> </td>
                        </tr>
                        <tr>
                            <td> Largura </td>
                            <td colspan="2"> <input class="form-control" type="text" name="largura" value="@Model[i].largura" /> </td>
                        </tr>
                        <tr>
                            <td> Altura </td>
                            <td colspan="2"> <input class="form-control" type="text" name="altura" value="@Model[i].altura" /> </td>
                        </tr>
                        <tr>
                            <td colspan="2">  Isolante </td>
                            <td colspan="3">
                                @*   <input class="form-control" type="text" name="isolante" /> *@
                                <select class="form-control" name="isolante">
                                    <option selected>@Model[i].isolante</option>
                                    <option value="NA">NA</option>
                                    <option value="Sim">Sim</option>
                                    <option value="Não">Não</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">  Latex </td>
                            <td colspan="3">
                                @* <input class="form-control" type="text" name="latex" />*@
                                <select class="form-control" type="text" name="latex">
                                    <option selected>@Model[i].latex</option>
                                    <option value="Sim">Sim</option>
                                    <option value="Não">Não</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">  Napa, Courvin, Plásticos </td>
                            <td colspan="3">
                                @*                         <input class="form-control" type="text" name="napa_cou_plas" />
                        *@
                                <select class="form-control" type="text" name="napa_cou_plas">
                                    <option selected>@Model[i].napa_cou_plas</option>
                                    <option value="Sim">Sim</option>
                                    <option value="Não">Não</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">  Manual de Uso </td>
                            <td colspan="3">
                                @*  <input class="form-control" type="text" name="manual" />  *@
                                <select class="form-control" type="text" name="manual">
                                    <option selected>@Model[i].manual</option>
                                    <option value="Sim">Sim</option>
                                    <option value="Não">Não</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <button type="submit" class="btn btn-success"> Editar Informações</button>
                            </td>
                        </tr>
                    </table>
                </div>

            }
        </form>
    }

    @if (TempData.ContainsKey("Mensagem"))
    {
        <script>
            alert('@Html.Raw(TempData["Mensagem"])');
        </script>
    }

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var selectQuantMolas = document.querySelector('select[name="tipo_molejo"]');
            var quant_molejo = document.getElementById("quant_molejo");

            var selectedValue = selectQuantMolas.value;
            var trFornecedor = document.querySelector('.fornecedor');
            var trMolejo = document.querySelector('.molejo');
            var trQuantMolas = document.querySelector('.quant_molas');
            var trBitola = document.querySelector('.bitola');

            if (selectedValue == 'Conforto'){
                trFornecedor.style.display = 'table-row';
                trMolejo.style.display = 'table-row';
                trQuantMolas.style.display = 'table-row';
                trBitola.style.display = 'table-row';
            }

            if (selectedValue === 'Conforto') {
                quant_molejo.value = 2;
            } else {
                quant_molejo.value = 1;
            }

            selectQuantMolas.addEventListener('change', function () {
                var selectedValue = selectQuantMolas.value;

                var trFornecedor = document.querySelector('.fornecedor');
                var trMolejo = document.querySelector('.molejo');
                var trQuantMolas = document.querySelector('.quant_molas');
                var trBitola = document.querySelector('.bitola');

                trFornecedor.style.display = 'none';
                trMolejo.style.display = 'none';
                trQuantMolas.style.display = 'none';
                trBitola.style.display = 'none';

                // Mostrar as trs com base no valor selecionado
                if (selectedValue == 'Conforto') {
                    trFornecedor.style.display = 'table-row';
                    trMolejo.style.display = 'table-row';
                    trQuantMolas.style.display = 'table-row';
                    trBitola.style.display = 'table-row';
                }

                if (selectedValue === 'Conforto') {
                    quant_molejo.value = 2;
                } else {
                    quant_molejo.value = 1;
                }
            });
        });
        document.addEventListener("keydown", function (e) {
            if (e.keyCode === 13) {

                e.preventDefault();

            }
        });
    </script>


</body>
</html>
