@model ColetaModel.Ensaio7_8;
@{
    Layout = null;
}
@{
    ViewData["Title"] = "ENSAIO DE FLEXIBILIDADE EM MATERIAL ISOLANTE";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/coleta.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        input {
            text-align: center;
        }


        .controlador-conforme {
            padding: 5px;
            border-color: gray;
            border-radius: 5px;
            box-sizing: border-box;
            height: 970px;
            width: 90px;
        }

        .controlador-conforme-2 {
            padding: 5px;
            border-color: gray;
            border-radius: 5px;
            box-sizing: border-box;
            height: 250px;
            width: 90px;
        }
    </style>

</head>
<body>
    <form method="post" asp-controller="Coleta" asp-action="SalvarEnsaio7_8" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento">
        @if (Model == null)
        {
            <table class="tables table-bordered border-secondary  table-sm">
                <thead>
                    <tr>
                        <td><img src="https://www.labsystem-nuvem.com.br/imagens_arq/imagens/img/LabSystem.png" class="imagem" /></td>
                        <td colspan="3" class="fundo-tabela">Coleta De Dados</td>
                        <td class="fundo-tabela">N Os:</td>
                    </tr>
                    <tr>
                        <td colspan="4">Colchão De Molas (Portaria Inmetro 75)</td>
                        <td rowspan="2"> @ViewBag.os</td>
                    </tr>
                    <tr>
                        <td>Inicio:</td>
                        <td><input class="form-control" type="date" name="data_ini" /></td>
                        <td>Termino:</td>
                        <td><input class="form-control" type="date" name="data_term" /></td>
                    </tr>
                </thead>
            </table>

            <table class="tables table-bordered border-secondary  table-sm">
                <tr>
                    <td rowspan="14">7.8</td>
                    <td class="fundo-tabela">
                        <b>
                            Determinação da Deformação.
                        </b>
                    </td>
                    <td rowspan="14"><input class="controlador-conforme" readonly /></td>
                </tr>


                <tr class="fundo-tabela">
                    <td>
                        Quando se for utilizado não tecido de fibras sintéticas, naturais e/ou artificiais, ela deve ter gramatura mínima de 100 g/m².
                    </td>
                </tr>
                <tr>
                    <td>Tipo Do Material : <input class="controlador" type="text" name="tipo_material" /></td>
                </tr>
                <tr>
                    <td>
                        <table class="tables table-bordered border-secondary  table-sm">
                            <tr class="fundo-tabela">
                                <td>Copos de prova</td>
                                <td>Massa (g)</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td><input class="form-control" name="copos_prov_1" /></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td><input class="form-control" name="copos_prov_2" /></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td><input class="form-control" name="copos_prov_3" /></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td><input class="form-control" name="copos_prov_4" /></td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td><input class="form-control" name="copos_prov_5" /></td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td><input class="form-control" name="copos_prov_6" /></td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td><input class="form-control" name="copos_prov_7" /></td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td><input class="form-control" name="copos_prov_8" /></td>
                            <tr>
                                <td>9</td>
                                <td><input class="form-control" name="copos_prov_9" /></td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td><input class="form-control" name="copos_prov_10" /></td>
                            </tr>
                            <tr>
                                <td>Media</td>
                                <td><input class="form-control" readonly type="text" /></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="tables table-bordered border-secondary  table-sm">
                            <tr class="fundo-tabela">
                                <td>
                                    Area do corpo de prova

                                </td>
                            </tr>
                            <tr>
                                <td><input name="area_corpo_1" class="areaProva" type="text" /> x  <input name="area_corpo_2" class="areaProva" type="text" /></td>
                            </tr>
                            <tr>
                                <td>Gramatura: <input style="background-color: #e9ecef" class="areaProva" readonly type="text" /></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table class="tables table-bordered border-secondary  table-sm">
                <tr>
                    <td rowspan="14">7.8</td>
                    <td class="fundo-tabela">
                        <b>
                            Ensaio de Flexibilidade de material isolante
                        </b>
                    </td>
                    <td rowspan="14"><input class="controlador-conforme-2" readonly /></td>

                </tr>
                <tr>
                    <td>
                        Retirar um corpo de prova de tamanho A4 (297 x 210) mm.
                    </td>
                </tr>
                <tr>
                    <td>
                        Dimensões do corpo: <input name="dim_corpo_1" class="areaProva" type="text" /> X <input name="dim_corpo_2" class="areaProva" type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Após retirar o corpo de prova, dobrá-lo até a união das duas extremidades no sentido do comprimento, sem que haja trincas ou rompimento.
                    </td>
                </tr>
                <tr>
                    <td>
                        Apresentou trincas:
                        <select class="areaProva" name="trincas">
                            <option selected> --- </option>
                            <option> Sim </option>
                            <option> Não </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Apresentou rompimentos:
                        <select class="areaProva" name="rompimentos">
                            <option selected> --- </option>
                            <option> Sim </option>
                            <option> Não </option>
                        </select>

                    </td>
                </tr>
            </table>
            <br />
            <div class="d-grid gap-2 d-flex justify-content-center">
                <button type="submit" class="btn btn-success btn btn-primary btn-md">Salvar</button>
            </div>
        }
        else
        {
            <table class="tables table-bordered border-secondary  table-sm">
                <thead>
                    <tr>
                        <td><img src="https://www.labsystem-nuvem.com.br/imagens_arq/imagens/img/LabSystem.png" class="imagem" /></td>
                        <td colspan="3" class="fundo-tabela">Coleta De Dados</td>
                        <td class="fundo-tabela">N Os:</td>
                    </tr>
                    <tr>
                        <td colspan="4">Colchão De Molas (Portaria Inmetro 75)</td>
                        <td rowspan="2"> @ViewBag.os</td>
                    </tr>
                    <tr>
                        <td>Inicio:</td>
                        <td><input class="form-control" type="text" name="data_ini" value="@Model.data_ini" /></td>
                        <td>Termino:</td>
                        <td><input class="form-control" type="text" name="data_term" value="@Model.data_term" /></td>
                    </tr>
                </thead>
            </table>

            <table class="tables table-bordered border-secondary  table-sm">
                <tr>
                    <td rowspan="14">7.8</td>
                    <td class="fundo-tabela">
                        <b>
                            Determinação da Deformação.
                        </b>
                    </td>
                    <td rowspan="14"><input class="controlador-conforme" readonly value="@Model.conforme_gramas" /></td>

                <tr class="fundo-tabela">
                    <td>
                        Quando se for utilizado não tecido de fibras sintéticas, naturais e/ou artificiais, ela deve ter gramatura mínima de 100 g/m².
                    </td>
                </tr>
                <tr>
                    <td>Tipo Do Material : <input class="controlador" type="text" name="tipo_material" value="@Model.tipo_material" /></td>
                </tr>
                <tr>
                    <td>
                        <table class="tables table-bordered border-secondary  table-sm">
                            <tr class="fundo-tabela">
                                <td>Copos de prova</td>
                                <td>Massa (g)</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td><input class="form-control" name="copos_prov_1" value="@Model.copos_prov_1" /></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td><input class="form-control" name="copos_prov_2" value="@Model.copos_prov_2" /></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td><input class="form-control" name="copos_prov_3" value="@Model.copos_prov_3" /></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td><input class="form-control" name="copos_prov_4" value="@Model.copos_prov_4" /></td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td><input class="form-control" name="copos_prov_5" value="@Model.copos_prov_5" /></td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td><input class="form-control" name="copos_prov_6" value="@Model.copos_prov_6" /></td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td><input class="form-control" name="copos_prov_7" value="@Model.copos_prov_7" /></td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td><input class="form-control" name="copos_prov_8" value="@Model.copos_prov_8" /></td>
                            <tr>
                                <td>9</td>
                                <td><input class="form-control" name="copos_prov_9" value="@Model.copos_prov_9" /></td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td><input class="form-control" name="copos_prov_10" value="@Model.copos_prov_10" /></td>
                            </tr>
                            <tr>
                                <td>Media</td>
                                <td><input class="form-control" readonly type="text" value="@Model.copos_media" /></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="tables table-bordered border-secondary  table-sm">
                            <tr class="fundo-tabela">
                                <td>
                                    Area do corpo de prova

                                </td>
                            </tr>
                            <tr>
                                <td><input name="area_corpo_1" value="@Model.area_corpo_1" class="areaProva" type="text" /> x  <input name="area_corpo_2" value="@Model.area_corpo_2" class="areaProva" type="text" /></td>
                            </tr>
                            <tr>
                                <td>Gramatura: <input style="background-color: #e9ecef" class="areaProva" readonly type="text" value="@Model.gramatura" /></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table class="tables table-bordered border-secondary  table-sm">
                <tr>
                    <td rowspan="14">7.8</td>
                    <td class="fundo-tabela">
                        <b>
                            Ensaio de Flexibilidade de material isolante
                        </b>
                    </td>
                    <td rowspan="14"><input class="controlador-conforme-2" readonly value="@Model.conforme" /></td>
                </tr>
                <tr>
                    <td>
                        Retirar um corpo de prova de tamanho A4 (297 x 210) mm.
                    </td>
                </tr>
                <tr>
                    <td>
                        Dimensões do corpo: <input name="dim_corpo_1" value="@Model.dim_corpo_1" class="areaProva" type="text" /> X <input name="dim_corpo_2" value="@Model.dim_corpo_2" class="areaProva" type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Após retirar o corpo de prova, dobrá-lo até a união das duas extremidades no sentido do comprimento, sem que haja trincas ou rompimento.
                    </td>
                </tr>
                <tr>
                    <td>
                        Apresentou trincas:
                        <select class="areaProva" name="trincas">
                            <option selected> @Model.trincas </option>
                            <option> Sim </option>
                            <option> Não </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Apresentou rompimentos:
                        <select class="areaProva" name="rompimentos">
                            <option selected> @Model.rompimentos </option>
                            <option> Sim </option>
                            <option> Não </option>
                        </select>

                    </td>
                </tr>
            </table>
            <br />
            <div class="d-grid gap-2 d-flex justify-content-center">
                <button type="submit" class="btn btn-success btn btn-primary btn-md">Editar Dados</button>
            </div>
        }
    </form>

    @if (TempData.ContainsKey("Mensagem"))
    {
        <script>
            alert('@Html.Raw(TempData["Mensagem"])');
        </script>
    }
    <script>
        document.addEventListener("keydown", function (e) {
            if (e.keyCode === 13) {

                e.preventDefault();

            }
        });
    </script>
</body>
</html>
