@model ColetaModel.Ensaio7_5;
@{
    Layout = null;
}
@{
    ViewData["Title"] = "DETERMINAÇÃO DA DEFORMAÇÃO";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/coleta.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        input {
            text-align: center;
        }

        .controlador-conforme {
            padding: 5px;
            border-color: gray;
            border-radius: 5px;
            box-sizing: border-box;
            height: 950px;
            width: 100px;
        }
    </style>
</head>
<body>
    <form method="post" asp-controller="Coleta" asp-action="SalvarEnsaio7_5" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento" asp-route-rev="@ViewBag.rev">
        @if (Model == null)
        {
            <table class="tables table-bordered border-secondary  table-sm">
                <thead>
                    <tr>
                        <td><img src="https://www.labsystem-nuvem.com.br/imagens_arq/imagens/img/LabSystem.png" class="imagem" /></td>
                        <td colspan="3" class="fundo-tabela">Coleta De Dados</td>
                        <td class="fundo-tabela">N Os:</td>
                    </tr>
                    <tr>
                        <td colspan="4">Colchão De Molas (Portaria Inmetro 75)</td>
                        <td rowspan="2"> @ViewBag.os</td>
                    </tr>
                    <tr>
                        <td>Inicio:</td>
                        <td><input class="form-control" type="date" name="data_ini" /></td>
                        <td>Termino:</td>
                        <td><input class="form-control" type="date" name="data_term" /></td>
                    </tr>
                </thead>
            </table>
            <table class="tables table-bordered border-secondary  table-sm">
                <tr>
                    <td rowspan="14" style="width:70px;">7.5</td>
                    <td class="fundo-tabela">
                        <b>
                            Determinação da Deformação.
                        </b>
                    </td>
                    <td rowspan="12">
                        <input readonly class="controlador-conforme" />

                    </td>
                </tr>
                <tr>
                    <td> Este ensaio deve ser realizado somente após o ensaio de rolagem.</td>
                </tr>
                <tr>
                    <td> A execução da medição da deformação deve ser efetuado entre 30 minutos e 90 minutos após o término do ensaio de rolagem.</td>
                </tr>
                <tr>
                    <td>Tempo de término do ensaio de Rolagem(Minutos): <input class="controlador" type="text" name="temp_ensaio" /></td>
                </tr>
                <tr>
                    <td>   Se for identificado na etiqueta que as duas faces do colchão possuem durezas diferentes, a avaliação deve ser efetuada em ambas as faces. </td>
                </tr>
                <tr>
                    <td>
                        As faces do colchão possui dureza diferente:
                        <select class="controlador" name="faces">
                            <option value="NA">NA</option>
                            <option value="Sim"> Sim </option>
                            <option value="Não"> Não </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Quantidade De face:
                        <select class="controlador" name="qtd_face">
                            <option value="1"> 1 </option>
                            <option value="2"> 2 </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Posicionar o colchão em uma superfície plana e rígida maior que a área do colchão. Apoiar uma régua longitudinalmente no centro do colchão de modo a ultrapassar as extremidades.
                        <p>Realizar a medição da acomodação a partir da face superior do colchão e a superfície inferior da régua.</p>
                        <p>A medida da acomodação na região central em relação as extremidades.</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><b>Tabela - acomodação maxima da altura</b></p>
                        <table class="tables table-bordered border-secondary  table-sm">
                            <tr class="fundo-tabela">
                                <td>Espessura Minima</td>
                                <td>Espessura Maxima</td>
                                <td>Espessura Acomodação</td>
                            </tr>
                            <tr>
                                <td>12cm</td>
                                <td>22cm</td>
                                <td>6%</td>
                            </tr>
                            <tr>
                                <td>23cm</td>
                                <td>30cm</td>
                                <td>8%</td>
                            </tr>
                            <tr>
                                <td>>30cm</td>
                                <td>---</td>
                                <td>10%</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>

                        <table class="tables table-bordered border-secondary  table-sm">
                            <tr class="fundo-tabela">
                                <td>1º Face (cm)</td>
                                <td>2º Face (cm)</td>
                            </tr>

                            <tr>
                                <td>Espessura inicial: <input class="form-control" type="text" name="esp_face_1" readonly /></td>
                                <td>Espessura inicial: <input class="form-control" type="text" name="esp_face_2" readonly /></td>
                            </tr>
                            <tr>
                                <td>Medição da deformação:<input class="form-control" type="text" name="med_face_1" /> </td>
                                <td>Medição da deformação:<input class="form-control" type="text" name="med_face_2" /> </td>
                            </tr>
                            <tr>
                                <td>Acomodação especificada (%):<input class="form-control" type="text" name="acom_esp_face_1" readonly /> </td>
                                <td>Acomodação especificada (%):<input class="form-control" type="text" name="acom_esp_face_2" readonly /> </td>
                            </tr>
                            <tr>
                                <td>Acomodação encontrada:<input class="form-control" readonly /></td>
                                <td>Acomodação encontrada:<input class="form-control" readonly /></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

            <br />
            <div class="d-grid gap-2 d-flex justify-content-center">
                <button type="submit" class="btn btn-success btn btn-primary btn-md">Salvar</button>
            </div>
        }
        else
        {
            <table class="tables table-bordered border-secondary  table-sm">
                <thead>
                    <tr>
                        <td><img src="https://www.labsystem-nuvem.com.br/imagens_arq/imagens/img/LabSystem.png" class="imagem" /></td>
                        <td colspan="3" class="fundo-tabela">Coleta De Dados</td>
                        <td class="fundo-tabela">N Os:</td>
                    </tr>
                    <tr>
                        <td colspan="4">Colchão De Molas (Portaria Inmetro 75)</td>
                        <td rowspan="2"> @ViewBag.os</td>
                    </tr>
                    <tr>
                        <td>Inicio:</td>
                        <td><input class="form-control" type="text" name="data_ini" value="@Model.data_ini" /></td>
                        <td>Termino:</td>
                        <td><input class="form-control" type="text" name="data_term" value="@Model.data_term" /></td>
                    </tr>
                </thead>
            </table>
            <table class="tables table-bordered border-secondary  table-sm">
                <tr>
                    <td rowspan="14" style="width:70px;">7.5</td>
                    <td class="fundo-tabela">
                        <b>
                            Determinação da Deformação.
                        </b>
                    </td>
                    <td rowspan="12">
                        <input readonly class="controlador-conforme" value="@Model.conforme" />
                    </td>
                </tr>
                <tr>
                    <td> Este ensaio deve ser realizado somente após o ensaio de rolagem.</td>
                </tr>
                <tr>
                    <td> A execução da medição da deformação deve ser efetuado entre 30 minutos e 90 minutos após o término do ensaio de rolagem.</td>
                </tr>
                <tr>
                    <td>Tempo de término do ensaio de Rolagem(Minutos): <input class="controlador" type="text" name="temp_ensaio" value="@Model.temp_ensaio" /></td>
                </tr>
                <tr>
                    <td>   Se for identificado na etiqueta que as duas faces do colchão possuem durezas diferentes, a avaliação deve ser efetuada em ambas as faces. </td>
                </tr>
                <tr>
                    <td>
                        As faces do colchão possui dureza diferente:
                        <select class="controlador" name="faces">
                            <option>@Model.faces</option>
                            <option value="NA">NA</option>
                            <option value="Sim"> Sim </option>
                            <option value="Não"> Não </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Quantidade De face:
                        <select class="controlador" name="qtd_face">
                            <option value="1"> @Model.qtd_face </option>
                            <option value="1"> 1 </option>
                            <option value="2"> 2 </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Posicionar o colchão em uma superfície plana e rígida maior que a área do colchão. Apoiar uma régua longitudinalmente no centro do colchão de modo a ultrapassar as extremidades.
                        <p>Realizar a medição da acomodação a partir da face superior do colchão e a superfície inferior da régua.</p>
                        <p>A medida da acomodação na região central em relação as extremidades.</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><b>Tabela - acomodação maxima da altura</b></p>
                        <table class="tables table-bordered border-secondary  table-sm">
                            <tr class="fundo-tabela">
                                <td>Espessura Minima</td>
                                <td>Espessura Maxima</td>
                                <td>Espessura Acomodação</td>
                            </tr>
                            <tr>
                                <td>12cm</td>
                                <td>22cm</td>
                                <td>6%</td>
                            </tr>
                            <tr>
                                <td>23cm</td>
                                <td>30cm</td>
                                <td>8%</td>
                            </tr>
                            <tr>
                                <td>>30cm</td>
                                <td>---</td>
                                <td>10%</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    @if (Model.qtd_face == 2)
                    {
                        <td>
                            <table class="tables table-bordered border-secondary  table-sm">
                                <tr class="fundo-tabela">
                                    <td>1º Face (cm)</td>
                                    <td>2º Face (cm)</td>
                                </tr>

                                <tr>
                                    <td>Espessura inicial: <input class="form-control" type="text" name="esp_face_1" readonly value="@Model.esp_face_1" /></td>
                                    <td>Espessura inicial: <input class="form-control" type="text" name="esp_face_2" readonly value="@Model.esp_face_2" /></td>
                                </tr>
                                <tr>
                                    <td>Medição da deformação:<input class="form-control" type="text" name="med_face_1" value="@Model.med_face_1" /> </td>
                                    <td>Medição da deformação:<input class="form-control" type="text" name="med_face_2" value="@Model.med_face_2" /> </td>
                                </tr>
                                <tr>
                                    <td>Acomodação especificada (%):<input class="form-control" type="text" name="acom_esp_face_1" readonly value="@Model.acom_esp_face_1" /> </td>
                                    <td>Acomodação especificada (%):<input class="form-control" type="text" name="acom_esp_face_2" readonly value="@Model.acom_esp_face_2" /> </td>
                                </tr>
                                <tr>
                                    <td>Acomodação encontrada:<input class="form-control" readonly value="@Model.acom_enc_face_1" /></td>
                                    <td>Acomodação encontrada:<input class="form-control" readonly value="@Model.acom_enc_face_2" /></td>
                                </tr>
                            </table>
                        </td>
                    }
                    else
                    {
                        <td>

                            <table class="tables table-bordered border-secondary  table-sm">
                                <tr class="fundo-tabela">
                                    <td>1º Face (cm)</td>
                                </tr>

                                <tr>
                                    <td>Espessura inicial: <input class="form-control" type="text" name="esp_face_1" readonly value="@Model.esp_face_1" /></td>
                                </tr>
                                <tr>
                                    <td>Medição da deformação:<input class="form-control" type="text" name="med_face_1" value="@Model.med_face_1" /> </td>
                                </tr>
                                <tr>
                                    <td>Acomodação especificada (%):<input class="form-control" type="text" name="acom_esp_face_1" readonly value="@Model.acom_esp_face_1" /> </td>
                                </tr>
                                <tr>
                                    <td>Acomodação encontrada:<input class="form-control" readonly value="@Model.acom_enc_face_1" /></td>
                                </tr>
                            </table>
                        </td>
                    }
                </tr>
            </table>
            <br />
            @if (ViewBag.bloqueada != "Sim")
            {
                <div class="d-grid gap-2 d-flex justify-content-center">
                    <button type="submit" class="btn btn-success btn btn-primary btn-md">Editar Dados</button>
                </div>
            }
            else
            {
                <div class="d-flex justify-content-center">
                    <div class="alert alert-danger w-50 p-3 m-3 text-center" role="alert">
                        Coleta Bloqueada!
                    </div>
                </div>
            }
        }
    </form>




    @if (TempData.ContainsKey("Mensagem"))
    {
        <script>
            alert('@Html.Raw(TempData["Mensagem"])');
        </script>
    }

    <script>
        document.addEventListener("keydown", function (e) {
            if (e.keyCode === 13) {

                e.preventDefault();

            }
        });
    </script>
</body>
</html>