@model ColetaModel.Ensaio7_1;
@{
    Layout = null;
}
@{
    ViewData["Title"] = "PRE ROLAGEM ";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/coleta.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        input {
            padding: 5px;
            border-color: gray;
            border-radius: 5px;
            box-sizing: border-box;
            height: 40px;
            text-align: center;
        }
    </style>
</head>
<body>
    <form method="post" asp-controller="Coleta" asp-action="SalvarEnsaio7_1" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento">
        @if (Model == null)
        {

            <table class="tables table-bordered border-secondary  table-sm">
                <thead>
                    <tr>
                        <td><img src="https://www.labsystem-nuvem.com.br/imagens_arq/imagens/img/LabSystem.png" class="imagem" /></td>
                        <td colspan="3" class="fundo-tabela">Coleta De Dados</td>
                        <td class="fundo-tabela">N Os:</td>
                    </tr>
                    <tr>
                        <td colspan="4">Colchão De Molas (Portaria Inmetro 75)</td>
                        <td rowspan="2"> @ViewBag.os</td>
                    </tr>
                    <tr>
                        <td>Inicio:</td>
                        <td><input class="form-control" type="date" name="data_ini" /></td>
                        <td>Termino:</td>
                        <td><input class="form-control" type="date" name="data_term" /></td>
                    </tr>
                </thead>
            </table>
            <br />
            <table class="tables table-bordered border-secondary  table-sm">
                <tr class="fundo-tabela">
                    <td colspan="3">Descrição</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <b>Pré - Rolagem:</b>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <b>Especificado:</b>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        Antes de serrem efetuadas as inspeções e medições iniciais, deve ser realizada uma pré-rolagem com o rolo nas duas face do colchão por uma frequência de 50 ciclos ( cada face utilizável).
                        Nota: O comprimento do percurso deve chegar até 10 cm da borda em ambos os lados do eixo de simetria longitudinal do colchão.
                    </td>
                </tr>
                <tr>
                    <td><b>Quantidade de ciclos:</b> @ViewBag.qtd_face</td>
                    <td><b>Velocidade:</b> 47m/min. ±5m/min.</td>
                </tr>
                <tr>
                    <td><b>Peso do Rolo: </b><input value="110 kg" readonly /></td>
                </tr>
                <tr>
                    <td>O parâmetro de rolagem estão de acordo com especificado acima? </td>
                    <td>
                        <select class="form-control" name="acordo">
                            <option value="NA">NA</option>
                            <option value="Sim">Sim</option>
                            <option value="Não">Não</option>
                        </select>
                    </td>
                </tr>
            </table>
            <br />
            <div class="d-grid gap-2 d-flex justify-content-center">
                <button type="submit" class="btn btn-success btn btn-primary btn-md">Salvar</button>
            </div>
        }
        else
        {
            <table class="tables table-bordered border-secondary  table-sm">
                <thead>
                    <tr>
                        <td><img src="https://www.labsystem-nuvem.com.br/imagens_arq/imagens/img/LabSystem.png" class="imagem" /></td>
                        <td colspan="3" class="fundo-tabela">Coleta De Dados</td>
                        <td class="fundo-tabela">N Os:</td>
                    </tr>
                    <tr>
                        <td colspan="4">Colchão De Molas (Portaria Inmetro 75)</td>
                        <td rowspan="2"> @ViewBag.os</td>
                    </tr>
                    <tr>
                        <td>Inicio:</td>
                        <td><input class="form-control" type="text" name="data_ini" value="@Model.data_ini" /></td>
                        <td>Termino:</td>
                        <td><input class="form-control" type="text" name="data_term" value="@Model.data_term" /></td>
                    </tr>
                </thead>
            </table>
            <br />
            <table class="tables table-bordered border-secondary  table-sm">
                <tr class="fundo-tabela">
                    <td colspan="3">Descrição</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <b>Pré - Rolagem:</b>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <b>Especificado:</b>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        Antes de serrem efetuadas as inspeções e medições iniciais, deve ser realizada uma pré-rolagem com o rolo nas duas face do colchão por uma frequência de 50 ciclos ( cada face utilizável).
                        Nota: O comprimento do percurso deve chegar até 10 cm da borda em ambos os lados do eixo de simetria longitudinal do colchão.
                    </td>
                </tr>
                <tr>
                    <td><b>Quantidade de ciclos:</b> @ViewBag.qtd_face</td>
                    <td><b>Velocidade:</b> 47m/min. ±5m/min.</td>
                </tr>
                <tr>
                    <td><b>Peso do Rolo: </b><input value="110 kg" readonly /></td>
                </tr>
                <tr>
                    <td>O parâmetro de rolagem estão de acordo com especificado acima? </td>
                    <td>
                        <select class="form-control" name="acordo">
                            <option>@Model.acordo</option>
                            <option value="NA">NA</option>
                            <option value="Sim">Sim</option>
                            <option value="Não">Não</option>
                        </select>
                    </td>
                </tr>
            </table>
            <br />
            <div class="d-grid gap-2 d-flex justify-content-center">
                <button type="submit" class="btn btn-success btn btn-primary btn-md">Editar Dados</button>
            </div>
        }
    </form>
    @if (TempData.ContainsKey("Mensagem"))
    {
        <script>
            alert('@Html.Raw(TempData["Mensagem"])');
        </script>
    }
    <script>
        var quantidade_face = document.getElementById("quantidade_face");

        var face_1 = document.getElementById("face_1");
        var face_2 = document.getElementById("face_2");

        face_2.style.display = 'none';
        quantidade_face.addEventListener('change', function () {
            var face_total = quantidade_face.value;

            var face_1 = document.getElementById("face_1");
            var face_2 = document.getElementById("face_2");

            face_2.style.display = 'none';
            face_1.style.display = 'none';

            // Mostrar as trs com base no valor selecionado
            if (face_total === '2') {
                face_1.style.display = 'table-row';
                face_2.style.display = 'table-row';
            }
            if (face_total === '1') {
                face_1.style.display = 'table-row';
                face_2.style.display = 'none';
            }
        });

        document.addEventListener("keydown", function (e) {
            if (e.keyCode === 13) {

                e.preventDefault();
            }
        });


    </script>
</body>
</html>