@model ColetaModel.Ensaio7_1;
@{
    Layout = null;
}
@{
    ViewData["Title"] = "PRE ROLAGEM ";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/coleta.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        input {
            padding: 5px;
            border-color: gray;
            border-radius: 5px;
            box-sizing: border-box;
            height: 40px;
            text-align:center;
        }
    </style>
</head>
<body>
    <form method="post" asp-controller="Coleta" asp-action="SalvarEnsaio7_1" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento">
        @if (Model == null)
        {

            <table class="tables table-bordered border-secondary  table-sm">
                <thead>
                    <tr>
                        <td><img src="https://www.labsystem-nuvem.com.br/imagens_arq/imagens/img/LabSystem.png" class="imagem" /></td>
                        <td colspan="3" class="fundo-tabela">Coleta De Dados</td>
                        <td class="fundo-tabela">N Os:</td>
                    </tr>
                    <tr>
                        <td colspan="4">Colchão De Molas (Portaria Inmetro 75)</td>
                        <td rowspan="2"> @ViewBag.os</td>
                    </tr>
                    <tr>
                        <td>Inicio:</td>
                        <td><input class="form-control" type="date" name="data_ini" /></td>
                        <td>Termino:</td>
                        <td><input class="form-control" type="date" name="data_term" /></td>
                    </tr>
                </thead>
            </table>

            <table class="tables table-bordered border-secondary  table-sm">
                <tr>
                    <td>Temperatura Inicial (°C) :</td>
                    <td><input class="form-control" type="text" name="temp_ini" /></td>
                    <td>Temperatura Final (°C) :</td>
                    <td><input class="form-control" type="text" name="temp_term" /></td>
                </tr>
            </table>
            <br />
            <table class="tables table-bordered border-secondary  table-sm">
                <tr class="fundo-tabela">
                    <td>Item</td>
                    <td>Descrição</td>
                    <td>Resultado</td>
                </tr>
                <tr>
                    <td rowspan="4">7.1</td>
                    <td>
                        <b>Pré - Rolagem:</b> Antes de serem efetuadas as inspeções e medições iniciais, deve ser realizada uma pré-rolagem com o rolo nas duas faces do colchão por uma frequência de 50 ciclos (cada face utilizável).
                    </td>
                    
                </tr>
                <tr>
                    <td>
                        Quantidade De faces utilizadas:
                        <select name="quant_face">
                            <option>1</option>
                            <option>2</option>
                        </select>
                    </td>

                </tr>
                <tr>
                    <td>
                        1º Face:
                        Velocidade do ciclos : <input type="text" name="velo_face_1"/>

                        Quantidade de ciclos : <input type="text" name="quant_face_1" />

                    </td>
                </tr>
                <tr>
                    <td>
                        2º Face:
                        Velocidade do ciclos : <input type="text" name="velo_face_2" />
                        Quantidade de ciclos :  <input type="text" name="quant_face_2" />
                    </td>
                </tr>
            </table>
            <br />
            <div class="d-grid gap-2 d-flex justify-content-center">
                <button type="submit" class="btn btn-success btn btn-primary btn-md">Salvar</button>
            </div>
        }
        else
        {
            <table class="tables table-bordered border-secondary  table-sm">
                <thead>
                    <tr>
                        <td><img src="https://www.labsystem-nuvem.com.br/imagens_arq/imagens/img/LabSystem.png" class="imagem" /></td>
                        <td colspan="3" class="fundo-tabela">Coleta De Dados</td>
                        <td class="fundo-tabela">N Os:</td>
                    </tr>
                    <tr>
                        <td colspan="4">Colchão De Molas (Portaria Inmetro 75)</td>
                        <td rowspan="2"> @ViewBag.os</td>
                    </tr>
                    <tr>
                        <td>Inicio:</td>
                        <td><input class="form-control" type="text" name="data_ini" value="@Model.data_ini" /></td>
                        <td>Termino:</td>
                        <td><input class="form-control" type="text" name="data_term" value="@Model.data_term" /></td>
                    </tr>
                </thead>
            </table>

            <table class="tables table-bordered border-secondary  table-sm">
                <tr>
                    <td>Temperatura Inicial (°C) :</td>
                    <td><input class="form-control" type="text" name="temp_ini" value="@Model.temp_ini" /></td>
                    <td>Temperatura Final (°C) :</td>
                    <td><input class="form-control" type="text" name="temp_term" value="@Model.temp_term" /></td>
                </tr>
            </table>
            <br />
            <table class="tables table-bordered border-secondary  table-sm">
                <tr class="fundo-tabela">
                    <td>Item</td>
                    <td>Descrição</td>
                  
                </tr>
                <tr>
                    <td rowspan="4">7.1</td>
                    <td colspan="2">
                        <b>Pré - Rolagem:</b> Antes de serem efetuadas as inspeções e medições iniciais, deve ser realizada uma pré-rolagem com o rolo nas duas faces do colchão por uma frequência de 50 ciclos (cada face utilizável).
                    </td>
                    
                </tr>
                <tr>
                    <td colspan="2">
                        Quantidade De faces utilizadas:
                        <select name="quant_face">
                            <option>1</option>
                            <option>2</option>
                        </select>
                    </td>

                </tr>
                <tr>
                    <td colspan="2">
                        1º Face:
                        Velocidade do ciclos : <input type="text" name="velo_face_1" value="@Model.velo_face_1" />

                        Quantidade de ciclos : <input type="text" name="quant_face_1" value="@Model.quant_face_1" />

                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        2º Face:
                        Velocidade do ciclos : <input type="text" name="velo_face_2" value="@Model.velo_face_2" />
                        Quantidade de ciclos :  <input type="text" name="quant_face_2" value="@Model.quant_face_2" />
                    </td>
                </tr>
            </table>
            <br />
            <div class="d-grid gap-2 d-flex justify-content-center">
                <button type="submit" class="btn btn-success btn btn-primary btn-md">Editar Dados</button>
            </div>
        }
    </form>
    @if (TempData.ContainsKey("Mensagem"))
    {
        <script>
            alert('@Html.Raw(TempData["Mensagem"])');
        </script>
    }
    <script>
        document.addEventListener("keydown", function (e) {
            if (e.keyCode === 13) {

                e.preventDefault();

            }
        });
    </script>
</body>
</html>