 @model ColetaModel.Ensaio4_3;
@{
    Layout = null;
}
@{
    ViewData["Title"] = "BORDA PERIMETRAL ";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/coleta.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .controlador-conforme {
            padding: 5px;
            border-color: gray;
            border-radius: 5px;
            box-sizing: border-box;
            height: 500px;
            width: 100px;
        }

        .controlador {
            /*  padding: 5px;
                                                    border-color: gray;
                                                    border-radius: 5px;
                                                    box-sizing: border-box;
                                                    height: 500px; */
            width: 100px;
        }
    </style>
</head>
<body>


    <form method="post" asp-controller="Coleta" asp-action="SalvarEnsaio4_3" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento" asp-route-rev="@ViewBag.rev">
        @if (Model == null)
        {
            <table class="tables table-bordered border-secondary  table-sm">
                <thead>
                    <tr>
                        <td><img src="https://www.labsystem-nuvem.com.br/imagens_arq/imagens/img/LabSystem.png" class="imagem" /></td>
                        <td colspan="3" class="fundo-tabela">Coleta De Dados</td>
                        <td class="fundo-tabela">N Os:</td>
                    </tr>
                    <tr>
                        <td colspan="4">Colchão De Molas (Portaria Inmetro 75)</td>
                        <td rowspan="2"> @ViewBag.os</td>
                    </tr>
                    <tr>
                        <td>Inicio:</td>
                        <td><input class="form-control" type="date" name="data_ini" /></td>
                        <td>Termino:</td>
                        <td><input class="form-control" type="date" name="data_term" /></td>
                    </tr>
                </thead>
            </table>

            <table class="tables table-bordered border-secondary  table-sm">
                <tr>
                    <td rowspan="14" class="itens">4.3</td>
                    <td class="fundo-tabela" colspan="3">
                        <b>
                            Determinação da Deformação.
                        </b>
                    </td>
                    <td rowspan="14">
                        <inpupt class="controlador-conforme" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        A borda perimetral de aço e/ou espuma deve manter seu paralelismo e perpendicularidade antes e após o ensaio de rolagem. Além de atender as especificações abaixo.
                    </td>
                </tr>
                @if (ViewBag.ExisteBorda != "Não")
                {
                    <tr>
                        <td colspan="2">
                            <button type="button" class="btn btn-info" id="btn-aco" onclick="mostrarLinhaAco()">Aço</button>
                            <button type="button" class="btn btn-info" id="btn-espuma" onclick="mostrarLinhaEspuma()">Espuma</button>
                            <button type="button" class="btn btn-info" id="btn-espuma" onclick="mostrarTabelaMolejo()">Mais De Um Molejo</button>
                        </td>
                    </tr>
                }
                <tr class="tabela-toda">
                    <td colspan="2">
                        <table class="tables table-bordered border-secondary  table-sm" id="tabela">
                            <tr class="fundo-tabela borda">
                                <td>Borda</td>
                                <td>Especificado</td>
                                <td colspan="2">Encontrado</td>
                                <td>Manteve seu paralelismo e perpendicularidade</td>
                            </tr>
                            <tr class="linha-aco">
                                <td>
                                    <select class="form-control" name="borda_aco" style="width:100px;">
                                        <option value="---">---</option>
                                        <option value="X">X</option>
                                    </select>
                                </td>
                                <td>Aço</td>
                                <td style="width:50px;">
                                    ≥  Ø 3,8 mm
                                </td>
                                <td><input class="form-control" type="text" name="valor_enc_aco" /></td>
                                <td>
                                    <select name="man_parale_aco" class="form-control">
                                        <option value="NA">---</option>
                                        <option value="C">C</option>
                                        <option value="NC">NC</option>

                                    </select>
                                </td>
                            </tr>
                            <tr class="borda_molejo">
                                <td>
                                    <select class="form-control" name="borda_aco_molejo" style="width:100px;">
                                        <option value="---">---</option>
                                        <option value="X">X</option>
                                    </select>
                                </td>
                                <td>Aço</td>
                                <td style="width:50px;">
                                    ≥  Ø 3,8 mm
                                </td>
                                <td><input class="form-control" type="text" name="valor_enc_aco_molejo" /></td>
                                <td>
                                    <select name="man_parale_aco_molejo" class="form-control">
                                        <option value="NA">---</option>
                                        <option value="C">C</option>
                                        <option value="NC">NC</option>

                                    </select>
                                </td>
                            </tr>
                            <tr class="linha-espuma">
                                <td>
                                    <select class="form-control" name="borda_espuma">
                                        <option value="---">---</option>
                                        <option value="X">X</option>
                                    </select>
                                </td>
                                <td>Espuma</td>
                                <td>
                                    ≤ 120 mm
                                </td>
                                <td><input class="form-control" type="text" name="valor_enc_espuma" /></td>
                                <td>
                                    <select name="man_parale_espuma" class="form-control">
                                        <option value="NA">---</option>
                                        <option value="C">C</option>
                                        <option value="NC">NC</option>
                                    </select>
                                </td>
                            </tr>
                            <tr class="espuma_molejo">
                                <td>
                                    <select class="form-control" name="borda_espuma_molejo">
                                        <option value="---">---</option>
                                        <option value="X">X</option>
                                    </select>
                                </td>
                                <td>Espuma</td>
                                <td>
                                    ≤ 120 mm
                                </td>
                                <td><input class="form-control" type="text" name="valor_enc_espuma_molejo" /></td>
                                <td>
                                    <select name="man_parale_espuma_molejo" class="form-control">
                                        <option value="NA">---</option>
                                        <option value="C">C</option>
                                        <option value="NC">NC</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        Quando se for utilizado não tecido de fibras sintéticas, naturais e/ou artificiais, ela deve ter gramatura mínima de 100 g/m².
                    </td>
                </tr>
                @if (ViewBag.ExisteBorda != "Não")
                {
                    <tr>
                        <td>
                            A) Apresentar paralelelismo e perpendicularidade, quando vista de cima;
                        </td>
                        <td>
                            <select name="pergunta_a" class="controlador">
                                <option value="C">C</option>
                                <option value="NC">NC</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            B) Não utilizar, para fins de sustentação ou outra função estrutural, qualquer componente;
                        </td>
                        <td>
                            <select name="pergunta_c" class="controlador">
                                <option value="C">C</option>
                                <option value="NC">NC</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            C) Possuir características adqueadas ás funções de dar uniformidade e sustentação ao perímetro do molejo, podendo ser constituída de espuma, aço, ou outros materiais, conjuntamente ou não;
                        </td>
                        <td>
                            <select name="pergunta_d" class="controlador">
                                <option value="C">C</option>
                                <option value="NC">NC</option>
                            </select>
                        </td>
                    </tr>
                }
            </table>
            <br />
            @if (ViewBag.ExisteBorda != "Não")
            {
                <div class="d-grid gap-2 d-flex justify-content-center">
                    <button type="submit" class="btn btn-success btn btn-primary btn-md">Salvar</button>
                </div>
            }
        }
        else
        {
            <input type="hidden" id="condicaoEspecifica" value="else" />
            <table class="tables table-bordered border-secondary  table-sm">
                <thead>

                    <tr>
                        <td><img src="https://www.labsystem-nuvem.com.br/imagens_arq/imagens/img/LabSystem.png" class="imagem" /></td>
                        <td colspan="3" class="fundo-tabela">Coleta De Dados</td>
                        <td class="fundo-tabela">N Os:</td>
                    </tr>
                    <tr>
                        <td colspan="4">Colchão De Molas (Portaria Inmetro 75)</td>
                        <td rowspan="2"> @ViewBag.os</td>
                    </tr>
                    <tr>
                        <td>Inicio:</td>
                        <td><input class="form-control" type="text" name="data_ini" value="@Model.data_ini" /></td>
                        <td>Termino:</td>
                        <td><input class="form-control" type="text" name="data_term" value="@Model.data_term" /></td>
                    </tr>
                </thead>
            </table>

            <table class="tables table-bordered border-secondary  table-sm ">
                <tr>
                    <td rowspan="14" class="itens">4.3</td>
                    <td class="fundo-tabela" colspan="3">
                        <b>
                            Determinação da Deformação.
                        </b>
                    </td>
                    <td rowspan="14">
                        <inpupt class="controlador-conforme" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        A borda perimetral de aço e/ou espuma deve manter seu paralelismo e perpendicularidade antes e após o ensaio de rolagem. Além de atender as especificações abaixo.
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <table class="tables table-bordered border-secondary  table-sm">
                            <tr class="fundo-tabela borda">
                                <td>Borda</td>
                                <td>Especificado</td>
                                <td colspan="2">Encontrado</td>
                                <td>Manteve seu paralelismo e perpendicularidade</td>
                            </tr>
                            @if (Model.contem_molejo == 0)
                            {
                                @if (Model.borda_aco == "X")
                                {

                                    <tr class="linha-aco">
                                        <td>
                                            <select class="form-control" name="borda_aco" style="width:100px;">
                                                <option selected>@Model.borda_aco</option>
                                                <option> --- </option>
                                                <option> X </option>
                                            </select>
                                        </td>
                                        <td>Aço</td>
                                        <td style="width:50px;">
                                            ≥  Ø 3,8 mm
                                        </td>
                                        <td><input class="form-control" type="text" name="valor_enc_aco" value="@Model.valor_enc_aco" /></td>
                                        <td>
                                            <select name="man_parale_aco" class="form-control">
                                                <option selected>@Model.man_parale_aco</option>
                                                <option value="NA">---</option>
                                                <option value="C">C</option>
                                                <option value="NC">NC</option>
                                            </select>
                                        </td>
                                    </tr>
                                }

                                @if (Model.borda_espuma == "X")
                                {
                                    <tr class="linha-espuma">
                                        <td>
                                            <select class="form-control" name="borda_espuma">
                                                <option> @Model.borda_espuma</option>
                                                <option value="---"> --- </option>
                                                <option value="X"> X </option>
                                            </select>
                                        </td>
                                        <td>Espuma</td>
                                        <td>
                                            ≤ 120 mm
                                        </td>
                                        <td><input class="form-control" type="text" name="valor_enc_espuma" value="@Model.valor_enc_espuma" /></td>
                                        <td>
                                            <select name="man_parale_espuma" class="form-control">
                                                <option>@Model.man_parale_espuma</option>
                                                <option value="NA">---</option>
                                                <option value="C">C</option>
                                                <option value="NC">NC</option>
                                            </select>
                                        </td>
                                    </tr>
                                }
                            }
                        </table>

                    </td>
                </tr>
                @*    @* duplicando tabela caso seja mais de um molejo *@
                @if (Model.contem_molejo == 1)
                {
                    <tr>
                        <td>
                            <table class="tables table-bordered border-secondary table-sm" id="molejo" name="molejo" value="1">
                                <tr class="fundo-tabela">
                                    <td>Borda</td>
                                    <td>Especificado</td>
                                    <td colspan="2">Encontrado</td>
                                    <td>Manteve seu paralelismo e perpendicularidade</td>
                                </tr>
                                @if (Model.borda_aco == "X")
                                {
                                    <tr>
                                        <td>
                                            <select class="form-control" name="borda_aco" style="width:100px;">
                                                <option>@Model.borda_aco</option>
                                                <option>---</option>
                                                <option> X </option>
                                            </select>
                                        </td>
                                        <td>Aço</td>
                                        <td style="width:50px;">
                                            ≥  Ø 3,8 mm
                                        </td>
                                        <td><input class="form-control" type="text" name="valor_enc_aco" value="@Model.valor_enc_aco" /></td>
                                        <td>
                                            <select name="man_parale_aco" class="form-control">
                                                <option selected>@Model.man_parale_aco </option>
                                                <option value="NA">---</option>
                                                <option value="C">C</option>
                                                <option value="NC">NC</option>

                                            </select>
                                        </td>
                                    </tr>
                                }
                                @if (Model.borda_espuma == "X")
                                {
                                    <tr>
                                        <td>
                                            <select class="form-control" name="borda_espuma">
                                                <option selected>@Model.borda_espuma</option>
                                                <option> --- </option>
                                                <option> X </option>
                                            </select>
                                        </td>
                                        <td>Espuma</td>
                                        <td>
                                            ≤ 120 mm
                                        </td>
                                        <td><input class="form-control" type="text" name="valor_enc_espuma" value="@Model.valor_enc_espuma" /></td>
                                        <td>
                                            <select name="man_parale_espuma" class="form-control">
                                                <option selected> @Model.man_parale_espuma </option>
                                                <option value="NA">---</option>
                                                <option value="C">C</option>
                                                <option value="NC">NC</option>
                                            </select>
                                        </td>
                                    </tr>
                                }
                                @if (Model.borda_aco_molejo == "X")
                                {
                                    <tr>
                                        <td>
                                            <select class="form-control" name="borda_aco_molejo" style="width:100px;">
                                                <option selected>@Model.borda_aco_molejo</option>
                                                <option value="---"> --- </option>
                                                <option value="X"> X </option>
                                            </select>
                                        </td>
                                        <td>Aço</td>
                                        <td style="width:50px;">
                                            ≥  Ø 3,8 mm
                                        </td>
                                        <td><input class="form-control" type="text" name="valor_enc_aco_molejo" value="@Model.valor_enc_aco_molejo" /></td>
                                        <td>
                                            <select name="man_parale_aco_molejo" class="form-control">
                                                <option selected>@Model.man_parale_aco_molejo</option>
                                                <option value="NA">---</option>
                                                <option value="C">C</option>
                                                <option value="NC">NC</option>

                                            </select>
                                        </td>
                                    </tr>
                                }
                                @if (Model.borda_espuma_molejo == "X")
                                {
                                    <tr>
                                        <td>
                                            <select class="form-control" name="borda_espuma_molejo">
                                                <option selected>@Model.borda_espuma_molejo</option>
                                                <option value="---">---</option>
                                                <option value="X">X</option>
                                            </select>
                                        </td>
                                        <td>Espuma</td>
                                        <td>
                                            ≤ 120 mm
                                        </td>
                                        <td><input class="form-control" type="text" name="valor_enc_espuma_molejo" value="@Model.valor_enc_espuma_molejo" /></td>
                                        <td>
                                            <select name="man_parale_espuma_molejo" class="form-control">
                                                <option selected>@Model.man_parale_espuma_molejo</option>
                                                <option value="NA">---</option>
                                                <option value="C">C</option>
                                                <option value="NC">NC</option>
                                            </select>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </td>
                    </tr>
                }
                @* final da tabela molejo *@
                <tr>
                    <td colspan="3">
                        Quando se for utilizado não tecido de fibras sintéticas, naturais e/ou artificiais, ela deve ter gramatura mínima de 100 g/m².
                    </td>
                </tr>
                <tr>
                    <td>
                        A) Apresentar paralelelismo e perpendicularidade, quando vista de cima;
                    </td>
                    <td>
                        <select name="pergunta_a" class="controlador">
                            <option>@Model.pergunta_a</option>
                            <option value="C">C</option>
                            <option value="NC">NC</option>
                        </select>
                    </td>
                </tr>
              
                <tr>
                    <td>
                        B) Não utilizar, para fins de sustentação ou outra função estrutural, qualquer componente;
                    </td>
                    <td>
                        <select name="pergunta_c" class="controlador">
                            <option>@Model.pergunta_c</option>
                            <option value="C">C</option>
                            <option value="NC">NC</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        C) Possuir características adqueadas ás funções de dar uniformidade e sustentação ao perímetro do molejo, podendo ser constituída de espuma, aço, ou outros materiais, conjuntamente ou não;
                    </td>
                    <td>
                        <select name="pergunta_d" class="controlador">
                            <option>@Model.pergunta_d</option>
                            <option value="C">C</option>
                            <option value="NC">NC</option>
                        </select>
                    </td>
                </tr>
            </table>
            @if (ViewBag.bloqueada != "Sim")
            {
                <div class="d-grid gap-2 d-flex justify-content-center">
                    <button type="submit" class="btn btn-success btn btn-primary btn-md">Editar Dados</button>
                </div>
            }
            else
            {
                <div class="d-flex justify-content-center">
                    <div class="alert alert-danger w-50 p-3 m-3 text-center" role="alert">
                        Coleta Bloqueada!
                    </div>
                </div>
            }
        }
    </form>

    @if (TempData.ContainsKey("Mensagem"))
    {
        <script>
            alert('@Html.Raw(TempData["Mensagem"])');
        </script>
    }
    <script>

        function mostrarTabelas() {
            var condicaoEspecifica = document.getElementById('condicaoEspecifica');

            var tabelaToda = document.querySelector('.tabela-toda');

            if (condicaoEspecifica && condicaoEspecifica.value === 'else') {
                tabelaToda.style.display = 'table-row'; // Mostra a tabela
            } else {
                tabelaToda.style.display = 'none';
            }

        }
        document.addEventListener('DOMContentLoaded', function () {
            mostrarTabelas();
        });


        function mostrarLinhaAco() {
            var tabelaToda = document.querySelector('.tabela-toda');

            // Verifica se a tabela foi encontrada
            if (tabelaToda) {
                tabelaToda.style.display = 'table-row';  // Mostra a tabela
            }

            var linhasAco = document.getElementsByClassName("linha-aco");
            var linhasEspuma = document.getElementsByClassName("linha-espuma");
            var linhasAcoMolejo = document.getElementsByClassName("borda_molejo");
            var linhasEspumaMolejo = document.getElementsByClassName("espuma_molejo");

            for (var i = 0; i < linhasAco.length; i++) {
                linhasAco[i].style.display = 'table-row';

            }
            for (var i = 0; i < linhasEspuma.length; i++) {
                linhasEspuma[i].style.display = 'none';

            }
            for (var i = 0; i < linhasAcoMolejo.length; i++) {
                linhasAcoMolejo[i].style.display = 'none';

            }
            for (var i = 0; i < linhasEspumaMolejo.length; i++) {
                linhasEspumaMolejo[i].style.display = 'none';

            }
        }
        function mostrarLinhaEspuma() {
            var tabelaToda = document.querySelector('.tabela-toda');

            // Verifica se a tabela foi encontrada
            if (tabelaToda) {
                tabelaToda.style.display = 'table-row';  // Mostra a tabela
            }
            var borda = document.getElementsByClassName("borda");
            var linhasAco = document.getElementsByClassName("linha-aco");
            var linhasEspuma = document.getElementsByClassName("linha-espuma");
            var linhasAcoMolejo = document.getElementsByClassName("borda_molejo");
            var linhasEspumaMolejo = document.getElementsByClassName("espuma_molejo");

            for (var i = 0; i < borda.length; i++) {
                borda[i].style.display = 'table-row';

            }
            for (var i = 0; i < linhasAco.length; i++) {
                linhasAco[i].style.display = 'none';

            }
            for (var i = 0; i < linhasEspuma.length; i++) {
                linhasEspuma[i].style.display = 'table-row';

            }
            for (var i = 0; i < linhasAcoMolejo.length; i++) {
                linhasAcoMolejo[i].style.display = 'none';

            }
            for (var i = 0; i < linhasEspumaMolejo.length; i++) {
                linhasEspumaMolejo[i].style.display = 'none';

            }
        }
        function mostrarTabelaMolejo() {
            var tabelaToda = document.querySelector('.tabela-toda');

            // Verifica se a tabela foi encontrada
            if (tabelaToda) {
                tabelaToda.style.display = 'table-row';  // Mostra a tabela
            }
            var borda = document.getElementsByClassName("borda");
            var linhasAco = document.getElementsByClassName("linha-aco");
            var linhasEspuma = document.getElementsByClassName("linha-espuma");
            var linhasAcoMolejo = document.getElementsByClassName("borda_molejo");
            var linhasEspumaMolejo = document.getElementsByClassName("espuma_molejo");

            for (var i = 0; i < borda.length; i++) {
                borda[i].style.display = 'table-row';

            }
            for (var i = 0; i < linhasAco.length; i++) {
                linhasAco[i].style.display = 'table-row';

            }
            for (var i = 0; i < linhasEspuma.length; i++) {
                linhasEspuma[i].style.display = 'table-row';

            }
            for (var i = 0; i < linhasAcoMolejo.length; i++) {
                linhasAcoMolejo[i].style.display = 'table-row';

            }
            for (var i = 0; i < linhasEspumaMolejo.length; i++) {
                linhasEspumaMolejo[i].style.display = 'table-row';

            }
        }
        document.addEventListener("keydown", function (e) {
            if (e.keyCode === 13) {

                e.preventDefault();

            }
        });
    </script>
</body>
</html>