@model ColetaModel.Ensaio7_2
@{
    Layout = null;
}
@{
    ViewData["Title"] = "DETERMINAÇÃO DAS DIMENSÕES";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/coleta.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        input {
            text-align: center;
        }

        .altura-inputs {
            height: 150px;
        }

        .controlador-conforme {
            padding: 5px;
            border-color: gray;
            border-radius: 5px;
            box-sizing: border-box;
            height: 500px;
            width: 100px;
        }

    </style>

</head>
<body>
    <form method="post" asp-controller="Coleta" asp-action="SalvarEnsaio7_2" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento" asp-route-rev="@ViewBag.rev">
        @if (Model == null)
        {
            <input id="salvandoMolas" hidden=true />
            <table class="tables table-bordered border-secondary  table-sm">
                <thead>
                    <tr>
                        <td><img src="https://www.labsystem-nuvem.com.br/imagens_arq/imagens/img/LabSystem.png" class="imagem" /></td>
                        <td colspan="3" class="fundo-tabela">Coleta De Dados</td>
                        <td class="fundo-tabela">N Os:</td>
                    </tr>
                    <tr>
                        <td colspan="4">Colchão De Molas (Portaria Inmetro 75)</td>
                        <td rowspan="3"> @ViewBag.os</td>
                    </tr>
                    <tr>
                        <td>Inicio:</td>
                        <td><input class="form-control" type="date" name="data_ini" /></td>
                        <td>Termino:</td>
                        <td><input class="form-control" type="date" name="data_term" /></td>
                    </tr>
                    <tr>
                        <td>Executor do ensaio:</td>
                        <td><input class="form-control" asp-for="executor" /></td>
                        <td>Responsável pela conferência:</td>
                        <td>
                            <select class="form-control" asp-for="auxiliar" asp-items="(List<SelectListItem>)@ViewBag.listaResponsaveis">
                            </select>
                        </td>
                    </tr>
                </thead>
            </table>

            <table class="tables table-bordered border-secondary  table-sm">
                <tr>
                    <td>Temperatura Inicial:</td>
                    <td><input class="form-control" type="text" name="temp_ini" /></td>
                    <td>Temperatura Final:</td>
                    <td><input class="form-control" type="text" name="temp_term" /></td>
                </tr>
            </table>
            <br />

            <br />
            <table class="tables table-bordered border-secondary  table-sm">
                <tr class="fundo-tabela">
                    <td>Item</td>
                    <td>Descrição</td>
                    <td>Resultado</td>
                </tr>
                <tr>
                    <td rowspan="5">7.2</td>
                    <td>
                        <b>Comprimento:</b> Medir o comprimento do colchão ou colchonete em 3 pontos equidistantes, considerando como a comprimento total o valor médio encontrado em centímetros.
                    </td>
                    <td rowspan="5">
                        <input readonly class="controlador-conforme" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="tables table-bordered border-secondary  table-sm">
                            <tr class="fundo-tabela">
                                <td>Pontos De Medição</td>
                                <td>Comprimento (cm)</td>
                                <td class="teste" colspan="4">
                                    Comprimento especificado (cm)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    1°
                                </td>
                                <td colspan="2">
                                    <input class="form-control" type="text" name="comp_med_1" />
                                </td>
                                <td class="altura-input-centralizar" rowspan="3" colspan="4"><input style="margin-top:20px; margin-bottom:20px;" class="form-control altura-input altura-inputs" type="text" name="comp_espe" value="@ViewBag.comprimento" readonly /></td>
                            </tr>
                            <tr>
                                <td>
                                    2°
                                </td>
                                <td colspan="2">
                                    <input class="form-control" type="text" name="comp_med_2" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    3°
                                </td>
                                <td colspan="2">
                                    <input class="form-control" type="text" name="comp_med_3" />
                                </td>
                            </tr>
                            <tr>
                                @{
                                    double minimo_comp = double.Parse(Convert.ToString(ViewBag.comprimento)) - 1.5;
                                    double maximo_comp = double.Parse(Convert.ToString(ViewBag.comprimento)) + 1.5;
                                }
                                <td>Minimo:</td>
                                <td>@minimo_comp</td>
                                <td>Maximo:</td>
                                <td>
                                    @maximo_comp
                                </td>
                            </tr>
                            <tr>
                                <td>Media:</td>
                                <td colspan="3"><input class="form-control" readonly /> U = 0,03cm</td>
                            </tr>
                        </table>
                        <p> Nota: São adimitadas tolerâncias de ± 1,5 cm.</p>
                    </td>
                </tr>

            </table>
            <table class="tables table-bordered border-secondary  table-sm">
                <tr class="fundo-tabela">
                    <td>Item</td>
                    <td>Descrição</td>
                    <td>Resultado</td>
                </tr>
                <tr>
                    <td rowspan="5">7.2</td>
                    <td>
                        <b>Largura:</b> Medir a largura do colchão ou colchonete em 3 pontos equidistantes, considerando como a largura total o valor médio encontrado em centímetros.
                    </td>
                    <td rowspan="5">
                        <input readonly class="controlador-conforme" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="tables table-bordered border-secondary  table-sm">
                            <tr class="fundo-tabela">
                                <td>Pontos De Medição</td>
                                <td>Largura (cm)</td>
                                <td colspan="2">
                                    Largura especificado (cm)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    1°
                                </td>
                                <td colspan="2">
                                    <input class="form-control" type="text" name="larg_med_1" />
                                </td>
                                <td class="altura-input-centralizar" rowspan="3"><input style="margin-top:20px; margin-bottom:20px;" class="form-control altura-input altura-inputs" type="text" name="larg_espe" value="@ViewBag.largura" readonly /></td>
                            </tr>
                            <tr>
                                <td>
                                    2°
                                </td>
                                <td colspan="2">
                                    <input class="form-control" type="text" name="larg_med_2" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    3°
                                </td>
                                <td colspan="2">
                                    <input class="form-control" type="text" name="larg_med_3" />
                                </td>
                            </tr>
                            <tr>
                                @{
                                    double minimo_larg = double.Parse(Convert.ToString(ViewBag.largura)) - 1.5;
                                    double maximo_larg = double.Parse(Convert.ToString(ViewBag.largura)) + 1.5;
                                }
                                <td>Minimo:</td>
                                <td>@minimo_larg</td>
                                <td>Maximo:</td>
                                <td>
                                    @maximo_larg
                                </td>
                            </tr>
                            <tr>
                                <td>Media:</td>
                                <td colspan="3"><input class="form-control" readonly /> U = 0,03cm</td>
                            </tr>
                        </table>
                        <p> Nota: São adimitadas tolerâncias de ± 1,5 cm.</p>
                    </td>
                </tr>
            </table>
            <table class="tables table-bordered border-secondary  table-sm">
                <tr class="fundo-tabela">
                    <td>Item</td>
                    <td>Descrição</td>
                    <td>Resultado</td>
                </tr>
                <tr>
                    <td rowspan="5">7.2</td>
                    <td>
                        <b>Altura:</b> Medir a largura do colchão ou colchonete em 3 pontos equidistantes, considerando como a largura total o valor médio encontrado em centímetros.
                    </td>
                    <td rowspan="5">
                        <input readonly class="controlador-conforme" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="tables table-bordered border-secondary  table-sm">
                            <tr class="fundo-tabela">
                                <td>Pontos De Medição</td>
                                <td>Altura (cm)</td>
                                <td colspan="2">
                                    Altura especificado (cm)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    1°
                                </td>
                                <td colspan="2">
                                    <input class="form-control" type="text" name="alt_med_1" />
                                </td>
                                <td class="altura-input-centralizar" rowspan="3"><input style="margin-top:20px; margin-bottom:20px;" class="form-control altura-input altura-inputs" type="text" name="alt_espe" value="@ViewBag.altura" readonly /></td>
                            </tr>
                            <tr>
                                <td>
                                    2°
                                </td>
                                <td colspan="2">
                                    <input class="form-control" type="text" name="alt_med_2" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    3°
                                </td>
                                <td colspan="2">
                                    <input class="form-control" type="text" name="alt_med_3" />
                                </td>
                            </tr>
                            <tr>
                                @{
                                    double minimo_altura = double.Parse(Convert.ToString(ViewBag.altura)) - 1.5;
                                    double maximo_altura = double.Parse(Convert.ToString(ViewBag.altura)) + 1.5;
                                }
                                <td>Minimo:</td>
                                <td>@minimo_altura</td>
                                <td>Maximo:</td>
                                <td>
                                    @maximo_altura
                                </td>
                            </tr>
                            <tr>
                                <td>Media:</td>
                                <td colspan="3"><input class="form-control" readonly /> U = 0,03cm</td>
                            </tr>

                        </table>
                        <p>
                            Nota: São adimitadas tolerâncias de ± 1,5 cm
                        </p>
                    </td>

                </tr>
            </table>
            <br />
            if (ViewBag.metalasse == "Sim")
            {
                <table class="tables table-bordered border-secondary  table-sm">
                    <tr class="fundo-tabela">
                        <td>Matelassê </td>
                    </tr>
                    <tr>
                        <td>
                            Existe Matelassê?
                            <select id="tem_metalasse" name="tem_metalasse" class="controlador">
                                <option>Escolha</option>
                                <option value="Sim">Sim</option>
                                <option value="Não">Não</option>
                            </select>
                        </td>

                    </tr>
                    <tr id="tirar_quant_metalasse">
                        <td>
                            Total de Matelassê?
                            <select name="total_metalasse" id="total_metalasse" class="controlador">
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                        </td>
                    </tr>
                    <tr id="nao_tem_metalasse">
                        <td>
                            <table class="tables table-bordered border-secondary  table-sm">
                                <tr class="fundo-tabela">
                                    <td>Tipo de espuma</td>
                                    <td>Espessura mínima especificada (mm)</td>
                                </tr>
                                <tr id="excluir_input_1">
                                    <td>
                                        <select class="controlador" name="mate_tipo_espuma_1" style="width:300px;">
                                            <option></option>
                                            <option value="Espuma do Matelassê">Espuma do Matelassê </option>
                                        </select>
                                    </td>
                                    <td><input class="form-control" type="text" name="mata_esp_tipo_esp_1" /></td>
                                </tr>
                                <tr id="excluir_input_2">
                                    <td>
                                        <select class="controlador" name="mate_tipo_espuma_2" style="width:300px;">
                                            <option></option>
                                            <option value="Espuma do Matelassê">Espuma do Matelassê </option>
                                        </select>
                                    </td>
                                    <td><input class="form-control" type="text" name="mata_esp_tipo_esp_2" /></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <Br />
                </table>
            }
            <br />
            <table class="tables table-bordered border-secondary  table-sm">
                <tr class="fundo-tabela">
                    <td>Estofamento</td>
                </tr>
                <tr>
                    @* quantidade de espuma *@
                    <td>
                        Quantidade de espuma :
                        <select id="quantidade_espuma" class="controlador" name="qtd_espuma">
                            <option>Escolha</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="tables table-bordered border-secondary  table-sm">
                            <tr class="fundo-tabela">
                                <td>Tipo de espuma</td>
                                <td>Encontrado</td>
                                <td>U</td>
                                <td>Espessura mínima especificada (mm)</td>
                            </tr>
                            <tr id="tipo_empuma_1">
                                <td>
                                    <select id="tipo_1" class="controlador" name="tipo_espuma_1" style="width:300px;">
                                        <option></option>
                                        <option value="Espuma do Matelassê">Espuma do Matelassê</option>
                                        <option value="Espuma de acabamento (face sup)"> Espuma de acabamento (face sup)</option>
                                        <option value="Espuma de acabamento (face inf)">Espuma de acabamento (face inf)</option>
                                        <option value="Estofamento Convencional">Estofamento Convencional </option>
                                        <option value="Estofamento Hipermacia"> Estofamento Hipermacia</option>
                                        <option value="Estofamento Macia">Estofamento Macia </option>
                                        <option value="Estofamento Aglomerado"> Estofamento Aglomerado</option>
                                        <option value="Estofamento de alta resiliência">Estofamento de alta resiliência</option>
                                        <option value="Estofamento viscoelástico">Estofamento viscoelástico</option>
                                    </select>
                                </td>
                                <td><input class="form-control" type="text" name="enc_estofamento_1" /></td>
                                <td><input class="form-control" value="0,04mm" /></td>
                                <td><input id="esp_min1" class="form-control" type="text" name="esp_tipo_esp_1" /></td>
                            </tr>
                            <tr id="tipo_empuma_2">
                                <td>
                                    <select id="tipo_2" class="controlador" name="tipo_espuma_2" style="width:300px;">
                                        <option></option>
                                        <option value="Espuma do Matelassê">Espuma do Matelassê</option>
                                        <option value="Espuma de acabamento (face sup)"> Espuma de acabamento (face sup)</option>
                                        <option value="Espuma de acabamento (face inf)">Espuma de acabamento (face inf)</option>
                                        <option value="Estofamento Convencional">Estofamento Convencional </option>
                                        <option value="Estofamento Hipermacia"> Estofamento Hipermacia</option>
                                        <option value="Estofamento Macia">Estofamento Macia </option>
                                        <option value="Estofamento Aglomerado"> Estofamento Aglomerado</option>
                                        <option value="Estofamento de alta resiliência">Estofamento de alta resiliência</option>
                                        <option value="Estofamento viscoelástico">Estofamento viscoelástico</option>
                                    </select>
                                </td>
                                <td><input class="form-control" type="text" name="enc_estofamento_2" /></td>
                                <td><input class="form-control" value="0,04mm" /></td>
                                <td><input id="esp_min2" class="form-control" type="text" name="esp_tipo_esp_2" /></td>
                            </tr>
                            <tr id="tipo_empuma_3">
                                <td>
                                    <select id="tipo_3" class="controlador" name="tipo_espuma_3" style="width:300px;">
                                        <option></option>
                                        <option value="Espuma do Matelassê">Espuma do Matelassê</option>
                                        <option value="Espuma de acabamento (face sup)"> Espuma de acabamento (face sup)</option>
                                        <option value="Espuma de acabamento (face inf)">Espuma de acabamento (face inf)</option>
                                        <option value="Estofamento Convencional">Estofamento Convencional </option>
                                        <option value="Estofamento Hipermacia"> Estofamento Hipermacia</option>
                                        <option value="Estofamento Macia">Estofamento Macia </option>
                                        <option value="Estofamento Aglomerado"> Estofamento Aglomerado</option>
                                        <option value="Estofamento de alta resiliência">Estofamento de alta resiliência</option>
                                        <option value="Estofamento viscoelástico">Estofamento viscoelástico</option>
                                    </select>
                                </td>
                                <td><input class="form-control" type="text" name="enc_estofamento_3" /></td>
                                <td><input class="form-control" value="0,04mm" /></td>
                                <td><input id="esp_min3" class="form-control" type="text" name="esp_tipo_esp_3" /></td>
                            </tr>
                            <tr id="tipo_empuma_4">
                                <td>
                                    <select id="tipo_4" class="controlador" name="tipo_espuma_4" style="width:300px;">
                                        <option></option>
                                        <option value="Espuma do Matelassê">Espuma do Matelassê</option>
                                        <option value="Espuma de acabamento (face sup)"> Espuma de acabamento (face sup)</option>
                                        <option value="Espuma de acabamento (face inf)">Espuma de acabamento (face inf)</option>
                                        <option value="Estofamento Convencional">Estofamento Convencional </option>
                                        <option value="Estofamento Hipermacia"> Estofamento Hipermacia</option>
                                        <option value="Estofamento Macia">Estofamento Macia </option>
                                        <option value="Estofamento Aglomerado"> Estofamento Aglomerado</option>
                                        <option value="Estofamento de alta resiliência">Estofamento de alta resiliência</option>
                                        <option value="Estofamento viscoelástico">Estofamento viscoelástico</option>
                                    </select>
                                </td>
                                <td><input class="form-control" type="text" name="enc_estofamento_4" /></td>
                                <td><input class="form-control" value="0,04mm" /></td>
                                <td><input id="esp_min4" class="form-control" type="text" name="esp_tipo_esp_4" /></td>
                            </tr>
                            <tr id="tipo_empuma_5">
                                <td>
                                    <select id="tipo_5" class="controlador" name="tipo_espuma_5" style="width:300px;">
                                        <option></option>
                                        <option value="Espuma do Matelassê">Espuma do Matelassê</option>
                                        <option value="Espuma de acabamento (face sup)"> Espuma de acabamento (face sup)</option>
                                        <option value="Espuma de acabamento (face inf)">Espuma de acabamento (face inf)</option>
                                        <option value="Estofamento Convencional">Estofamento Convencional </option>
                                        <option value="Estofamento Hipermacia"> Estofamento Hipermacia</option>
                                        <option value="Estofamento Macia">Estofamento Macia </option>
                                        <option value="Estofamento Aglomerado"> Estofamento Aglomerado</option>
                                        <option value="Estofamento de alta resiliência">Estofamento de alta resiliência</option>
                                        <option value="Estofamento viscoelástico">Estofamento viscoelástico</option>
                                    </select>
                                </td>
                                <td><input class="form-control" type="text" name="enc_estofamento_5" /></td>
                                <td><input class="form-control" value="0,04mm" /></td>
                                <td><input id="esp_min5" class="form-control" type="text" name="esp_tipo_esp_5" /></td>
                            </tr>
                            <tr id="tipo_empuma_6">
                                <td>
                                    <select id="tipo_6" class="controlador" name="tipo_espuma_6" style="width:300px;">
                                        <option></option>
                                        <option value="Espuma do Matelassê">Espuma do Matelassê</option>
                                        <option value="Espuma de acabamento (face sup)"> Espuma de acabamento (face sup)</option>
                                        <option value="Espuma de acabamento (face inf)">Espuma de acabamento (face inf)</option>
                                        <option value="Estofamento Convencional">Estofamento Convencional </option>
                                        <option value="Estofamento Hipermacia"> Estofamento Hipermacia</option>
                                        <option value="Estofamento Macia">Estofamento Macia </option>
                                        <option value="Estofamento Aglomerado"> Estofamento Aglomerado</option>
                                        <option value="Estofamento de alta resiliência">Estofamento de alta resiliência</option>
                                        <option value="Estofamento viscoelástico">Estofamento viscoelástico</option>
                                    </select>
                                </td>
                                <td><input class="form-control" type="text" name="enc_estofamento_6" /></td>
                                <td><input class="form-control" value="0,04mm" /></td>
                                <td><input id="esp_min6" class="form-control" type="text" name="esp_tipo_esp_6" /></td>
                            </tr>
                            <tr id="tipo_empuma_7">
                                <td>
                                    <select id="tipo_7" class="controlador" name="tipo_espuma_7" style="width:300px;">
                                        <option></option>
                                        <option value="Espuma do Matelassê">Espuma do Matelassê</option>
                                        <option value="Espuma de acabamento (face sup)"> Espuma de acabamento (face sup)</option>
                                        <option value="Espuma de acabamento (face inf)">Espuma de acabamento (face inf)</option>
                                        <option value="Estofamento Convencional">Estofamento Convencional </option>
                                        <option value="Estofamento Hipermacia"> Estofamento Hipermacia</option>
                                        <option value="Estofamento Macia">Estofamento Macia </option>
                                        <option value="Estofamento Aglomerado"> Estofamento Aglomerado</option>
                                        <option value="Estofamento de alta resiliência">Estofamento de alta resiliência</option>
                                        <option value="Estofamento viscoelástico">Estofamento viscoelástico</option>
                                    </select>
                                </td>
                                <td><input class="form-control" type="text" name="enc_estofamento_7" /></td>
                                <td><input class="form-control" value="0,04mm" /></td>
                                <td><input id="esp_min7" class="form-control" type="text" name="esp_tipo_esp_7" /></td>
                            </tr>
                            <tr id="tipo_empuma_8">
                                <td>
                                    <select id="tipo_8" class="controlador" name="tipo_espuma_8" style="width:300px;">
                                        <option></option>
                                        <option value="Espuma do Matelassê">Espuma do Matelassê</option>
                                        <option value="Espuma de acabamento (face sup)"> Espuma de acabamento (face sup)</option>
                                        <option value="Espuma de acabamento (face inf)">Espuma de acabamento (face inf)</option>
                                        <option value="Estofamento Convencional">Estofamento Convencional </option>
                                        <option value="Estofamento Hipermacia"> Estofamento Hipermacia</option>
                                        <option value="Estofamento Macia">Estofamento Macia </option>
                                        <option value="Estofamento Aglomerado"> Estofamento Aglomerado</option>
                                        <option value="Estofamento de alta resiliência">Estofamento de alta resiliência</option>
                                        <option value="Estofamento viscoelástico">Estofamento viscoelástico</option>
                                    </select>
                                </td>
                                <td><input class="form-control" type="text" name="enc_estofamento_8" /></td>
                                <td><input class="form-control" value="0,04mm" /></td>
                                <td><input id="esp_min8" class="form-control" type="text" name="esp_tipo_esp_8" /></td>
                            </tr>
                            <tr id="tipo_empuma_9">
                                <td>
                                    <select id="tipo_9" class="controlador" name="tipo_espuma_9" style="width:300px;">
                                        <option></option>
                                        <option value="Espuma do Matelassê">Espuma do Matelassê</option>
                                        <option value="Espuma de acabamento (face sup)"> Espuma de acabamento (face sup)</option>
                                        <option value="Espuma de acabamento (face inf)">Espuma de acabamento (face inf)</option>
                                        <option value="Estofamento Convencional">Estofamento Convencional </option>
                                        <option value="Estofamento Hipermacia"> Estofamento Hipermacia</option>
                                        <option value="Estofamento Macia">Estofamento Macia </option>
                                        <option value="Estofamento Aglomerado"> Estofamento Aglomerado</option>
                                        <option value="Estofamento de alta resiliência">Estofamento de alta resiliência</option>
                                        <option value="Estofamento viscoelástico">Estofamento viscoelástico</option>
                                    </select>
                                </td>
                                <td><input class="form-control" type="text" name="enc_estofamento_9" /></td>
                                <td><input class="form-control" value="0,04mm" /></td>
                                <td><input id="esp_min9" class="form-control" type="text" name="esp_tipo_esp_9" /></td>
                            </tr>
                            <tr id="tipo_empuma_10">
                                <td>
                                    <select id="tipo_10" class="controlador" name="tipo_espuma_10" style="width:300px;">
                                        <option></option>
                                        <option value="Espuma do Matelassê">Espuma do Matelassê</option>
                                        <option value="Espuma de acabamento (face sup)"> Espuma de acabamento (face sup)</option>
                                        <option value="Espuma de acabamento (face inf)">Espuma de acabamento (face inf)</option>
                                        <option value="Estofamento Convencional">Estofamento Convencional </option>
                                        <option value="Estofamento Hipermacia"> Estofamento Hipermacia</option>
                                        <option value="Estofamento Macia">Estofamento Macia</option>
                                        <option value="Estofamento Aglomerado"> Estofamento Aglomerado</option>
                                        <option value="Estofamento de alta resiliência">Estofamento de alta resiliência</option>
                                        <option value="Estofamento viscoelástico">Estofamento viscoelástico</option>
                                    </select>
                                </td>
                                <td><input class="form-control" type="text" name="enc_estofamento_10" /></td>
                                <td><input class="form-control" value="0,04mm" /></td>
                                <td><input id="esp_min10" class="form-control" type="text" name="esp_tipo_esp_10" /></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <div class="d-grid gap-2 d-flex justify-content-center">
                <button type="submit" class="btn btn-success btn btn-primary btn-md">Salvar</button>
            </div>
        }
        else
        {
            <input id="editandoMolas" hidden="true" />
            <table class="tables table-bordered border-secondary  table-sm">
                <thead>
                    <tr>
                        <td><img src="https://www.labsystem-nuvem.com.br/imagens_arq/imagens/img/LabSystem.png" class="imagem" /></td>
                        <td colspan="3" class="fundo-tabela">Coleta De Dados</td>
                        <td class="fundo-tabela">N Os:</td>
                    </tr>
                    <tr>
                        <td colspan="4">Colchão De Molas (Portaria Inmetro 75)</td>
                        <td rowspan="3"> @ViewBag.os</td>
                    </tr>
                    <tr>
                        <td>Inicio:</td>
                        <td><input class="form-control" type="text" name="data_ini" value="@Model.data_ini" /></td>
                        <td>Termino:</td>
                        <td><input class="form-control" type="text" name="data_term" value="@Model.data_term" /></td>
                    </tr>
                    <tr>
                        <td>Executor do ensaio:</td>
                        <td><input class="form-control" asp-for="executor" /></td>
                        <td>Responsável pela conferência:</td>
                        <td>
                            <select class="form-control" asp-for="auxiliar" asp-items="(List<SelectListItem>)@ViewBag.listaResponsaveis">
                            </select>
                        </td>
                    </tr>
                </thead>
            </table>

            <table class="tables table-bordered border-secondary  table-sm">
                <tr>
                    <td>Temperatura Inicial:</td>
                    <td><input class="form-control" type="text" name="temp_ini" value="@Model.temp_ini" /></td>
                    <td>Temperatura Final:</td>
                    <td><input class="form-control" type="text" name="temp_term" value="@Model.temp_term" /></td>
                </tr>
            </table>
            <br />

            <table class="tables table-bordered border-secondary  table-sm">
                <tr class="fundo-tabela">
                    <td>Item</td>
                    <td>Descrição</td>
                    <td>Resultado</td>
                </tr>
                <tr>
                    <td rowspan="5">7.2</td>
                    <td>
                        <b>Comprimento:</b> Medir o comprimento do colchão ou colchonete em 3 pontos equidistantes, considerando como a comprimento total o valor médio encontrado em centímetros.
                    </td>
                    <td rowspan="5">
                        <input readonly class="controlador-conforme" value="@Model.conforme_comprimento" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="tables table-bordered border-secondary  table-sm">
                            <tr class="fundo-tabela">
                                <td>Pontos De Medição</td>
                                <td>Comprimento (cm)</td>
                                <td colspan="2">
                                    Comprimento especificado (cm)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    1°
                                </td>
                                <td colspan="2">
                                    <input class="form-control" type="text" name="comp_med_1" value="@Model.comp_med_1" />
                                </td>
                                <td class="altura-input-centralizar" rowspan="3"><input style="margin-top:20px; margin-bottom:20px;" class="form-control altura-input altura-inputs" type="text" name="comp_espe" value="@ViewBag.comprimento" readonly /></td>
                            </tr>
                            <tr>
                                <td>
                                    2°
                                </td>
                                <td colspan="2">
                                    <input class="form-control" type="text" name="comp_med_2" value="@Model.comp_med_2" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    3°
                                </td>
                                <td colspan="2">
                                    <input class="form-control" type="text" name="comp_med_3" value="@Model.comp_med_3" />
                                </td>
                            </tr>
                            <tr>
                                @{
                                    double minimo_comp = double.Parse(Convert.ToString(ViewBag.comprimento)) - 1.5;
                                    double maximo_comp = double.Parse(Convert.ToString(ViewBag.comprimento)) + 1.5;
                                }
                                <td>Minimo:</td>
                                <td>@minimo_comp</td>
                                <td>Maximo:</td>
                                <td>
                                    @maximo_comp
                                </td>
                            </tr>
                            <tr>
                                <td>Media:</td>
                                <td colspan="3"><input class="form-control" readonly value="@Model.com_media" /> U = 0,03cm</td>
                            </tr>
                        </table>
                        <p> Nota: São adimitadas tolerâncias de ± 1,5 cm.</p>
                    </td>
                </tr>

            </table>
            <table class="tables table-bordered border-secondary  table-sm">
                <tr class="fundo-tabela">
                    <td>Item</td>
                    <td>Descrição</td>
                    <td>Resultado</td>
                </tr>
                <tr>
                    <td rowspan="5">7.2</td>
                    <td>
                        <b>Largura:</b> Medir a largura do colchão ou colchonete em 3 pontos equidistantes, considerando como a largura total o valor médio encontrado em centímetros.
                    </td>
                    <td rowspan="5">
                        <input readonly class="controlador-conforme" value="@Model.conforme_largura" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="tables table-bordered border-secondary  table-sm">
                            <tr class="fundo-tabela">
                                <td>Pontos De Medição</td>
                                <td>Largura (cm)</td>
                                <td colspan="2">
                                    Largura especificado (cm)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    1°
                                </td>
                                <td colspan="2">
                                    <input class="form-control" type="text" name="larg_med_1" value="@Model.larg_med_1" />
                                </td>
                                <td class="altura-input-centralizar" rowspan="3"><input style="margin-top:20px; margin-bottom:20px;" class="form-control altura-input altura-inputs" type="text" name="larg_espe" value="@ViewBag.largura" readonly /></td>
                            </tr>
                            <tr>
                                <td>
                                    2°
                                </td>
                                <td colspan="2">
                                    <input class="form-control" type="text" name="larg_med_2" value="@Model.larg_med_2" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    3°
                                </td>
                                <td colspan="2">
                                    <input class="form-control" type="text" name="larg_med_3" value="@Model.larg_med_3" />
                                </td>
                            </tr>
                            <tr>
                                @{
                                    double minimo_larg = double.Parse(Convert.ToString(ViewBag.largura)) - 1.5;
                                    double maximo_larg = double.Parse(Convert.ToString(ViewBag.largura)) + 1.5;
                                }
                                <td>Minimo:</td>
                                <td>@minimo_larg</td>
                                <td>Maximo:</td>
                                <td>
                                    @maximo_larg
                                </td>
                            </tr>
                            <tr>
                                <td>Media:</td>
                                <td colspan="3"><input class="form-control" readonly value="@Model.larg_media" /> U = 0,03cm</td>
                            </tr>
                        </table>
                        <p> Nota: São adimitadas tolerâncias de ± 1,5 cm.</p>
                    </td>
                </tr>
            </table>
            <table class="tables table-bordered border-secondary  table-sm">
                <tr class="fundo-tabela">
                    <td>Item</td>
                    <td>Descrição</td>
                    <td>Resultado</td>
                </tr>
                <tr>
                    <td rowspan="5">7.2</td>
                    <td>
                        <b>Altura:</b> Medir a largura do colchão ou colchonete em 3 pontos equidistantes, considerando como a largura total o valor médio encontrado em centímetros.
                    </td>
                    <td rowspan="5">
                        <input readonly class="controlador-conforme" value="@Model.conforme_comprimento" value="@Model.conforme_altura" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="tables table-bordered border-secondary  table-sm">
                            <tr class="fundo-tabela">
                                <td>Pontos De Medição</td>
                                <td>Altura (cm)</td>
                                <td colspan="2">
                                    Altura especificado (cm)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    1°
                                </td>
                                <td colspan="2">
                                    <input class="form-control" type="text" name="alt_med_1" value="@Model.alt_med_1" />
                                </td>
                                <td class="altura-input-centralizar" rowspan="3"><input style="margin-top:20px; margin-bottom:20px;" class="form-control altura-input altura-inputs" type="text" name="alt_espe" value="@ViewBag.altura" readonly /></td>
                            </tr>
                            <tr>
                                <td>
                                    2°
                                </td>
                                <td colspan="2">
                                    <input class="form-control" type="text" name="alt_med_2" value="@Model.alt_med_2" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    3°
                                </td>
                                <td colspan="2">
                                    <input class="form-control" type="text" name="alt_med_3" value="@Model.alt_med_3" />
                                </td>
                            </tr>
                            <tr>
                                @{
                                    double minimo_altura = double.Parse(Convert.ToString(ViewBag.altura)) - 1.5;
                                    double maximo_altura = double.Parse(Convert.ToString(ViewBag.altura)) + 1.5;
                                }
                                <td>Minimo:</td>
                                <td>@minimo_altura</td>
                                <td>Maximo:</td>
                                <td>
                                    @maximo_altura
                                </td>
                            </tr>
                            <tr>
                                <td>Media:</td>
                                <td colspan="3"><input class="form-control" readonly value="@Model.alt_media" /> U = 0,03cm</td>
                            </tr>

                        </table>
                        <p>
                            Nota: São adimitadas tolerâncias de ± 1,5 cm
                        </p>
                    </td>

                </tr>
            </table>
            <br />
            @if (ViewBag.metalasse == "Sim")
            {
                <table class="tables table-bordered border-secondary  table-sm">
                    <tr class="fundo-tabela">
                        <td>Matelassê </td>
                    </tr>
                    <tr>
                        <td>
                            Existe Matelassê?
                            <select id="tem_metalasse" name="tem_metalasse" class="controlador">
                                <option>@Model.tem_metalasse</option>
                                <option value="Sim">Sim</option>
                                <option value="Não">Não</option>
                            </select>
                        </td>
                    </tr>
                    <tr id="tirar_quant_metalasse">
                        <td>
                            Total de Matelassê?
                            <select name="total_metalasse" id="total_metalasse" class="controlador">
                                <option>@Model.total_metalasse</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                        </td>
                    </tr>
                    <tr id="nao_tem_metalasse">
                        <td>
                            <table class="tables table-bordered border-secondary  table-sm">
                                <tr class="fundo-tabela">
                                    <td>Tipo de espuma</td>
                                    <td>Declaração de espuma</td>
                                    <td>Densidade (kg/m³)</td>
                                    <td>Encontrado</td>
                                    <td>Espessura mínima especificada (mm)</td>
                                    <td>Resultado</td>
                                </tr>
                                <tr id="excluir_input_1">
                                    <td><input class="form-control" type="text" name="mate_tipo_espuma_1" value="Espuma do Matelassê" readonly></td>
                                    <td><input class="form-control" type="text" name="declaracao_espuma1" value="@Model.declaracao_espuma1" /></td>
                                    <td><input class="form-control" type="text" name="densidade1" value="@Model.densidade1" /></td>
                                    <td><input class="form-control" type="text" name="mata_esp_tipo_esp_1" value="@Model.mata_esp_tipo_esp_1" /></td>
                                    <td><input class="form-control" type="text" value="10" readonly /></td>
                                    <td rowspan="2">@Model.conformidade_mat</td>
                                </tr>
                                <tr id="excluir_input_2">
                                    <td><input class="form-control" type="text" name="mate_tipo_espuma_2" value="Espuma do Matelassê" readonly></td>
                                    <td><input class="form-control" type="text" name="declaracao_espuma2" value="@Model.declaracao_espuma2" /></td>
                                    <td><input class="form-control" type="text" name="densidade2" value="@Model.densidade2" /></td>
                                    <td><input class="form-control" type="text" name="mata_esp_tipo_esp_2" value="@Model.mata_esp_tipo_esp_2" /></td>
                                    <td><input class="form-control" type="text" value="10" readonly /></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <br>
                </table>
            }
            <br>
            <table class="tables table-bordered border-secondary  table-sm">
                <tr class="fundo-tabela">
                    <td>Estofamento</td>
                </tr>
                <tr>
                    <td>
                        Quantidade de espuma :
                        <select id="quantidade_espuma" class="controlador" name="qtd_espuma">
                            <option>@Model.qtd_espuma</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="tables table-bordered border-secondary  table-sm">
                            <tr class="fundo-tabela">
                                <td>Tipo de espuma</td>
                                <td>Encontrado</td>
                                <td>U</td>
                                <td>Espessura mínima especificada (mm)</td>
                                <td>Resultado</td>
                            </tr>
                            <tr id="tipo_empuma_1">
                                <td>
                                    <select id="tipo_1" class="controlador" name="tipo_espuma_1" style="width:300px;">
                                        <option selected>@Model.tipo_espuma_1</option>
                                        <option value="Espuma do Matelassê">Espuma do Matelassê</option>
                                        <option value="Espuma de acabamento (face sup)"> Espuma de acabamento (face sup)</option>
                                        <option value="Espuma de acabamento (face inf)">Espuma de acabamento (face inf)</option>
                                        <option value="Estofamento Convencional">Estofamento Convencional </option>
                                        <option value="Estofamento Hipermacia"> Estofamento Hipermacia</option>
                                        <option value="Estofamento Macia">Estofamento Macia </option>
                                        <option value="Estofamento Aglomerado"> Estofamento Aglomerado</option>
                                        <option value="Estofamento de alta resiliência">Estofamento de alta resiliência</option>
                                        <option value="Estofamento viscoelástico">Estofamento viscoelástico</option>
                                    </select>
                                </td>
                                <td><input class="form-control" type="text" name="enc_estofamento_1" value="@Model.enc_estofamento_1" /></td>
                                <td><input class="form-control" value="0,04mm" readonly /></td>
                                <td><input id="esp_min1" class="form-control" type="text" name="esp_tipo_esp_1" value="@Model.esp_tipo_esp_1" readonly /></td>
                                <td>@Model.conformidade</td>
                            </tr>
                            <tr id="tipo_empuma_2">
                                <td>
                                    <select id="tipo_2" class="controlador" name="tipo_espuma_2" style="width:300px;">
                                        <option selected>@Model.tipo_espuma_2</option>
                                        <option value="Espuma do Matelassê">Espuma do Matelassê</option>
                                        <option value="Espuma de acabamento (face sup)"> Espuma de acabamento (face sup)</option>
                                        <option value="Espuma de acabamento (face inf)">Espuma de acabamento (face inf)</option>
                                        <option value="Estofamento Convencional">Estofamento Convencional </option>
                                        <option value="Estofamento Hipermacia"> Estofamento Hipermacia</option>
                                        <option value="Estofamento Macia">Estofamento Macia </option>
                                        <option value="Estofamento Aglomerado"> Estofamento Aglomerado</option>
                                        <option value="Estofamento de alta resiliência">Estofamento de alta resiliência</option>
                                        <option value="Estofamento viscoelástico">Estofamento viscoelástico</option>
                                    </select>
                                </td>
                                <td><input class="form-control" type="text" name="enc_estofamento_2" value="@Model.enc_estofamento_2" /></td>
                                <td><input class="form-control" value="0,04mm" readonly /></td>
                                <td><input id="esp_min2" class="form-control" type="text" name="esp_tipo_esp_2" value="@Model.esp_tipo_esp_2" readonly /></td>
                                <td>@Model.conformidade_2</td>
                            </tr>
                            <tr id="tipo_empuma_3">
                                <td>
                                    <select id="tipo_3" class="controlador" name="tipo_espuma_3" style="width:300px;">
                                        <option selected>@Model.tipo_espuma_3</option>
                                        <option value="Espuma do Matelassê">Espuma do Matelassê</option>
                                        <option value="Espuma de acabamento (face sup)"> Espuma de acabamento (face sup)</option>
                                        <option value="Espuma de acabamento (face inf)">Espuma de acabamento (face inf)</option>
                                        <option value="Estofamento Convencional">Estofamento Convencional </option>
                                        <option value="Estofamento Hipermacia"> Estofamento Hipermacia</option>
                                        <option value="Estofamento Macia">Estofamento Macia </option>
                                        <option value="Estofamento Aglomerado"> Estofamento Aglomerado</option>
                                        <option value="Estofamento de alta resiliência">Estofamento de alta resiliência</option>
                                        <option value="Estofamento viscoelástico">Estofamento viscoelástico</option>
                                    </select>
                                </td>
                                <td><input class="form-control" type="text" name="enc_estofamento_3" value="@Model.enc_estofamento_3" /></td>
                                <td><input class="form-control" value="0,04mm" readonly /></td>
                                <td><input id="esp_min3" class="form-control" type="text" name="esp_tipo_esp_3" value="@Model.esp_tipo_esp_3" readonly /></td>
                                <td>@Model.conformidade_3</td>
                            </tr>
                            <tr id="tipo_empuma_4">
                                <td>
                                    <select id="tipo_4" class="controlador" name="tipo_espuma_4" style="width:300px;">
                                        <option selected>@Model.tipo_espuma_4</option>
                                        <option value="Espuma do Matelassê">Espuma do Matelassê</option>
                                        <option value="Espuma de acabamento (face sup)"> Espuma de acabamento (face sup)</option>
                                        <option value="Espuma de acabamento (face inf)">Espuma de acabamento (face inf)</option>
                                        <option value="Estofamento Convencional">Estofamento Convencional </option>
                                        <option value="Estofamento Hipermacia"> Estofamento Hipermacia</option>
                                        <option value="Estofamento Macia">Estofamento Macia </option>
                                        <option value="Estofamento Aglomerado"> Estofamento Aglomerado</option>
                                        <option value="Estofamento de alta resiliência">Estofamento de alta resiliência</option>
                                        <option value="Estofamento viscoelástico">Estofamento viscoelástico</option>
                                    </select>
                                </td>
                                <td><input class="form-control" type="text" name="enc_estofamento_4" value="@Model.enc_estofamento_4" /></td>
                                <td><input class="form-control" value="0,04mm" readonly /></td>
                                <td><input id="esp_min4" class="form-control" type="text" name="esp_tipo_esp_4" value="@Model.esp_tipo_esp_4" readonly /></td>
                                <td>@Model.conformidade_4</td>
                            </tr>

                            <tr id="tipo_empuma_5">
                                <td>
                                    <select id="tipo_5" class="controlador" name="tipo_espuma_5" style="width:300px;">
                                        <option selected>@Model.tipo_espuma_5</option>
                                        <option value="Espuma do Matelassê">Espuma do Matelassê</option>
                                        <option value="Espuma de acabamento (face sup)"> Espuma de acabamento (face sup)</option>
                                        <option value="Espuma de acabamento (face inf)">Espuma de acabamento (face inf)</option>
                                        <option value="Estofamento Convencional">Estofamento Convencional </option>
                                        <option value="Estofamento Hipermacia"> Estofamento Hipermacia</option>
                                        <option value="Estofamento Macia">Estofamento Macia </option>
                                        <option value="Estofamento Aglomerado"> Estofamento Aglomerado</option>
                                        <option value="Estofamento de alta resiliência">Estofamento de alta resiliência</option>
                                        <option value="Estofamento viscoelástico">Estofamento viscoelástico</option>
                                    </select>
                                </td>
                                <td><input class="form-control" type="text" name="enc_estofamento_5" value="@Model.enc_estofamento_5" /></td>
                                <td><input class="form-control" value="0,04mm" readonly /></td>
                                <td><input id="esp_min5" class="form-control" type="text" name="esp_tipo_esp_5" value="@Model.esp_tipo_esp_5" readonly /></td>
                                <td>@Model.conformidade_5</td>
                            </tr>
                            @* Não foi acrescentado a declaracao_espuma1 e 2 e densidade 1 e 2 nas quantidades abaixo porque até então, eles nunca passaram de 5 quantidades.
                                    Se precisar, necessário criar novas variaveis para o banco e para ColetaController.
                                *@
                            <tr id="tipo_empuma_6">
                                <td>
                                    <select id="tipo_6" class="controlador" name="tipo_espuma_6" style="width:300px;">
                                        <option selected>@Model.tipo_espuma_6</option>
                                        <option value="Espuma do Matelassê">Espuma do Matelassê</option>
                                        <option value="Espuma de acabamento (face sup)"> Espuma de acabamento (face sup)</option>
                                        <option value="Espuma de acabamento (face inf)">Espuma de acabamento (face inf)</option>
                                        <option value="Estofamento Convencional">Estofamento Convencional </option>
                                        <option value="Estofamento Hipermacia"> Estofamento Hipermacia</option>
                                        <option value="Estofamento Macia">Estofamento Macia </option>
                                        <option value="Estofamento Aglomerado"> Estofamento Aglomerado</option>
                                        <option value="Estofamento de alta resiliência">Estofamento de alta resiliência</option>
                                        <option value="Estofamento viscoelástico">Estofamento viscoelástico</option>
                                    </select>
                                </td>
                                <td><input class="form-control" type="text" name="enc_estofamento_6" value="@Model.enc_estofamento_6" /></td>
                                <td><input class="form-control" value="0,04mm" readonly /></td>
                                <td><input id="esp_min6" class="form-control" type="text" name="esp_tipo_esp_6" value="@Model.esp_tipo_esp_6" readonly /></td>
                                <td>@Model.conformidade_6</td>
                            </tr>

                            <tr id="tipo_empuma_7">
                                <td>
                                    <select id="tipo_7" class="controlador" name="tipo_espuma_7" style="width:300px;">
                                        <option selected>@Model.tipo_espuma_7</option>
                                        <option value="Espuma do Matelassê">Espuma do Matelassê</option>
                                        <option value="Espuma de acabamento (face sup)"> Espuma de acabamento (face sup)</option>
                                        <option value="Espuma de acabamento (face inf)">Espuma de acabamento (face inf)</option>
                                        <option value="Estofamento Convencional">Estofamento Convencional </option>
                                        <option value="Estofamento Hipermacia"> Estofamento Hipermacia</option>
                                        <option value="Estofamento Macia">Estofamento Macia </option>
                                        <option value="Estofamento Aglomerado"> Estofamento Aglomerado</option>
                                        <option value="Estofamento de alta resiliência">Estofamento de alta resiliência</option>
                                        <option value="Estofamento viscoelástico">Estofamento viscoelástico</option>
                                    </select>
                                </td>
                                <td><input class="form-control" type="text" name="enc_estofamento_7" value="@Model.enc_estofamento_7" /></td>
                                <td><input class="form-control" value="0,04mm" readonly /></td>
                                <td><input id="esp_min7" class="form-control" type="text" name="esp_tipo_esp_7" value="@Model.esp_tipo_esp_7" readonly /></td>
                                <td>@Model.conformidade_7</td>
                            </tr>

                            <tr id="tipo_empuma_8">
                                <td>
                                    <select id="tipo_8" class="controlador" name="tipo_espuma_8" style="width:300px;">
                                        <option selected>@Model.tipo_espuma_8</option>
                                        <option value="Espuma do Matelassê">Espuma do Matelassê</option>
                                        <option value="Espuma de acabamento (face sup)"> Espuma de acabamento (face sup)</option>
                                        <option value="Espuma de acabamento (face inf)">Espuma de acabamento (face inf)</option>
                                        <option value="Estofamento Convencional">Estofamento Convencional </option>
                                        <option value="Estofamento Hipermacia"> Estofamento Hipermacia</option>
                                        <option value="Estofamento Macia">Estofamento Macia </option>
                                        <option value="Estofamento Aglomerado"> Estofamento Aglomerado</option>
                                        <option value="Estofamento de alta resiliência">Estofamento de alta resiliência</option>
                                        <option value="Estofamento viscoelástico">Estofamento viscoelástico</option>
                                    </select>
                                </td>
                                <td><input class="form-control" type="text" name="enc_estofamento_8" value="@Model.enc_estofamento_8" /></td>
                                <td><input class="form-control" value="0,04mm" readonly /></td>
                                <td><input id="esp_min8" class="form-control" type="text" name="esp_tipo_esp_8" value="@Model.esp_tipo_esp_8" readonly /></td>
                                <td>@Model.conformidade_8</td>
                            </tr>

                            <tr id="tipo_empuma_9">
                                <td>
                                    <select id="tipo_9" class="controlador" name="tipo_espuma_9" style="width:300px;">
                                        <option selected>@Model.tipo_espuma_9</option>
                                        <option value="Espuma do Matelassê">Espuma do Matelassê</option>
                                        <option value="Espuma de acabamento (face sup)"> Espuma de acabamento (face sup)</option>
                                        <option value="Espuma de acabamento (face inf)">Espuma de acabamento (face inf)</option>
                                        <option value="Estofamento Convencional">Estofamento Convencional </option>
                                        <option value="Estofamento Hipermacia"> Estofamento Hipermacia</option>
                                        <option value="Estofamento Macia">Estofamento Macia </option>
                                        <option value="Estofamento Aglomerado"> Estofamento Aglomerado</option>
                                        <option value="Estofamento de alta resiliência">Estofamento de alta resiliência</option>
                                        <option value="Estofamento viscoelástico">Estofamento viscoelástico</option>
                                    </select>
                                </td>
                                <td><input class="form-control" type="text" name="enc_estofamento_9" value="@Model.enc_estofamento_9" /></td>
                                <td><input class="form-control" value="0,04mm" readonly /></td>
                                <td><input id="esp_min9" class="form-control" type="text" name="esp_tipo_esp_9" value="@Model.esp_tipo_esp_9" readonly /></td>
                                <td>@Model.conformidade_9</td>
                            </tr>

                            <tr id="tipo_empuma_10">
                                <td>
                                    <select id="tipo_10" class="controlador" name="tipo_espuma_10" style="width:300px;">
                                        <option selected>@Model.tipo_espuma_10</option>
                                        <option value="Espuma do Matelassê">Espuma do Matelassê</option>
                                        <option value="Espuma de acabamento (face sup)"> Espuma de acabamento (face sup)</option>
                                        <option value="Espuma de acabamento (face inf)">Espuma de acabamento (face inf)</option>
                                        <option value="Estofamento Convencional">Estofamento Convencional </option>
                                        <option value="Estofamento Hipermacia"> Estofamento Hipermacia</option>
                                        <option value="Estofamento Macia">Estofamento Macia </option>
                                        <option value="Estofamento Aglomerado"> Estofamento Aglomerado</option>
                                        <option value="Estofamento de alta resiliência">Estofamento de alta resiliência</option>
                                        <option value="Estofamento viscoelástico">Estofamento viscoelástico</option>
                                    </select>
                                </td>
                                <td><input class="form-control" type="text" name="enc_estofamento_10" value="@Model.enc_estofamento_10" /></td>
                                <td><input class="form-control" value="0,04mm" readonly /></td>
                                <td><input id="esp_min10" class="form-control" type="text" name="esp_tipo_esp_10" value="@Model.esp_tipo_esp_10" readonly /></td>
                                <td>@Model.conformidade_10</td>
                            </tr>

                        </table>
                    </td>
                </tr>
            </table>
            <br>
            @if (ViewBag.bloqueada != "Sim")
            {
                <div class="d-grid gap-2 d-flex justify-content-center">
                    <button type="submit" class="btn btn-success btn btn-primary btn-md">Editar Dados</button>
                </div>
            }
            else
            {
                <div class="d-flex justify-content-center">
                    <div class="alert alert-danger w-50 p-3 m-3 text-center" role="alert">
                        Coleta Bloqueada!
                    </div>
                </div>
            }
        }
    </form>
    <br />
    <br />
    <br />
    
    <footer class="d-flex justify-content-center align-items-center border-top bg-white py-3 fixed-bottom" style="margin: auto; width: 100%; bottom: 0; position: fixed;">
        <div class="d-flex align-items-center">
            <a asp-controller="Home" asp-action="Index" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                <img src="https://www.labsystem-nuvem.com.br/imagens_arq/imagens/img/LabSystem.png" class="bi" width="25" height="24" />
            </a>
            <span class="mb-4 mb-md-0 text-body-secondary" style="font-size: 14px;">&copy; Coleta Colchao - CD-SI 001/MVS - 10/02/2025 - Rev 1</span>
        </div>
    </footer>

    @if (TempData.ContainsKey("Mensagem"))
    {
        <script>
            alert('@Html.Raw(TempData["Mensagem"])');
        </script>
    }


    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var quantidade_espuma = document.querySelector('select[id="quantidade_espuma"]');
            var quantidade_1 = document.getElementById("tipo_empuma_1");
            var quantidade_2 = document.getElementById("tipo_empuma_2");
            var quantidade_3 = document.getElementById("tipo_empuma_3");
            var quantidade_4 = document.getElementById("tipo_empuma_4");
            var quantidade_5 = document.getElementById("tipo_empuma_5");
            var quantidade_6 = document.getElementById("tipo_empuma_6");
            var quantidade_7 = document.getElementById("tipo_empuma_7");
            var quantidade_8 = document.getElementById("tipo_empuma_8");
            var quantidade_9 = document.getElementById("tipo_empuma_9");
            var quantidade_10 = document.getElementById("tipo_empuma_10");

            function atualizarVisibilidade() {
                var valor = parseInt(quantidade_espuma.value, 10);

                for (var i = 1; i <= 10; i++) {
                    var linha = document.getElementById("tipo_empuma_" + i);
                    if (linha) {
                        if (i <= valor) {
                            linha.style.display = 'table-row';
                        } else {
                            linha.style.display = 'none';
                        }
                    }
                }
            }

            // Inicializa a visibilidade das linhas com base no valor inicial do select
            atualizarVisibilidade();

            // Adiciona o evento de mudança no select para atualizar a visibilidade
            quantidade_espuma.addEventListener('change', atualizarVisibilidade);
        });
    </script>

    <script>
        var tem_metalasse = document.getElementById("tem_metalasse");

        var total_metalasse = document.getElementById("total_metalasse");
        var tirar_quant_metalasse = document.getElementById("tirar_quant_metalasse");
        var inputs_adicionais_1 = document.getElementById("excluir_input_1");
        var inputs_adicionais_2 = document.getElementById("excluir_input_2");
        var nao_tem_metalasse = document.getElementById("nao_tem_metalasse");

        document.addEventListener('DOMContentLoaded', function () {
            // Verifica e aplica o estado inicial do 'total_metalasse'
            var valorSelecionadoTotal = total_metalasse.value;
            if (valorSelecionadoTotal === "1") {
                inputs_adicionais_1.style.display = "table-row";
                inputs_adicionais_2.style.display = "none";
            } else if (valorSelecionadoTotal === "2") {
                inputs_adicionais_1.style.display = "table-row";
                inputs_adicionais_2.style.display = "table-row";
            }
        });

        tem_metalasse.addEventListener('change', function () {
            var valorSelecionado = tem_metalasse.value;
            if (valorSelecionado === "Sim") {
                // Mostrar total de Matelassê
                tirar_quant_metalasse.style.display = "table-row";
                nao_tem_metalasse.style.display = "table-row";
            } else if (valorSelecionado === "Não") {
                // Esconder total de Matelassê
                tirar_quant_metalasse.style.display = "none";
                nao_tem_metalasse.style.display = "none";
            }
        });

        total_metalasse.addEventListener('change', function () {
            var valorSelecionado = total_metalasse.value;
            if (valorSelecionado === "1") {
                inputs_adicionais_1.style.display = "table-row";
                inputs_adicionais_2.style.display = "none";
            } else if (valorSelecionado === "2") {
                inputs_adicionais_1.style.display = "table-row";
                inputs_adicionais_2.style.display = "table-row";
            }
        });

    </script>

    <script>
        const tipo_1 = document.querySelector("#tipo_1");
        const esp_min1 = document.getElementById("esp_min1");
        const tipo_2 = document.querySelector("#tipo_2");
        const esp_min2 = document.getElementById("esp_min2");
        const tipo_3 = document.querySelector("#tipo_3");
        const esp_min3 = document.getElementById("esp_min3");
        const tipo_4 = document.querySelector("#tipo_4");
        const esp_min4 = document.getElementById("esp_min4");
        const tipo_5 = document.querySelector("#tipo_5");
        const esp_min5 = document.getElementById("esp_min5");
        const tipo_6 = document.querySelector("#tipo_6");
        const esp_min6 = document.getElementById("esp_min6");
        const tipo_7 = document.querySelector("#tipo_7");
        const esp_min7 = document.getElementById("esp_min7");
        const tipo_8 = document.querySelector("#tipo_8");
        const esp_min8 = document.getElementById("esp_min8");
        const tipo_9 = document.querySelector("#tipo_9");
        const esp_min9 = document.getElementById("esp_min9");
        const tipo_10 = document.querySelector("#tipo_10");
        const esp_min10 = document.getElementById("esp_min10");

        tipo_1.addEventListener('change', function () {
            if (tipo_1.value === "Espuma do Matelassê") {
                esp_min1.value = "10";
            } else {
                esp_min1.value = "20";
            }
        });
        tipo_2.addEventListener('change', function () {
            if (tipo_2.value === "Espuma do Matelassê") {
                esp_min2.value = "10";
            } else {
                esp_min2.value = "20";
            }
        });
        tipo_3.addEventListener('change', function () {
            if (tipo_3.value === "Espuma do Matelassê") {
                esp_min3.value = "10";
            } else {
                esp_min3.value = "20";
            }
        });
        tipo_4.addEventListener('change', function () {
            if (tipo_4.value === "Espuma do Matelassê") {
                esp_min4.value = "10";
            } else {
                esp_min4.value = "20";
            }
        });
        tipo_5.addEventListener('change', function () {
            if (tipo_5.value === "Espuma do Matelassê") {
                esp_min5.value = "10";
            } else {
                esp_min5.value = "20";
            }
        });
        tipo_6.addEventListener('change', function () {
            if (tipo_6.value === "Espuma do Matelassê") {
                esp_min6.value = "10";
            } else {
                esp_min6.value = "20";
            }
        });
        tipo_7.addEventListener('change', function () {
            if (tipo_7.value === "Espuma do Matelassê") {
                esp_min7.value = "10";
            } else {
                esp_min7.value = "20";
            }
        });
        tipo_8.addEventListener('change', function () {
            if (tipo_8.value === "Espuma do Matelassê") {
                esp_min8.value = "10";
            } else {
                esp_min8.value = "20";
            }
        });
        tipo_9.addEventListener('change', function () {
            if (tipo_9.value === "Espuma do Matelassê") {
                esp_min9.value = "10";
            } else {
                esp_min9.value = "20";
            }
        });
        tipo_10.addEventListener('change', function () {
            if (tipo_10.value === "Espuma do Matelassê") {
                esp_min10.value = "10";
            } else {
                esp_min10.value = "20";
            }
        });
    </script>



    <script>
        document.addEventListener("keydown", function (e) {
            if (e.keyCode === 13) {
                e.preventDefault();
            }
        });
    </script>

</body>
</html>