@model ColetaModel.Ensaio7_7;
@{
    Layout = null;
}
@{
    ViewData["Title"] = "AVALIAÇÃO DO MOLEJO ";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/coleta.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        input {
            text-align: center;
        }

        .controlador-conforme {
            padding: 5px;
            border-color: gray;
            border-radius: 5px;
            box-sizing: border-box;
            height: 200px;
            width: 70px;
            margin: 0px;
        }
    </style>
</head>
<body>
    <form method="post" asp-action="SalvarEnsaio7_7" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento">
        @if (Model == null)
        {
            <table class="tables table-bordered border-secondary  table-sm">
                <thead>
                    <tr>
                        <td><img src="https://www.labsystem-nuvem.com.br/imagens_arq/imagens/img/LabSystem.png" class="imagem" /></td>
                        <td colspan="3" class="fundo-tabela">Coleta De Dados</td>
                        <td class="fundo-tabela">N Os:</td>
                    </tr>
                    <tr>
                        <td colspan="4">Colchão De Molas (Portaria Inmetro 75)</td>
                        <td rowspan="2"> @ViewBag.os</td>
                    </tr>
                    <tr>
                        <td class="fundo-tabela">Inicio:</td>
                        <td><input class="form-control" type="date" name="data_ini" /></td>
                        <td class="fundo-tabela">Termino:</td>
                        <td><input class="form-control" type="date" name="data_term" /></td>
                    </tr>
                </thead>
            </table>

            <table class="tables table-bordered border-secondary  table-sm">
                <tr>
                    <td rowspan="20">7.7</td>
                    <td class="fundo-tabela">
                        <b> Ensaio de Rolagem</b>
                    </td>
                    <td rowspan="9"><input class="controlador-conforme" disabled /></td>

                </tr>
                <tr>
                    <td>Após o término do ensaio de rolagem, verificar visualmente as seguintes características: </td>
                </tr>
                <tr>
                    <td>
                        Houve rasgos ou engarçamentos no revestimento?
                        <select class="controlador" name="rasgo">
                            <option selected> --- </option>
                            <option value="Sim"> Sim </option>
                            <option value="Não"> Não </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Houve quebra de molas no molejo?
                        <select class="controlador" name="quebra">
                            <option selected> --- </option>
                            <option value="Sim"> Sim </option>
                            <option value="Não"> Não </option>
                        </select>
                    </td>
                </tr>
            </table>
            <table class="tables table-bordered border-secondary  table-sm">
                <tr>
                    <td rowspan="30">7.7</td>
                    <td>
                        <b>
                            Avaliação Do Molejo.
                        </b>
                    </td>
                    <td rowspan="14"></td>
                </tr>
                <tr>
                    <td>
                        Esta avaliação deve ser realizada no molejo do colchão.
                    </td>
                </tr>
                <tr>
                    <td>
                        Retirar o revestimento da face do colchão e verificar as informações conforme tabela abaixo.
                    </td>
                </tr>

                <tr>
                    <td>
                        <table class="tables table-bordered border-secondary  table-sm">
                            @if(ViewBag.tipo == "Bonell |" || ViewBag.tipo == "Bonell ||" || ViewBag.tipo2 == "Bonell |" || ViewBag.tipo2 == "Bonell ||")
                            {
                                <tr class="fundo-tabela">
                                    <td colspan="6">Tabela - Quantidade minima de molas para cada tipo de molejo</td>
                                </tr>
                                <tr class="fundo-tabela">
                                    <td>Tipo</td>
                                    <td>Ø minimo da Bitola (mm)</td>
                                    <td>Especificado do mínimo da Bitola (mm)</td>
                                    <td>Especificado do mínimo de molas da bitola (mm)</td>
                                    <td>Nº médio de molas por m²</td>
                                    <td>Resultado</td>
                                </tr>
                            }
                            else
                            {
                                <tr class="fundo-tabela">
                                    <td colspan="5">Tabela - Quantidade minima de molas para cada tipo de molejo</td>
                                </tr>
                                <tr class="fundo-tabela">
                                    <td>Tipo</td>
                                    <td>Ø minimo da Bitola (mm)</td>
                                    <td>Especificado do mínimo de molas da bitola (mm)</td>
                                    <td>Nº médio de molas por m²</td>
                                    <td>Resultado</td>
                                </tr>
                            }
                            @if (ViewBag.tipo == "Bonell |")
                            {
                                <tr>
                                    <td>Bonell |</td>
                                    <td>(2,20 ± 0,05)</td>
                                    <td><input class="form-control" type="text" name="minim_bitola_1" /></td>
                                    <td>105</td>
                                    <td><input class="form-control" type="text" name="mini_molas_1" /></td>
                                </tr>
                            }
                            @if (ViewBag.tipo == "Bonell ||")
                            {
                                <tr>
                                    <td>Bonell ||</td>
                                    <td>(2,20 ± 0,05)</td>
                                    <td><input class="form-control" type="text" name="minim_bitola_2" /></td>
                                    <td>115</td>
                                    <td><input class="form-control" type="text" name="mini_molas_2" /></td>
                                </tr>
                            }
                            @if (ViewBag.tipo == "Mola ensacada")
                            {
                                <tr>
                                    <td>Mola ensacada</td>
                                    <td>---</td>
                                    <td>152</td>
                                    <td><input class="form-control" type="text" name="mini_molas_3" /></td>
                                </tr>
                            }
                            @if (ViewBag.tipo == "LKF")
                            {
                                <tr>
                                    <td>LKF</td>
                                    <td>---</td>
                                    <td>152</td>
                                    <td><input class="form-control" type="text" name="mini_molas_4" /></td>
                                </tr>
                            }
                            @if (ViewBag.tipo == "Verticoil")
                            {
                                <tr>
                                    <td>Verticoil</td>
                                    <td>---</td>
                                    <td>110</td>
                                    <td><input class="form-control" type="text" name="mini_molas_5" /></td>
                                </tr>
                            }
                            @if (ViewBag.tipo == "Fio Continuo |")
                            {
                                <tr>
                                    <td>Fio Continuo | </td>
                                    <td>---</td>
                                    <td>170</td>
                                    <td><input class="form-control" type="text" name="mini_molas_6" /></td>
                                </tr>
                            }
                            @if (ViewBag.tipo == "Fio Continuo ||")
                            {
                                <tr>
                                    <td>Fio continuo ||</td>
                                    <td>---</td>
                                    <td>198</td>
                                    <td><input class="form-control" type="text" name="mini_molas_7" /></td>
                                </tr>
                            }
                            @if (ViewBag.tipo == "Offset")
                            {
                                <tr>
                                    <td>Offset</td>
                                    <td>---</td>
                                    <td>105</td>
                                    <td><input class="form-control" type="text" name="mini_molas_8" /></td>
                                </tr>
                            }
                            @if (ViewBag.tipo2 == "Bonell |")
                            {
                                <tr>
                                    <td>Bonell |</td>
                                    <td>(2,20 ± 0,05)</td>
                                    <td><input class="form-control" type="text" name="minim_bitola_1" /></td>
                                    <td>105</td>
                                    <td><input class="form-control" type="text" name="mini_molas_1" /></td>
                                </tr>
                            }
                            @if (ViewBag.tipo2 == "Bonell ||")
                            {
                                <tr>
                                    <td>Bonell <br />(2,20 ± 0,05)</td>
                                    <td><input class="form-control" type="text" name="minim_bitola_2" /></td>
                                    <td>115</td>
                                    <td><input class="form-control" type="text" name="mini_molas_2" /></td>
                                </tr>
                            }
                            @if (ViewBag.tipo2 == "Mola ensacada")
                            {
                                <tr>
                                    <td>Mola ensacada</td>
                                    <td>---</td>
                                    <td>152</td>
                                    <td><input class="form-control" type="text" name="mini_molas_3" /></td>
                                </tr>
                            }
                            @if (ViewBag.tipo2 == "LKF")
                            {
                                <tr>
                                    <td>LKF</td>
                                    <td>---</td>
                                    <td>152</td>
                                    <td><input class="form-control" type="text" name="mini_molas_4" /></td>
                                </tr>
                            }
                            @if (ViewBag.tipo2 == "Verticoil")
                            {
                                <tr>
                                    <td>Verticoil</td>
                                    <td>---</td>
                                    <td>110</td>
                                    <td><input class="form-control" type="text" name="mini_molas_5" /></td>
                                </tr>
                            }
                            @if (ViewBag.tipo2 == "Fio Continuo |")
                            {
                                <tr>
                                    <td>Fio Continuo | </td>
                                    <td>---</td>
                                    <td>170</td>
                                    <td><input class="form-control" type="text" name="mini_molas_6" /></td>
                                </tr>
                            }
                            @if (ViewBag.tipo2 == "Fio Continuo ||")
                            {
                                <tr>
                                    <td>Fio continuo ||</td>
                                    <td>---</td>
                                    <td>198</td>
                                    <td><input class="form-control" type="text" name="mini_molas_7" /></td>
                                </tr>
                            }
                            @if (ViewBag.tipo2 == "Offset")
                            {
                                <tr>
                                    <td>Offset</td>
                                    <td>---</td>
                                    <td>105</td>
                                    <td><input class="form-control" type="text" name="mini_molas_8" /></td>
                                </tr>
                            }
                        </table>
                    </td>
                </tr>
                <tr>

                    <td class="fundo-tabela">
                        <b>
                            Cálculo de número de molas por m²
                        </b>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        n° de molas por m² = Quantidade de molas ÷ Largura X Comprimento
                    </td>
                </tr>
                    @if (ViewBag.tipo != "NA" && ViewBag.tipo2 != "NA")
                    {
                    <tr>
                        <td>
                            n° de molas por m² = <input class="controlador" type="text" style="width:200px;" name="calc_molas_1" /> ÷ <input style="width:200px;" class="controlador" style="width:200px;" type="text" name="calc_molas_2" /> X <input style="width:200px;" class="controlador" type="text" name="calc_molas_3" />
                            <p>Resultado: <input class="form-control" type="text" readonly /></p>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            n° de molas por m² = <input class="controlador" type="text" style="width:200px;" name="calc_molas_duplicado" /> ÷ <input style="width:200px;" class="controlador" style="width:200px;" type="text" name="calc_molas_duplicado_2" /> X <input style="width:200px;" class="controlador" type="text" name="calc_molas_duplicado_3" />
                            <p>Resultado: <input class="form-control" type="text" readonly /></p>
                        </td>

                    </tr>
                    }
                    else
                    {
                    <tr>
                        <td>
                            n° de molas por m² = <input class="controlador" type="text" style="width:200px;" name="calc_molas_1" /> ÷ <input style="width:200px;" class="controlador" style="width:200px;" type="text" name="calc_molas_2" /> X <input style="width:200px;" class="controlador" type="text" name="calc_molas_3" />
                            <p>Resultado: <input class="form-control" type="text" readonly /></p>
                        </td>

                    </tr>
                    }
            </table>
            <br />
            <div class="d-grid gap-2 d-flex justify-content-center">
                <button type="submit" class="btn btn-success btn btn-primary btn-md">Salvar</button>
            </div>
        }
        else
        {
            <table class="tables table-bordered border-secondary  table-sm">
                <thead>
                    <tr>
                        <td><img src="https://www.labsystem-nuvem.com.br/imagens_arq/imagens/img/LabSystem.png" class="imagem" /></td>
                        <td colspan="3" class="fundo-tabela">Coleta De Dados</td>
                        <td class="fundo-tabela">N Os:</td>
                    </tr>
                    <tr>
                        <td colspan="4">Colchão De Molas (Portaria Inmetro 75)</td>
                        <td rowspan="2"> @ViewBag.os</td>
                    </tr>
                    <tr>
                        <td class="fundo-tabela">Inicio:</td>
                        <td><input class="form-control" type="text" name="data_ini" value="@Model.data_ini" /></td>
                        <td class="fundo-tabela">Termino:</td>
                        <td><input class="form-control" type="text" name="data_term" value="@Model.data_term" /></td>
                    </tr>
                </thead>
            </table>

            <table class="tables table-bordered border-secondary  table-sm">
                <tr>
                    <td rowspan="20">7.7</td>
                    <td class="fundo-tabela">
                        <b> Ensaio de Rolagem</b>
                    </td>
                    <td rowspan="9"><input class="controlador-conforme" disabled value="@Model.conforme" /></td>

                </tr>
                <tr>
                    <td>Após o término do ensaio de rolagem, verificar visualmente as seguintes características: </td>
                </tr>
                <tr>
                    <td>
                        Houve rasgos ou engarçamentos no revestimento?
                        <select class="controlador" name="rasgo">
                            <option selected>  @Model.rasgo </option>
                            <option value="Sim"> Sim </option>
                            <option value="Não"> Não </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Houve quebra de molas no molejo?
                        <select class="controlador" name="quebra">
                            <option selected>  @Model.quebra </option>
                            <option value="Sim"> Sim </option>
                            <option value="Não"> Não </option>
                        </select>
                    </td>
                </tr>
            </table>
            <table class="tables table-bordered border-secondary  table-sm">
                <tr>
                    <td rowspan="30">7.7</td>
                    <td>
                        <b>
                            Avaliação Do Molejo.
                        </b>
                    </td>
                    <td rowspan="14"></td>
                </tr>
                <tr>
                    <td>
                        Esta avaliação deve ser realizada no molejo do colchão.
                    </td>
                </tr>
                <tr>
                    <td>
                        Retirar o revestimento da face do colchão e verificar as informações conforme tabela abaixo.
                    </td>
                </tr>
                <tr>
                    <table class="tables table-bordered border-secondary  table-sm">
                        @if (ViewBag.tipo == "Bonell |" || ViewBag.tipo == "Bonell ||" || ViewBag.tipo2 == "Bonell |" || ViewBag.tipo2 == "Bonell ||")
                        {
                            <tr class="fundo-tabela"><td colspan="6">Tabela - Quantidade minima de molas para cada tipo de molejo</td></tr>
                            <tr class="fundo-tabela">
                                <td>Tipo</td>
                                <td>Ø minimo da Bitola (mm)</td>
                                <td>Especificado do mínimo da Bitola (mm)</td>
                                <td>Especificado do mínimo de molas da bitola (mm)</td>
                                <td>Nº médio de molas por m²</td>
                                <td>Resultado</td>
                            </tr>
                        }
                        else
                        {
                            <tr class="fundo-tabela"><td colspan="5">Tabela - Quantidade minima de molas para cada tipo de molejo</td></tr>
                            <tr class="fundo-tabela">
                                <td>Tipo</td>
                                <td>Ø minimo da Bitola (mm)</td>
                                <td>Especificado do mínimo de molas da bitola (mm)</td>
                                <td>Nº médio de molas por m²</td>
                                <td>Resultado</td>
                            </tr>
                        }

                        @if (ViewBag.tipo == "Bonell |")
                        {
                            <tr>
                                <td>Bonell |</td>
                                <td>(2,20 ± 0,05)</td>
                                <td><input class="form-control" type="text" name="minim_bitola_1" value="@Model.minim_bitola_1" /></td>
                                <td>105</td>
                                <td><input class="form-control" type="text" name="mini_molas_1" value="@Model.mini_molas_1" /></td>
                                @if (Model.mini_molas_1 >= 105)
                                {
                                    <td>C</td>
                                }
                                else
                                {
                                    <td>NC</td>
                                }

                            </tr>
                        }
                        @if (ViewBag.tipo == "Bonell ||")
                        {
                            <tr>
                                <td>Bonell ||</td>
                                <td>(2,20 ± 0,05)</td>
                                <td><input class="form-control" type="text" name="minim_bitola_2" value="@Model.minim_bitola_2" /></td>
                                <td>115</td>
                                <td><input class="form-control" type="text" name="mini_molas_2" value="@Model.mini_molas_2" /></td>
                                @if (Model.mini_molas_2 >= 115)
                                {
                                    <td>C</td>
                                }
                                else
                                {
                                    <td>NC</td>
                                }
                            </tr>
                        }
                        @if (ViewBag.tipo == "Mola ensacada")
                        {
                            <tr>
                                <td>Mola ensacada</td>
                                <td>---</td>
                                <td>152</td>
                                <td><input class="form-control" type="text" name="mini_molas_3" value="@Model.mini_molas_3" /></td>
                                @if (Model.mini_molas_3 >= 152 )
                                {
                                    <td>C</td>
                                }
                                else
                                {
                                    <td>NC</td>
                                }
                            </tr>
                        }
                        @if (ViewBag.tipo == "LKF")
                        {
                            <tr>
                                <td>LKF</td>
                                <td>---</td>
                                <td>152</td>
                                <td><input class="form-control" type="text" name="mini_molas_4" value="@Model.mini_molas_4" /></td>
                                @if (Model.mini_molas_4 >= 152)
                                {
                                    <td>C</td>
                                }
                                else
                                {
                                    <td>NC</td>
                                }
                            </tr>
                        }
                        @if (ViewBag.tipo == "Verticoil")
                        {
                            <tr>
                                <td>Verticoil</td>
                                <td>---</td>
                                <td>110</td>
                                <td><input class="form-control" type="text" name="mini_molas_5" value="@Model.mini_molas_5" /></td>
                                @if (Model.mini_molas_5 >= 110)
                                {
                                    <td>C</td>
                                }
                                else
                                {
                                    <td>NC</td>
                                }
                            </tr>
                        }
                        @if (ViewBag.tipo == "Fio Continuo |")
                        {
                            <tr>
                                <td>Fio Continuo | </td>
                                <td>---</td>
                                <td>170</td>
                                <td><input class="form-control" type="text" name="mini_molas_6" value="@Model.mini_molas_6 " /></td>
                                @if (Model.mini_molas_6 >= 170)
                                {
                                    <td>C</td>
                                }
                                else
                                {
                                    <td>NC</td>
                                }
                            </tr>
                        }
                        @if (ViewBag.tipo == "Fio continuo ||")
                        {
                            <tr>
                                <td>Fio Continuo ||</td>
                                <td>---</td>
                                <td>198</td>
                                <td><input class="form-control" type="text" name="mini_molas_7" value="@Model.mini_molas_7" /></td>
                                @if (Model.mini_molas_7 >= 198)
                                {
                                    <td>C</td>
                                }
                                else
                                {
                                    <td>NC</td>
                                }
                            </tr>
                        }
                        @if (ViewBag.tipo == "Offset")
                        {
                            <tr>
                                <td>Offset</td>
                                <td>---</td>
                                <td>105</td>
                                <td><input class="form-control" type="text" name="mini_molas_8" value="@Model.mini_molas_8" /></td>
                                @if (Model.mini_molas_8 >= 105)
                                {
                                    <td>C</td>
                                }
                                else
                                {
                                    <td>NC</td>
                                }
                            </tr>
                        }
                        @if (ViewBag.tipo2 == "Bonell |")
                        {
                            <tr>
                                <td>Bonell |</td>
                                <td>(2,20 ± 0,05)</td>
                                <td><input class="form-control" type="text" name="minim_bitola_1" /></td>
                                <td>105</td>
                                <td><input class="form-control" type="text" name="mini_molas_1" /></td>
                                @if (Model.mini_molas_1 >= 105)
                                {
                                    <td>C</td>
                                }
                                else
                                {
                                    <td>NC</td>
                                }
                            </tr>
                        }
                        @if (ViewBag.tipo2 == "Bonell ||")
                        {
                            <tr>
                                <td>Bonell <br />(2,20 ± 0,05)</td>
                                <td><input class="form-control" type="text" name="minim_bitola_2" /></td>
                                <td>115</td>
                                <td><input class="form-control" type="text" name="mini_molas_2" /></td>
                                @if (Model.mini_molas_2 >= 115)
                                {
                                    <td>C</td>
                                }
                                else
                                {
                                    <td>NC</td>
                                }
                            </tr>
                        }
                        @if (ViewBag.tipo2 == "Mola ensacada")
                        {
                            <tr>
                                <td>Mola ensacada</td>
                                <td>---</td>
                                <td>152</td>
                                <td><input class="form-control" type="text" name="mini_molas_3" /></td>
                                @if (Model.mini_molas_3 >= 152 )
                                {
                                    <td>C</td>
                                }
                                else
                                {
                                    <td>NC</td>
                                }
                            </tr>
                        }
                        @if (ViewBag.tipo2 == "LKF")
                        {
                            <tr>
                                <td>LKF</td>
                                <td>---</td>
                                <td>152</td>
                                <td><input class="form-control" type="text" name="mini_molas_4" /></td>
                                @if (Model.mini_molas_4 >= 105)
                                {
                                    <td>C</td>
                                }
                                else
                                {
                                    <td>NC</td>
                                }
                            </tr>
                        }
                        @if (ViewBag.tipo2 == "Verticoil")
                        {
                            <tr>
                                <td>Verticoil</td>
                                <td>---</td>
                                <td>110</td>
                                <td><input class="form-control" type="text" name="mini_molas_5" /></td>
                                @if (Model.mini_molas_5 >= 110)
                                {
                                    <td>C</td>
                                }
                                else
                                {
                                    <td>NC</td>
                                }
                            </tr>
                        }
                        @if (ViewBag.tipo2 == "Fio Continuo |")
                        {
                            <tr>
                                <td>Fio Continuo | </td>
                                <td>---</td>
                                <td>170</td>
                                <td><input class="form-control" type="text" name="mini_molas_6" /></td>
                                @if (Model.mini_molas_1 >= 105)
                                {
                                    <td>C</td>
                                }
                                else
                                {
                                    <td>NC</td>
                                }
                            </tr>
                        }
                        @if (ViewBag.tipo2 == "Fio Continuo ||")
                        {
                            <tr>
                                <td>Fio continuo ||</td>
                                <td>---</td>
                                <td>198</td>
                                <td><input class="form-control" type="text" name="mini_molas_7" /></td>
                                @if (Model.mini_molas_7 >= 198)
                                {
                                    <td>C</td>
                                }
                                else
                                {
                                    <td>NC</td>
                                }
                            </tr>
                        }
                        @if (ViewBag.tipo2 == "Offset")
                        {
                            <tr>
                                <td>Offset</td>
                                <td>---</td>
                                <td>105</td>
                                <td><input class="form-control" type="text" name="mini_molas_8" /></td>
                                @if (Model.mini_molas_8 >= 105 && Model.calc_molas_1 <= Model.mini_molas_8)
                                {
                                    <td>C</td>
                                }
                                else
                                {
                                    <td>NC</td>
                                }
                            </tr>
                        }
                    </table>
                </tr>
                <table class="tables table-bordered border-secondary  table-sm">
                    <tr>
                        <td class="fundo-tabela">
                            <b>
                                Cálculo de número de molas por m²
                            </b>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            n° de molas por m² = Quantidade de molas ÷ Largura X Comprimento
                        </td>
                    </tr>
                    @if (Model.calc_molas_duplicado == 0 || Model.calc_molas_duplicado_2 == 0 || Model.calc_molas_duplicado_3 == 0)
                    {
                        <tr>
                            <td>
                                n° de molas por m² = <input class="controlador" type="text" style="width:200px;" name="calc_molas_1" value="@Model.calc_molas_1" /> ÷ <input style="width:200px;" class="controlador" style="width:200px;" type="text" name="calc_molas_2" value="@Model.calc_molas_2" /> X <input style="width:200px;" class="controlador" type="text" name="calc_molas_3" value="@Model.calc_molas_3" />
                                <p>Resultado: <input class="form-control" type="text" readonly value="@Model.resultado_calc" /></p>
                            </td>

                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>
                                n° de molas por m² = <input class="controlador" type="text" style="width:200px;" name="calc_molas_1" value="@Model.calc_molas_1" /> ÷ <input style="width:200px;" class="controlador" style="width:200px;" type="text" name="calc_molas_2" value="@Model.calc_molas_2" /> X <input style="width:200px;" class="controlador" type="text" name="calc_molas_3" value="@Model.calc_molas_3" />
                                <p>Resultado: <input class="form-control" type="text" readonly value="@Model.resultado_calc" /></p>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                n° de molas por m² = <input class="controlador" type="text" style="width:200px;" name="calc_molas_duplicado" value="@Model.calc_molas_duplicado" /> ÷ <input style="width:200px;" class="controlador" style="width:200px;" type="text" name="calc_molas_duplicado_2" value="@Model.calc_molas_duplicado_2" /> X <input style="width:200px;" class="controlador" type="text" name="calc_molas_duplicado_3" value="@Model.calc_molas_duplicado_3" />
                                <p>Resultado: <input class="form-control" type="text" readonly value="@Model.resultado_calc_duplicado" /></p>
                            </td>

                        </tr>
                    }
                </table>
                
            </table>
            <br />
            <div class="d-grid gap-2 d-flex justify-content-center">
                <button type="submit" class="btn btn-success btn btn-primary btn-md">Editar</button>
            </div>
        }
    </form>

    @if (TempData.ContainsKey("Mensagem"))
    {
        <script>
            alert('@Html.Raw(TempData["Mensagem"])');
        </script>
    }
</body>
</html>