@model ColetaModel.Ensaio7_2
@{
    Layout = null;
}
@{
    ViewData["Title"] = "DETERMINAÇÃO DAS DIMENSÕES";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/coleta.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        input {
            text-align: center;
        }

        .altura-inputs {
            height: 150px;
        }

        .controlador-conforme {
            padding: 5px;
            border-color: gray;
            border-radius: 5px;
            box-sizing: border-box;
            height: 500px;
            width: 100px;
        }

    </style>

</head>
<body>
    <form method="post" asp-controller="Coleta" asp-action="SalvarEnsaio7_2" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento">
        @if (Model == null)
        {
            <table class="tables table-bordered border-secondary  table-sm">
                <thead>
                    <tr>
                        <td><img src="https://www.labsystem-nuvem.com.br/imagens_arq/imagens/img/LabSystem.png" class="imagem" /></td>
                        <td colspan="3" class="fundo-tabela">Coleta De Dados</td>
                        <td class="fundo-tabela">N Os:</td>
                    </tr>
                    <tr>
                        <td colspan="4">Colchão De Molas (Portaria Inmetro 75)</td>
                        <td rowspan="2"> @ViewBag.os</td>
                    </tr>
                    <tr>
                        <td>Inicio:</td>
                        <td><input class="form-control" type="date" name="data_ini" /></td>
                        <td>Termino:</td>
                        <td><input class="form-control" type="date" name="data_term" /></td>
                    </tr>
                </thead>
            </table>

            <table class="tables table-bordered border-secondary  table-sm">
                <tr>
                    <td>Temperatura Inicial:</td>
                    <td><input class="form-control" type="text" name="temp_ini" /></td>
                    <td>Temperatura Final:</td>
                    <td><input class="form-control" type="text" name="temp_term" /></td>
                </tr>
            </table>
            <br />
            
            <br />
            <table class="tables table-bordered border-secondary  table-sm">
                <tr class="fundo-tabela">
                    <td>Item</td>
                    <td>Descrição</td>
                    <td>Resultado</td>
                </tr>
                <tr>
                    <td rowspan="5">7.2</td>
                    <td>
                        <b>Comprimento:</b> Medir o comprimento do colchão ou colchonete em 3 pontos equidistantes, considerando como a comprimento total o valor médio encontrado em centímetros.
                    </td>
                    <td rowspan="5">
                        <input readonly class="controlador-conforme" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="tables table-bordered border-secondary  table-sm">
                            <tr class="fundo-tabela">
                                <td>Pontos De Medição</td>
                                <td>Comprimento (cm)</td>
                                <td class="teste">
                                    Comprimento especificado (cm)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    1°
                                </td>
                                <td>
                                    <input class="form-control" type="text" name="comp_med_1" />
                                </td>
                                <td class="altura-input-centralizar" rowspan="4"><input style="margin-top:20px;" class="form-control altura-input altura-inputs" type="text" name="comp_espe" /></td>
                            </tr>
                            <tr>
                                <td>
                                    2°
                                </td>
                                <td>
                                    <input class="form-control" type="text" name="comp_med_2" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    3°
                                </td>
                                <td>
                                    <input class="form-control" type="text" name="comp_med_3" />
                                </td>
                            </tr>
                            <tr>
                                <td>Media:</td>
                                <td colspan="3"><input class="form-control" readonly /></td>
                            </tr>
                        </table>
                        <p> Nota: São adimitadas tolerâncias de ± 1,5 cm.</p>
                    </td>
                </tr>

            </table>
            <table class="tables table-bordered border-secondary  table-sm">
                <tr class="fundo-tabela">
                    <td>Item</td>
                    <td>Descrição</td>
                    <td>Resultado</td>
                </tr>
                <tr>
                    <td rowspan="5">7.2</td>
                    <td>
                        <b>Largura:</b> Medir a largura do colchão ou colchonete em 3 pontos equidistantes, considerando como a largura total o valor médio encontrado em centímetros.
                    </td>
                    <td rowspan="5">
                        <input readonly class="controlador-conforme" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="tables table-bordered border-secondary  table-sm">
                            <tr class="fundo-tabela">
                                <td>Pontos De Medição</td>
                                <td>Largura (cm)</td>
                                <td>
                                    Largura especificado (cm)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    1°
                                </td>
                                <td>
                                    <input class="form-control" type="text" name="larg_med_1" />
                                </td>
                                <td class="altura-input-centralizar" rowspan="4"><input style="margin-top:20px;" class="form-control altura-input altura-inputs" type="text" name="larg_espe" /></td>
                            </tr>
                            <tr>
                                <td>
                                    2°
                                </td>
                                <td>
                                    <input class="form-control" type="text" name="larg_med_2" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    3°
                                </td>
                                <td>
                                    <input class="form-control" type="text" name="larg_med_3" />
                                </td>
                            </tr>
                            <tr>
                                <td>Media:</td>
                                <td colspan="3"><input class="form-control" readonly /></td>
                            </tr>
                        </table>
                        <p> Nota: São adimitadas tolerâncias de ± 1,5 cm.</p>
                    </td>
                </tr>
            </table>
            <table class="tables table-bordered border-secondary  table-sm">
                <tr class="fundo-tabela">
                    <td>Item</td>
                    <td>Descrição</td>
                    <td>Resultado</td>
                </tr>
                <tr>
                    <td rowspan="5">7.2</td>
                    <td>
                        <b>Altura:</b> Medir a largura do colchão ou colchonete em 3 pontos equidistantes, considerando como a largura total o valor médio encontrado em centímetros.
                    </td>
                    <td rowspan="5">
                        <input readonly class="controlador-conforme" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="tables table-bordered border-secondary  table-sm">
                            <tr class="fundo-tabela">
                                <td>Pontos De Medição</td>
                                <td>Altura (cm)</td>
                                <td>
                                    Altura especificado (cm)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    1°
                                </td>
                                <td>
                                    <input class="form-control" type="text" name="alt_med_1" />
                                </td>
                                <td class="altura-input-centralizar" rowspan="4"><input style="margin-top:20px;" class="form-control altura-input altura-inputs" type="text" name="alt_espe" /></td>
                            </tr>
                            <tr>
                                <td>
                                    2°
                                </td>
                                <td>
                                    <input class="form-control" type="text" name="alt_med_2" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    3°
                                </td>
                                <td>
                                    <input class="form-control" type="text" name="alt_med_3" />
                                </td>
                            </tr>
                            <tr>
                                <td>Media:</td>
                                <td colspan="3"><input class="form-control" readonly /></td>
                            </tr>

                        </table>
                        <p>
                            Nota: São adimitadas tolerâncias de ± 1,5 cm
                        </p>
                    </td>

                </tr>
            </table>
            <br />
            <table class="tables table-bordered border-secondary  table-sm">
                <tr class="fundo-tabela">
                    <td>Matelassê e estofamento  </td>
                </tr>
                <tr>
                    <td>
                        Quantidade de espuma :
                        <select id="quantidade_espuma" class="controlador">
                            <option>Escolha</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="tables table-bordered border-secondary  table-sm">
                            <tr class="fundo-tabela">
                                <td>Tipo de espuma</td>
                                <td>Espessura mínima especificada</td>
                            </tr>
                            <tr id="tipo_empuma_1">
                                <td>
                                    <select class="controlador" name="tipo_espuma_1" style="width:200px;">
                                        <option></option>
                                        <option value="Espuma do Matelassê">Espuma do Matelassê </option>
                                        <option value="Espuma de acabamento (face sup)"> Espuma de acabamento (face sup)</option>
                                        <option value="Espuma de acabamento (face inf)">Espuma de acabamento (face inf)</option>
                                        <option value="Estofamento Convencional">Estofamento Convencional </option>
                                        <option value="Estofamento Hipermacia"> Estofamento Hipermacia</option>
                                        <option value="Estofamento Macia">Estofamento Macia </option>
                                        <option value="Estofamento Aglomerado"> Estofamento Aglomerado</option>
                                    </select>
                                </td>
                                <td><input class="form-control" type="text" name="esp_tipo_esp_1" /></td>
                            </tr>
                            <tr id="tipo_empuma_2">
                                <td>
                                    <select class="controlador" name="tipo_espuma_2" style="width:300px;">
                                        <option></option>
                                        <option value="Espuma do Matelassê">Espuma do Matelassê </option>
                                        <option value="Espuma de acabamento (face sup)"> Espuma de acabamento (face sup)</option>
                                        <option value="Espuma de acabamento (face inf)">Espuma de acabamento (face inf)</option>
                                        <option value="Estofamento Convencional">Estofamento Convencional </option>
                                        <option value="Estofamento Hipermacia"> Estofamento Hipermacia</option>
                                        <option value="Estofamento Macia">Estofamento Macia </option>
                                        <option value="Estofamento Aglomerado"> Estofamento Aglomerado</option>
                                    </select>
                                </td>
                                <td><input class="form-control" type="text" name="esp_tipo_esp_2" /></td>
                            </tr>
                            <tr id="tipo_empuma_3">
                                <td>
                                    <select class="controlador" name="tipo_espuma_3">
                                        <option></option>
                                        <option value="Espuma do Matelassê">Espuma do Matelassê </option>
                                        <option value="Espuma de acabamento (face sup)"> Espuma de acabamento (face sup)</option>
                                        <option value="Espuma de acabamento (face inf)">Espuma de acabamento (face inf)</option>
                                        <option value="Estofamento Convencional">Estofamento Convencional </option>
                                        <option value="Estofamento Hipermacia"> Estofamento Hipermacia</option>
                                        <option value="Estofamento Macia">Estofamento Macia </option>
                                        <option value="Estofamento Aglomerado"> Estofamento Aglomerado</option>
                                    </select>
                                </td>
                                <td><input class="form-control" type="text" name="esp_tipo_esp_3" /></td>
                            </tr>
                            <tr id="tipo_empuma_4">
                                <td>
                                    <select class="controlador" name="tipo_espuma_4">
                                        <option></option>
                                        <option value="Espuma do Matelassê">Espuma do Matelassê </option>
                                        <option value="Espuma de acabamento (face sup)"> Espuma de acabamento (face sup)</option>
                                        <option value="Espuma de acabamento (face inf)">Espuma de acabamento (face inf)</option>
                                        <option value="Estofamento Convencional">Estofamento Convencional </option>
                                        <option value="Estofamento Hipermacia"> Estofamento Hipermacia</option>
                                        <option value="Estofamento Macia">Estofamento Macia </option>
                                        <option value="Estofamento Aglomerado"> Estofamento Aglomerado</option>
                                    </select>
                                </td>
                                <td><input class="form-control" type="text" name="esp_tipo_esp_4" /></td>
                            </tr>
                            <tr id="tipo_empuma_5">
                                <td>
                                    <select class="controlador" name="tipo_espuma_5">
                                        <option></option>
                                        <option value="Espuma do Matelassê">Espuma do Matelassê </option>
                                        <option value="Espuma de acabamento (face sup)"> Espuma de acabamento (face sup)</option>
                                        <option value="Espuma de acabamento (face inf)">Espuma de acabamento (face inf)</option>
                                        <option value="Estofamento Convencional">Estofamento Convencional </option>
                                        <option value="Estofamento Hipermacia"> Estofamento Hipermacia</option>
                                        <option value="Estofamento Macia">Estofamento Macia </option>
                                        <option value="Estofamento Aglomerado"> Estofamento Aglomerado</option>
                                    </select>
                                </td>
                                <td><input class="form-control" type="text" name="esp_tipo_esp_5" /></td>
                            </tr>
                            <tr id="tipo_empuma_6">
                                <td>
                                    <select class="controlador" name="tipo_espuma_6">
                                        <option></option>
                                        <option value="Espuma do Matelassê">Espuma do Matelassê </option>
                                        <option value="Espuma de acabamento (face sup)"> Espuma de acabamento (face sup)</option>
                                        <option value="Espuma de acabamento (face inf)">Espuma de acabamento (face inf)</option>
                                        <option value="Estofamento Convencional">Estofamento Convencional </option>
                                        <option value="Estofamento Hipermacia"> Estofamento Hipermacia</option>
                                        <option value="Estofamento Macia">Estofamento Macia </option>
                                        <option value="Estofamento Aglomerado"> Estofamento Aglomerado</option>
                                    </select>
                                </td>
                                <td><input class="form-control" type="text" name="esp_tipo_esp_6" /></td>
                            </tr>
                            <tr id="tipo_empuma_7">
                                <td>
                                    <select class="controlador" name="tipo_espuma_7">
                                        <option></option>
                                        <option value="Espuma do Matelassê">Espuma do Matelassê </option>
                                        <option value="Espuma de acabamento (face sup)"> Espuma de acabamento (face sup)</option>
                                        <option value="Espuma de acabamento (face inf)">Espuma de acabamento (face inf)</option>
                                        <option value="Estofamento Convencional">Estofamento Convencional </option>
                                        <option value="Estofamento Hipermacia"> Estofamento Hipermacia</option>
                                        <option value="Estofamento Macia">Estofamento Macia </option>
                                        <option value="Estofamento Aglomerado"> Estofamento Aglomerado</option>
                                    </select>
                                </td>
                                <td><input class="form-control" type="text" name="esp_tipo_esp_7" /></td>
                            </tr>
                            <tr id="tipo_empuma_8">
                                <td>
                                    <select class="controlador" name="tipo_espuma_8">
                                        <option></option>
                                        <option value="Espuma do Matelassê">Espuma do Matelassê </option>
                                        <option value="Espuma de acabamento (face sup)"> Espuma de acabamento (face sup)</option>
                                        <option value="Espuma de acabamento (face inf)">Espuma de acabamento (face inf)</option>
                                        <option value="Estofamento Convencional">Estofamento Convencional </option>
                                        <option value="Estofamento Hipermacia"> Estofamento Hipermacia</option>
                                        <option value="Estofamento Macia">Estofamento Macia </option>
                                        <option value="Estofamento Aglomerado"> Estofamento Aglomerado</option>
                                    </select>
                                </td>
                                <td><input class="form-control" type="text" name="esp_tipo_esp_8" /></td>
                            </tr>
                            <tr id="tipo_empuma_9">
                                <td>
                                    <select class="controlador" name="tipo_espuma_9">
                                        <option></option>
                                        <option value="Espuma do Matelassê">Espuma do Matelassê </option>
                                        <option value="Espuma de acabamento (face sup)"> Espuma de acabamento (face sup)</option>
                                        <option value="Espuma de acabamento (face inf)">Espuma de acabamento (face inf)</option>
                                        <option value="Estofamento Convencional">Estofamento Convencional </option>
                                        <option value="Estofamento Hipermacia"> Estofamento Hipermacia</option>
                                        <option value="Estofamento Macia">Estofamento Macia </option>
                                        <option value="Estofamento Aglomerado"> Estofamento Aglomerado</option>
                                    </select>
                                </td>
                                <td><input class="form-control" type="text" name="esp_tipo_esp_9" /></td>
                            </tr>
                            <tr id="tipo_empuma_10">
                                <td>
                                    <select class="controlador" name="tipo_espuma_10">
                                        <option></option>
                                        <option value="Espuma do Matelassê">Espuma do Matelassê </option>
                                        <option value="Espuma de acabamento (face sup)"> Espuma de acabamento (face sup)</option>
                                        <option value="Espuma de acabamento (face inf)">Espuma de acabamento (face inf)</option>
                                        <option value="Estofamento Convencional">Estofamento Convencional </option>
                                        <option value="Estofamento Hipermacia"> Estofamento Hipermacia</option>
                                        <option value="Estofamento Macia">Estofamento Macia</option>
                                        <option value="Estofamento Aglomerado"> Estofamento Aglomerado</option>
                                    </select>
                                </td>
                                <td><input class="form-control" type="text" name="esp_tipo_esp_10" /></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <div class="d-grid gap-2 d-flex justify-content-center">
                <button type="submit" class="btn btn-success btn btn-primary btn-md">Salvar</button>
            </div>
        }
        else
        {
            <table class="tables table-bordered border-secondary  table-sm">
                <thead>
                    <tr>
                        <td><img src="https://www.labsystem-nuvem.com.br/imagens_arq/imagens/img/LabSystem.png" class="imagem" /></td>
                        <td colspan="3" class="fundo-tabela">Coleta De Dados</td>
                        <td class="fundo-tabela">N Os:</td>
                    </tr>
                    <tr>
                        <td colspan="4">Colchão De Molas (Portaria Inmetro 75)</td>
                        <td rowspan="2"> @ViewBag.os</td>
                    </tr>
                    <tr>
                        <td>Inicio:</td>
                        <td><input class="form-control" type="text" name="data_ini" value="@Model.data_ini" /></td>
                        <td>Termino:</td>
                        <td><input class="form-control" type="text" name="data_term" value="@Model.data_term" /></td>
                    </tr>
                </thead>
            </table>

            <table class="tables table-bordered border-secondary  table-sm">
                <tr>
                    <td>Temperatura Inicial:</td>
                    <td><input class="form-control" type="text" name="temp_ini" value="@Model.temp_ini" /></td>
                    <td>Temperatura Final:</td>
                    <td><input class="form-control" type="text" name="temp_term" value="@Model.temp_term" /></td>
                </tr>
            </table>
            <br />
            
            <table class="tables table-bordered border-secondary  table-sm">
                <tr class="fundo-tabela">
                    <td>Item</td>
                    <td>Descrição</td>
                    <td>Resultado</td>
                </tr>
                <tr>
                    <td rowspan="5">7.2</td>
                    <td>
                        <b>Comprimento:</b> Medir o comprimento do colchão ou colchonete em 3 pontos equidistantes, considerando como a comprimento total o valor médio encontrado em centímetros.
                    </td>
                    <td rowspan="5">
                        <input readonly class="controlador-conforme" value="@Model.conforme_comprimento" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="tables table-bordered border-secondary  table-sm">
                            <tr class="fundo-tabela">
                                <td>Pontos De Medição</td>
                                <td>Comprimento (cm)</td>
                                <td>
                                    Comprimento especificado (cm)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    1°
                                </td>
                                <td>
                                    <input class="form-control" type="text" name="comp_med_1" value="@Model.comp_med_1" />
                                </td>
                                <td class="altura-input-centralizar" rowspan="4"><input style="margin-top:20px;" class="form-control altura-input altura-inputs" type="text" name="comp_espe" value="@Model.comp_espe" /></td>
                            </tr>
                            <tr>
                                <td>
                                    2°
                                </td>
                                <td>
                                    <input class="form-control" type="text" name="comp_med_2" value="@Model.comp_med_2" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    3°
                                </td>
                                <td>
                                    <input class="form-control" type="text" name="comp_med_3" value="@Model.comp_med_3" />
                                </td>
                            </tr>
                            <tr>
                                <td>Media:</td>
                                <td colspan="3"><input class="form-control" readonly value="@Model.com_media" /></td>
                            </tr>
                        </table>
                        <p> Nota: São adimitadas tolerâncias de ± 1,5 cm.</p>
                    </td>
                </tr>

            </table>
            <table class="tables table-bordered border-secondary  table-sm">
                <tr class="fundo-tabela">
                    <td>Item</td>
                    <td>Descrição</td>
                    <td>Resultado</td>
                </tr>
                <tr>
                    <td rowspan="5">7.2</td>
                    <td>
                        <b>Largura:</b> Medir a largura do colchão ou colchonete em 3 pontos equidistantes, considerando como a largura total o valor médio encontrado em centímetros.
                    </td>
                    <td rowspan="5">
                        <input readonly class="controlador-conforme" value="@Model.conforme_largura" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="tables table-bordered border-secondary  table-sm">
                            <tr class="fundo-tabela">
                                <td>Pontos De Medição</td>
                                <td>Largura (cm)</td>
                                <td>
                                    Largura especificado (cm)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    1°
                                </td>
                                <td>
                                    <input class="form-control" type="text" name="larg_med_1" value="@Model.larg_med_1" />
                                </td>
                                <td class="altura-input-centralizar" rowspan="4"><input style="margin-top:20px;" class="form-control altura-input altura-inputs" type="text" name="larg_espe" value="@Model.larg_espe" /></td>
                            </tr>
                            <tr>
                                <td>
                                    2°
                                </td>
                                <td>
                                    <input class="form-control" type="text" name="larg_med_2" value="@Model.larg_med_2" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    3°
                                </td>
                                <td>
                                    <input class="form-control" type="text" name="larg_med_3" value="@Model.larg_med_3" />
                                </td>
                            </tr>
                            <tr>
                                <td>Media:</td>
                                <td colspan="3"><input class="form-control" readonly value="@Model.larg_media" /></td>
                            </tr>
                        </table>
                        <p> Nota: São adimitadas tolerâncias de ± 1,5 cm.</p>
                    </td>
                </tr>
            </table>
            <table class="tables table-bordered border-secondary  table-sm">
                <tr class="fundo-tabela">
                    <td>Item</td>
                    <td>Descrição</td>
                    <td>Resultado</td>
                </tr>
                <tr>
                    <td rowspan="5">7.2</td>
                    <td>
                        <b>Altura:</b> Medir a largura do colchão ou colchonete em 3 pontos equidistantes, considerando como a largura total o valor médio encontrado em centímetros.
                    </td>
                    <td rowspan="5">
                        <input readonly class="controlador-conforme" value="@Model.conforme_comprimento" value="@Model.conforme_altura" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="tables table-bordered border-secondary  table-sm">
                            <tr class="fundo-tabela">
                                <td>Pontos De Medição</td>
                                <td>Altura (cm)</td>
                                <td>
                                    Altura especificado (cm)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    1°
                                </td>
                                <td>
                                    <input class="form-control" type="text" name="alt_med_1" value="@Model.alt_med_1" />
                                </td>
                                <td class="altura-input-centralizar" rowspan="4"><input style="margin-top:20px;" class="form-control altura-input altura-inputs" type="text" name="alt_espe" value="@Model.alt_espe" /></td>
                            </tr>
                            <tr>
                                <td>
                                    2°
                                </td>
                                <td>
                                    <input class="form-control" type="text" name="alt_med_2" value="@Model.alt_med_2" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    3°
                                </td>
                                <td>
                                    <input class="form-control" type="text" name="alt_med_3" value="@Model.alt_med_3" />
                                </td>
                            </tr>
                            <tr>
                                <td>Media:</td>
                                <td colspan="3"><input class="form-control" readonly value="@Model.alt_media" /></td>
                            </tr>

                        </table>
                        <p>
                            Nota: São adimitadas tolerâncias de ± 1,5 cm
                        </p>
                    </td>

                </tr>
            </table>
            <br />
            <table class="tables table-bordered border-secondary  table-sm">
                <tr class="fundo-tabela">
                    <td>Matelassê e estofamento  </td>
                </tr>
                <tr>
                    <td>
                        <table class="tables table-bordered border-secondary  table-sm">
                            <tr class="fundo-tabela">
                                <td>Tipo de espuma</td>
                                <td>Espessura mínima especificada</td>
                            </tr>
                            @if (Model.tipo_espuma_1 != null)
                            {
                                <tr id="tipo_empuma_1">
                                    <td>
                                        <select class="controlador" name="tipo_espuma_1" style="width:300px;">
                                            <option selected>@Model.tipo_espuma_1</option>
                                            <option value="Espuma do Matelassê">Espuma do Matelassê </option>
                                            <option value="Espuma de acabamento (face sup)"> Espuma de acabamento (face sup)</option>
                                            <option value="Espuma de acabamento (face inf)">Espuma de acabamento (face inf)</option>
                                            <option value="Estofamento Convencional">Estofamento Convencional </option>
                                            <option value="Estofamento Hipermacia"> Estofamento Hipermacia</option>
                                            <option value="Estofamento Macia">Estofamento Macia </option>
                                            <option value="Estofamento Aglomerado"> Estofamento Aglomerado</option>
                                        </select>
                                    </td>
                                    <td><input class="form-control" type="text" name="esp_tipo_esp_1" value="@Model.esp_tipo_esp_1" /></td>
                                </tr>
                            }
                            @if (Model.tipo_espuma_2 != null)
                            {
                                <tr id="tipo_empuma_2">
                                    <td>
                                        <select class="controlador" name="tipo_espuma_2" style="width:300px;">
                                            <option selected>@Model.tipo_espuma_2</option>
                                            <option value="Espuma do Matelassê">Espuma do Matelassê </option>
                                            <option value="Espuma de acabamento (face sup)"> Espuma de acabamento (face sup)</option>
                                            <option value="Espuma de acabamento (face inf)">Espuma de acabamento (face inf)</option>
                                            <option value="Estofamento Convencional">Estofamento Convencional </option>
                                            <option value="Estofamento Hipermacia"> Estofamento Hipermacia</option>
                                            <option value="Estofamento Macia">Estofamento Macia </option>
                                            <option value="Estofamento Aglomerado"> Estofamento Aglomerado</option>
                                        </select>
                                    </td>
                                    <td><input class="form-control" type="text" name="esp_tipo_esp_2" value="@Model.esp_tipo_esp_2" /></td>
                                </tr>
                            }
                            @if (Model.tipo_espuma_3 != null)
                            {
                                <tr id="tipo_empuma_3">
                                    <td>
                                        <select class="controlador" name="tipo_espuma_3" style="width:300px;">
                                            <option selected>@Model.tipo_espuma_3</option>
                                            <option value="Espuma do Matelassê">Espuma do Matelassê </option>
                                            <option value="Espuma de acabamento (face sup)"> Espuma de acabamento (face sup)</option>
                                            <option value="Espuma de acabamento (face inf)">Espuma de acabamento (face inf)</option>
                                            <option value="Estofamento Convencional">Estofamento Convencional </option>
                                            <option value="Estofamento Hipermacia"> Estofamento Hipermacia</option>
                                            <option value="Estofamento Macia">Estofamento Macia </option>
                                            <option value="Estofamento Aglomerado"> Estofamento Aglomerado</option>
                                        </select>
                                    </td>
                                    <td><input class="form-control" type="text" name="esp_tipo_esp_3" value="@Model.esp_tipo_esp_3" /></td>
                                </tr>
                            }
                            @if (Model.tipo_espuma_4 != null)
                            {
                                <tr id="tipo_empuma_4">
                                    <td>
                                        <select class="controlador" name="tipo_espuma_4" style="width:300px;">
                                            <option selected>@Model.tipo_espuma_4</option>
                                            <option value="Espuma do Matelassê">Espuma do Matelassê </option>
                                            <option value="Espuma de acabamento (face sup)"> Espuma de acabamento (face sup)</option>
                                            <option value="Espuma de acabamento (face inf)">Espuma de acabamento (face inf)</option>
                                            <option value="Estofamento Convencional">Estofamento Convencional </option>
                                            <option value="Estofamento Hipermacia"> Estofamento Hipermacia</option>
                                            <option value="Estofamento Macia">Estofamento Macia </option>
                                            <option value="Estofamento Aglomerado"> Estofamento Aglomerado</option>
                                        </select>
                                    </td>
                                    <td><input class="form-control" type="text" name="esp_tipo_esp_4" value="@Model.esp_tipo_esp_4" /></td>
                                </tr>
                            }
                            @if (Model.tipo_espuma_5 != null)
                            {
                                <tr id="tipo_empuma_5">
                                    <td>
                                        <select class="controlador" name="tipo_espuma_5" style="width:300px;">
                                            <option selected>@Model.tipo_espuma_5</option>
                                            <option value="Espuma do Matelassê">Espuma do Matelassê </option>
                                            <option value="Espuma de acabamento (face sup)"> Espuma de acabamento (face sup)</option>
                                            <option value="Espuma de acabamento (face inf)">Espuma de acabamento (face inf)</option>
                                            <option value="Estofamento Convencional">Estofamento Convencional </option>
                                            <option value="Estofamento Hipermacia"> Estofamento Hipermacia</option>
                                            <option value="Estofamento Macia">Estofamento Macia </option>
                                            <option value="Estofamento Aglomerado"> Estofamento Aglomerado</option>
                                        </select>
                                    </td>
                                    <td><input class="form-control" type="text" name="esp_tipo_esp_5" value="@Model.esp_tipo_esp_5" /></td>
                                </tr>
                            }
                            @if (Model.tipo_espuma_6 != null)
                            {
                                <tr id="tipo_empuma_6">
                                    <td>
                                        <select class="controlador" name="tipo_espuma_6" style="width:300px;">
                                            <option selected>@Model.tipo_espuma_6</option>
                                            <option value="Espuma do Matelassê">Espuma do Matelassê </option>
                                            <option value="Espuma de acabamento (face sup)"> Espuma de acabamento (face sup)</option>
                                            <option value="Espuma de acabamento (face inf)">Espuma de acabamento (face inf)</option>
                                            <option value="Estofamento Convencional">Estofamento Convencional </option>
                                            <option value="Estofamento Hipermacia"> Estofamento Hipermacia</option>
                                            <option value="Estofamento Macia">Estofamento Macia </option>
                                            <option value="Estofamento Aglomerado"> Estofamento Aglomerado</option>
                                        </select>
                                    </td>
                                    <td><input class="form-control" type="text" name="esp_tipo_esp_6" value="@Model.esp_tipo_esp_6" /></td>
                                </tr>
                            }
                            @if (Model.tipo_espuma_7 != null)
                            {
                                <tr id="tipo_empuma_7">
                                    <td>
                                        <select class="controlador" name="tipo_espuma_7" style="width:300px;">
                                            <option selected>@Model.tipo_espuma_7</option>
                                            <option value="Espuma do Matelassê">Espuma do Matelassê </option>
                                            <option value="Espuma de acabamento (face sup)"> Espuma de acabamento (face sup)</option>
                                            <option value="Espuma de acabamento (face inf)">Espuma de acabamento (face inf)</option>
                                            <option value="Estofamento Convencional">Estofamento Convencional </option>
                                            <option value="Estofamento Hipermacia"> Estofamento Hipermacia</option>
                                            <option value="Estofamento Macia">Estofamento Macia </option>
                                            <option value="Estofamento Aglomerado"> Estofamento Aglomerado</option>
                                        </select>
                                    </td>
                                    <td><input class="form-control" type="text" name="esp_tipo_esp_7" value="@Model.esp_tipo_esp_7" /></td>
                                </tr>
                            }
                            @if (Model.tipo_espuma_8 != null)
                            {
                                <tr id="tipo_empuma_8">
                                    <td>
                                        <select class="controlador" name="tipo_espuma_8" style="width:300px;">
                                            <option selected>@Model.tipo_espuma_8</option>
                                            <option value="Espuma do Matelassê">Espuma do Matelassê </option>
                                            <option value="Espuma de acabamento (face sup)"> Espuma de acabamento (face sup)</option>
                                            <option value="Espuma de acabamento (face inf)">Espuma de acabamento (face inf)</option>
                                            <option value="Estofamento Convencional">Estofamento Convencional </option>
                                            <option value="Estofamento Hipermacia"> Estofamento Hipermacia</option>
                                            <option value="Estofamento Macia">Estofamento Macia </option>
                                            <option value="Estofamento Aglomerado"> Estofamento Aglomerado</option>
                                        </select>
                                    </td>
                                    <td><input class="form-control" type="text" name="esp_tipo_esp_8" value="@Model.esp_tipo_esp_8" /></td>
                                </tr>
                            }
                            @if (Model.tipo_espuma_9 != null)
                            {
                                <tr id="tipo_empuma_9">
                                    <td>
                                        <select class="controlador" name="tipo_espuma_9" style="width:300px;">
                                            <option selected>@Model.tipo_espuma_9</option>
                                            <option value="Espuma do Matelassê">Espuma do Matelassê </option>
                                            <option value="Espuma de acabamento (face sup)"> Espuma de acabamento (face sup)</option>
                                            <option value="Espuma de acabamento (face inf)">Espuma de acabamento (face inf)</option>
                                            <option value="Estofamento Convencional">Estofamento Convencional </option>
                                            <option value="Estofamento Hipermacia"> Estofamento Hipermacia</option>
                                            <option value="Estofamento Macia">Estofamento Macia </option>
                                            <option value="Estofamento Aglomerado"> Estofamento Aglomerado</option>
                                        </select>
                                    </td>
                                    <td><input class="form-control" type="text" name="esp_tipo_esp_9" value="@Model.esp_tipo_esp_9" /></td>
                                </tr>
                            }
                            @if (Model.tipo_espuma_10 != null)
                            {
                                <tr id="tipo_empuma_10">
                                    <td>
                                        <select class="controlador" name="tipo_espuma_10" style="width:300px;">
                                            <option selected>@Model.tipo_espuma_10</option>
                                            <option value="Espuma do Matelassê">Espuma do Matelassê </option>
                                            <option value="Espuma de acabamento (face sup)"> Espuma de acabamento (face sup)</option>
                                            <option value="Espuma de acabamento (face inf)">Espuma de acabamento (face inf)</option>
                                            <option value="Estofamento Convencional">Estofamento Convencional </option>
                                            <option value="Estofamento Hipermacia"> Estofamento Hipermacia</option>
                                            <option value="Estofamento Macia">Estofamento Macia </option>
                                            <option value="Estofamento Aglomerado"> Estofamento Aglomerado</option>
                                        </select>
                                    </td>
                                    <td><input class="form-control" type="text" name="esp_tipo_esp_10" value="@Model.esp_tipo_esp_1" 0 /></td>
                                </tr>
                            }
                        </table>
                    </td>
                </tr>
            </table>
            <br>
            <div class="d-grid gap-2 d-flex justify-content-center">
                <button type="submit" class="btn btn-success btn btn-primary btn-md">Editar Dados</button>
            </div>
        }
    </form>


    @if (TempData.ContainsKey("Mensagem"))
    {
        <script>
            alert('@Html.Raw(TempData["Mensagem"])');
        </script>
    }

    @if (Model == null)
    {
        <script>
            document.addEventListener("DOMContentLoaded", function () {
            var quantidade_espuma = document.querySelector('select[id="quantidade_espuma"]');

            var quantidade_1 = document.getElementById("tipo_empuma_1");
            var quantidade_2 = document.getElementById("tipo_empuma_2");
            var quantidade_3 = document.getElementById("tipo_empuma_3");
            var quantidade_4 = document.getElementById("tipo_empuma_4");
            var quantidade_5 = document.getElementById("tipo_empuma_5");
            var quantidade_6 = document.getElementById("tipo_empuma_6");
            var quantidade_7 = document.getElementById("tipo_empuma_7");
            var quantidade_8 = document.getElementById("tipo_empuma_8");
            var quantidade_9 = document.getElementById("tipo_empuma_9");
            var quantidade_10 = document.getElementById("tipo_empuma_10");


            quantidade_1.style.display = 'none';
            quantidade_2.style.display = 'none';
            quantidade_3.style.display = 'none';
            quantidade_4.style.display = 'none';
            quantidade_5.style.display = 'none';
            quantidade_6.style.display = 'none';
            quantidade_7.style.display = 'none';
            quantidade_8.style.display = 'none';
            quantidade_9.style.display = 'none';
            quantidade_10.style.display = 'none';

            quantidade_espuma.addEventListener('change', function () {

                if (quantidade_espuma.value == 1) {
                    quantidade_1.style.display = 'table-row';
                    quantidade_2.style.display = 'none';
                    quantidade_3.style.display = 'none';
                    quantidade_4.style.display = 'none';
                    quantidade_5.style.display = 'none';
                    quantidade_6.style.display = 'none';
                    quantidade_7.style.display = 'none';
                    quantidade_8.style.display = 'none';
                    quantidade_9.style.display = 'none';
                    quantidade_10.style.display = 'none';
                } else if (quantidade_espuma.value == 2) {
                    quantidade_1.style.display = 'table-row';
                    quantidade_2.style.display = 'table-row';
                    quantidade_3.style.display = 'none';
                    quantidade_4.style.display = 'none';
                    quantidade_5.style.display = 'none';
                    quantidade_6.style.display = 'none';
                    quantidade_7.style.display = 'none';
                    quantidade_8.style.display = 'none';
                    quantidade_9.style.display = 'none';
                    quantidade_10.style.display = 'none';

                } else if (quantidade_espuma.value == 3) {
                    quantidade_1.style.display = 'table-row';
                    quantidade_2.style.display = 'table-row';
                    quantidade_3.style.display = 'table-row';
                    quantidade_4.style.display = 'none';
                    quantidade_5.style.display = 'none';
                    quantidade_6.style.display = 'none';
                    quantidade_7.style.display = 'none';
                    quantidade_8.style.display = 'none';
                    quantidade_9.style.display = 'none';
                    quantidade_10.style.display = 'none';

                } else if (quantidade_espuma.value == 4) {
                    quantidade_1.style.display = 'table-row';
                    quantidade_2.style.display = 'table-row';
                    quantidade_3.style.display = 'table-row';
                    quantidade_4.style.display = 'table-row';
                    quantidade_5.style.display = 'none';
                    quantidade_6.style.display = 'none';
                    quantidade_7.style.display = 'none';
                    quantidade_8.style.display = 'none';
                    quantidade_9.style.display = 'none';
                    quantidade_10.style.display = 'none';

                } else if (quantidade_espuma.value == 5) {
                    quantidade_1.style.display = 'table-row';
                    quantidade_2.style.display = 'table-row';
                    quantidade_3.style.display = 'table-row';
                    quantidade_4.style.display = 'table-row';
                    quantidade_5.style.display = 'table-row';
                    quantidade_6.style.display = 'none';
                    quantidade_7.style.display = 'none';
                    quantidade_8.style.display = 'none';
                    quantidade_9.style.display = 'none';
                    quantidade_10.style.display = 'none';

                } else if (quantidade_espuma.value == 6) {
                    quantidade_1.style.display = 'table-row';
                    quantidade_2.style.display = 'table-row';
                    quantidade_3.style.display = 'table-row';
                    quantidade_4.style.display = 'table-row';
                    quantidade_5.style.display = 'table-row';
                    quantidade_6.style.display = 'table-row';
                    quantidade_7.style.display = 'none';
                    quantidade_8.style.display = 'none';
                    quantidade_9.style.display = 'none';
                    quantidade_10.style.display = 'none';

                } else if (quantidade_espuma.value == 7) {
                    quantidade_1.style.display = 'table-row';
                    quantidade_2.style.display = 'table-row';
                    quantidade_3.style.display = 'table-row';
                    quantidade_4.style.display = 'table-row';
                    quantidade_5.style.display = 'table-row';
                    quantidade_6.style.display = 'table-row';
                    quantidade_7.style.display = 'table-row';
                    quantidade_8.style.display = 'none';
                    quantidade_9.style.display = 'none';
                    quantidade_10.style.display = 'none';

                } else if (quantidade_espuma.value == 8) {
                    quantidade_1.style.display = 'table-row';
                    quantidade_2.style.display = 'table-row';
                    quantidade_3.style.display = 'table-row';
                    quantidade_4.style.display = 'table-row';
                    quantidade_5.style.display = 'table-row';
                    quantidade_6.style.display = 'table-row';
                    quantidade_7.style.display = 'table-row';
                    quantidade_8.style.display = 'table-row';
                    quantidade_9.style.display = 'none';
                    quantidade_10.style.display = 'none';

                } else if (quantidade_espuma.value == 9) {
                    quantidade_1.style.display = 'table-row';
                    quantidade_2.style.display = 'table-row';
                    quantidade_3.style.display = 'table-row';
                    quantidade_4.style.display = 'table-row';
                    quantidade_5.style.display = 'table-row';
                    quantidade_6.style.display = 'table-row';
                    quantidade_7.style.display = 'table-row';
                    quantidade_8.style.display = 'table-row';
                    quantidade_9.style.display = 'table-row';
                    quantidade_10.style.display = 'none';

                } else if (quantidade_espuma.value == 10) {
                    quantidade_1.style.display = 'table-row';
                    quantidade_2.style.display = 'table-row';
                    quantidade_3.style.display = 'table-row';
                    quantidade_4.style.display = 'table-row';
                    quantidade_5.style.display = 'table-row';
                    quantidade_6.style.display = 'table-row';
                    quantidade_7.style.display = 'table-row';
                    quantidade_8.style.display = 'table-row';
                    quantidade_9.style.display = 'table-row';
                    quantidade_10.style.display = 'table-row';

                }
            });
        });
          
    </script>
    }
    <script>
        document.addEventListener("keydown", function (e) {
            if (e.keyCode === 13) {

                e.preventDefault();

            }
        });
    </script>
</body>
</html>