@model ColetaModel.Ensaio7_3;
@{
    Layout = null;
}
@{
    ViewData["Title"] = "ENSAIO DE ROLAGEM";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/coleta.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        input {
            text-align: center;
        }

        .controlador-conforme {
            padding: 5px;
            border-color: gray;
            border-radius: 5px;
            box-sizing: border-box;
            height: 970px;
            width: 40px;
        }

        .texto {
            text-align: left;
        }
    </style>

</head>
<body>
    <form method="post" asp-controller="Coleta" asp-action="SalvarEnsaio7_3" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento">
        @if (Model == null)
        {
            <input type="hidden" id="entrada" value="0" />
            <table class="tables table-bordered border-secondary  table-sm">
                <thead>
                    <tr>
                        <td><img src="https://www.labsystem-nuvem.com.br/imagens_arq/imagens/img/LabSystem.png" class="imagem" /></td>
                        <td colspan="3" class="fundo-tabela">Coleta De Dados</td>
                        <td class="fundo-tabela">N Os:</td>
                    </tr>
                    <tr>
                    <tr>
                        <td colspan="4">Colchão De Molas (Portaria Inmetro 75)</td>
                        <td rowspan="2"> @ViewBag.os</td>
                    </tr>
                    <tr>
                        <td>Inicio:</td>
                        <td><input class="form-control" type="date" name="data_ini" /></td>
                        <td>Termino:</td>
                        <td><input class="form-control" type="date" name="data_term" /></td>
                    </tr>
                </thead>
            </table>

            <table class="tables table-bordered border-secondary  table-sm">
                <thead>
                    <tr class="fundo-tabela">
                        <td colspan="7">- Temperatura da execução do ensaio (23 ± 2) °C, sem necessidade de controle de umidade.</td>
                    </tr>
                    <tr class="fundo-tabela">
                        <td colspan="2">Data do Acondicionamento</td>
                        <td colspan="2">Horario do acondicionamento</td>
                        <td colspan="2">Temperatura encontrada</td>
                        <td>IM</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Inicio:</td>
                        <td><input asp-for="acond_inicio" class="form-control" type="date" /></td>
                        <td>Inicio:</td>
                        <td><input asp-for="hora_inicio" class="form-control" type="time" /></td>
                        <td>Min:</td>
                        <td><input asp-for="temp_inicio" class="form-control" /></td>
                        <td rowspan="2"><input asp-for="im" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>Final:</td>
                        <td><input asp-for="acond_final" class="form-control" type="date" /></td>
                        <td>Final:</td>
                        <td><input asp-for="hora_final" class="form-control" type="time" /></td>
                        <td>Max:</td>
                        <td><input asp-for="temp_final" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td colspan="4">Responsavel</td>
                        <td colspan="5"><input asp-for="responsavel_cond" class="form-control" /></td>
                    </tr>

                </tbody>
            </table>

            <table class="tables table-bordered border-secondary  table-sm">
                <tr class="fundo-tabela">
                    <td colspan="3">
                        <b> Ensaio de Rolagem</b>
                    </td>
                </tr>
                <tr class="fundo-tabela">
                    <td colspan="2" style="text-align:left;">Procedimento</td>
                    <td>Resultado</td>
                </tr>
                <tr>
                    <td colspan="2"> Fixar o colchão no equipamento de rolagem, de forma a não permiti o movimento horizontal durante o ensaio;</td>
                    <td rowspan="7">---</td>
                </tr>
                <tr>
                    <td colspan="2">Posicionar o rolo Longitudinal sobre o colchão, com distância entre as extremidade, para rola lateralmente;</td>
                </tr>
                <tr>
                    <td colspan="2">O comprimento do percurso deve chegar até 10 cm da borda em ambos os lados do eixo de simetria longitudinal </td>
                </tr>
                <tr>
                    <td colspan="2">A frequência do movimento do  rolo deve ser de 47 m/min ± 5 m/min;</td>
                </tr>
                <tr>
                    <td colspan="2">A massa total a ser aplicada durante o ensaio deve ser de 110±1 kg </td>
                </tr>
                <tr>
                    <td colspan="2">Em colchões utilizáveis em apenas 1 face, o ensaio deve ser realizado somente nesta face por um período de 50000 ciclos, </td>
                </tr>
                <tr>
                    <td colspan="2">Em colchões de 2 face, o ensaio deve ser realizado somente nesta face por um período de 50000 ciclos,</td>
                </tr>
                <tr>
                    <td class="fundo-tabela" colspan="3" style="text-align:left;">Ensaio:</td>
                </tr>
                @if (ViewBag.qtd_face == 1)
                {
                    <tr>
                        <td>1 Face: 50.000 ciclos em sua face superior</td>
                        <td>Ciclos atingidos</td>
                        <td>
                            <input asp-for="qtd_ciclos" name="qtd_ciclos" class="form-control" />
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>2 Faces: 25.000 em sua face superior e 25.000 em sua face inferior e em (ciclos atingidos) </td>
                        <td>Ciclos atingidos</td>
                        <td>
                            <input asp-for="qtd_ciclos" class="form-control" name="qtd_ciclos" />
                        </td>
                    </tr>
                }
            </table>
            <br />
            <table class="tables table-bordered border-secondary  table-sm">
                <tr class="fundo-tabela">
                    <td>Critério de avaliação</td>
                    <td rowspan="2">Resultado</td>
                </tr>
                <tr>
                    <td>O colchão durante ou após ensaio não pode apresentar nenhuma das seguintes situações</td>
                </tr>
                <tr>
                    <td class="texto">a) Deformações significativas, incluindo nos materiais utilizados na área de conforto e borda perimetral; </td>
                    <td>
                        <select class="form-control" name="pergunta_a">
                            <option value="NA">NA</option>
                            <option value="C">C</option>
                            <option value="NC">NC</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="texto">b) Cavidades (indentações) significativas; </td>
                    <td>
                        <select class="form-control" name="pergunta_b">
                            <option value="NA">NA</option>
                            <option value="C">C</option>
                            <option value="NC">NC</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="texto">c) Danificações significativas na borda perimetral, que deve manter seu parelelismo e perpendicularidade; </td>
                    <td>
                        <select class="form-control" name="pergunta_c">
                            <option value="NA">NA</option>
                            <option value="C">C</option>
                            <option value="NC">NC</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="texto">d) Rasgos ou esgarçamentos no revestimento; </td>
                    <td>
                        <select class="form-control" name="pergunta_d">
                            <option value="NA">NA</option>
                            <option value="C">C</option>
                            <option value="NC">NC</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="texto">e) Protrusão ou quebra das molas do molejo, deformações individuais das molas e deformações verticais e transversais do colchão de molas; </td>
                    <td>
                        <select class="form-control" name="pergunta_e">
                            <option value="NA">NA</option>
                            <option value="C">C</option>
                            <option value="NC">NC</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="texto">  O material utilizado como isolante deve apresentar flexibilidade e resistência á perfuração e rasgo, mesmo após uso continuado de colchão de molas; </td>
                    <td>
                        <select class="form-control" name="material">
                            <option value="NA">NA</option>
                            <option value="C">C</option>
                            <option value="NC">NC</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="texto">  O material suportou a ciclagem de 50000 ciclos para o colchão de 1 face; ou para colchões de 2 faces a ciclagem de 25000 em cada uma das faces; </td>
                    <td>
                        <select class="form-control" name="suportou">
                            <option value="NA">NA</option>
                            <option value="C">C</option>
                            <option value="NC">NC</option>
                        </select>
                    </td>
                </tr>
            </table>
            <div class="d-grid gap-2 d-flex justify-content-center">
                <button type="submit" class="btn btn-success btn btn-primary btn-md">Salvar</button>
            </div>
        }
        else
        {
            <input type="hidden" id="entrada" value="1" />

            <table class="tables table-bordered border-secondary  table-sm">
                <thead>
                    <tr>
                        <td><img src="https://www.labsystem-nuvem.com.br/imagens_arq/imagens/img/LabSystem.png" class="imagem" /></td>
                        <td colspan="3" class="fundo-tabela">Coleta De Dados</td>
                        <td class="fundo-tabela">N Os:</td>
                    </tr>
                    <tr>
                    <tr>
                        <td colspan="4">Colchão De Molas (Portaria Inmetro 75)</td>
                        <td rowspan="2"> @ViewBag.os</td>
                    </tr>
                    <tr>
                        <td>Inicio:</td>
                        <td><input class="form-control" type="text" name="data_ini" value="@Model.data_ini" /></td>
                        <td>Termino:</td>
                        <td><input class="form-control" type="text" name="data_term" value="@Model.data_term" /></td>
                    </tr>
                </thead>
            </table>
            <table class="tables table-bordered border-secondary  table-sm">
                <thead>
                    <tr class="fundo-tabela">
                        <td colspan="7">- Temperatura da execução do ensaio (23 ± 2) °C, sem necessidade de controle de umidade.</td>
                    </tr>
                    <tr class="fundo-tabela">
                        <td colspan="2">Data do Acondicionamento</td>
                        <td colspan="2">Horario do acondicionamento</td>
                        <td colspan="2">Temperatura encontrada</td>
                        <td>IM</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Inicio:</td>
                        <td><input asp-for="acond_inicio" class="form-control" name="acond_inicio" value="@Model.acond_inicio" /></td>
                        <td>Inicio:</td>
                        <td><input asp-for="hora_inicio" class="form-control" type="time" value="@Model.hora_inicio" /></td>
                        <td>Min:</td>
                        <td><input asp-for="temp_inicio" class="form-control" value="@Model.temp_inicio" /></td>
                        <td rowspan="2"><input asp-for="im" class="form-control" value="@Model.im" /></td>
                    </tr>
                    <tr>
                        <td>Final:</td>
                        <td><input asp-for="acond_final" class="form-control" name="acond_final" value="@Model.acond_final" /></td>
                        <td>Final:</td>
                        <td><input asp-for="hora_final" class="form-control" type="time" value="@Model.hora_final" /></td>
                        <td>Max:</td>
                        <td><input asp-for="temp_final" class="form-control" value="@Model.temp_final" /></td>

                    </tr>
                    <tr>
                        <td colspan="4">Responsavel</td>
                        <td colspan="5"><input asp-for="responsavel_cond" class="form-control" value="@Model.responsavel_cond" /></td>
                    </tr>

                </tbody>
            </table>

            <table class="tables table-bordered border-secondary  table-sm">
                <tr class="fundo-tabela">
                    <td colspan="3">
                        <b> Ensaio de Rolagem</b>
                    </td>
                </tr>
                <tr class="fundo-tabela">
                    <td colspan="2" style="text-align:left;">Procedimento</td>
                    <td>Resultado</td>
                </tr>
                <tr>
                    <td colspan="2"> Fixar o colchão no equipamento de rolagem, de forma a não permiti o movimento horizontal durante o ensaio;</td>
                    <td rowspan="7">---</td>
                </tr>
                <tr>
                    <td colspan="2">Posicionar o rolo Longitudinal sobre o colchão, com distância entre as extremidade, para rola lateralmente;</td>
                </tr>
                <tr>
                    <td colspan="2">O comprimento do percurso deve chegar até 10 cm da borda em ambos os lados do eixo de simetria longitudinal </td>
                </tr>
                <tr>
                    <td colspan="2">A frequência do movimento do  rolo deve ser de 47 m/min ± 5 m/min;</td>
                </tr>
                <tr>
                    <td colspan="2">A massa total a ser aplicada durante o ensaio deve ser de 110±1 kg </td>
                </tr>
                <tr>
                    <td colspan="2">Em colchões utilizáveis em apenas 1 face, o ensaio deve ser realizado somente nesta face por um período de 50000 ciclos, </td>
                </tr>
                <tr>
                    <td colspan="2">Em colchões de 2 face, o ensaio deve ser realizado somente nesta face por um período de 50000 ciclos,</td>
                </tr>
                <tr>
                    <td class="fundo-tabela" colspan="3" style="text-align:left;">Ensaio:</td>
                </tr>
                @if (ViewBag.qtd_face == 1)
                {
                    <tr>
                        <td>1 Face: 50.000 ciclos em sua face superior</td>
                        <td>Ciclos atingidos</td>
                        <td>
                            <input class="form-control" name="qtd_ciclos" value="@Model.qtd_ciclos" />
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>2 Faces: 25.000 em sua face superior e 25.000 em sua face inferior e em (ciclos atingidos)</td>
                        <td>Ciclos atingidos</td>
                        <td>
                            <input class="form-control" name="qtd_ciclos" value="@Model.qtd_ciclos" />
                        </td>
                    </tr>
                }
            </table>
            <br />
            <table class="tables table-bordered border-secondary  table-sm">
                <tr class="fundo-tabela">
                    <td>Critério de avaliação</td>
                    <td rowspan="2">Resultado</td>
                </tr>
                <tr>
                    <td>O colchão durante ou após ensaio não pode apresentar nenhuma das seguintes situações</td>
                </tr>
                <tr>
                    <td class="texto">a) Deformações significativas, incluindo nos materiais utilizados na área de conforto e borda perimetral; </td>
                    <td>
                        <select class="form-control" name="pergunta_a">
                            <option>@Model.pergunta_a</option>
                            <option value="NA">NA</option>
                            <option value="C">C</option>
                            <option value="NC">NC</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="texto">b) Cavidades (indentações) significativas; </td>
                    <td>
                        <select class="form-control" name="pergunta_b">
                            <option>@Model.pergunta_b</option>
                            <option value="NA">NA</option>
                            <option value="C">C</option>
                            <option value="NC">NC</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="texto">c) Danificações significativas na borda perimetral, que deve manter seu parelelismo e perpendicularidade; </td>
                    <td>
                        <select class="form-control" name="pergunta_c">
                            <option>@Model.pergunta_c</option>
                            <option value="NA">NA</option>
                            <option value="C">C</option>
                            <option value="NC">NC</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="texto">d) Rasgos ou esgarçamentos no revestimento; </td>
                    <td>
                        <select class="form-control" name="pergunta_d">
                            <option>@Model.pergunta_d</option>
                            <option value="NA">NA</option>
                            <option value="C">C</option>
                            <option value="NC">NC</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="texto">e) Protrusão ou quebra das molas do molejo, deformações individuais das molas e deformações verticais e transversais do colchão de molas; </td>
                    <td>
                        <select class="form-control" name="pergunta_e">
                            <option>@Model.pergunta_e</option>
                            <option value="NA">NA</option>
                            <option value="C">C</option>
                            <option value="NC">NC</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="texto">  O material utilizado como isolante deve apresentar flexibilidade e resistência á perfuração e rasgo, mesmo após uso continuado de colchão de molas; </td>
                    <td>
                        <select class="form-control" name="material">
                            <option>@Model.material</option>
                            <option value="NA">NA</option>
                            <option value="C">C</option>
                            <option value="NC">NC</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="texto">  O material suportou a ciclagem de 50000 ciclos para o colchão de 1 face; ou para colchões de 2 faces a ciclagem de 25000 em cada uma das faces; </td>
                    <td>
                        <select class="form-control" name="suportou">
                            <option>@Model.suportou</option>
                            <option value="NA">NA</option>
                            <option value="C">C</option>
                            <option value="NC">NC</option>
                        </select>
                    </td>
                </tr>
            </table>
            @if (ViewBag.bloqueada != "Sim")
            {
                <div class="d-grid gap-2 d-flex justify-content-center">
                    <button type="submit" class="btn btn-success btn btn-primary btn-md">Editar</button>
                </div>
            }
            else
            {
                <div class="d-flex justify-content-center">
                    <div class="alert alert-danger w-50 p-3 m-3 text-center" role="alert">
                        Coleta Bloqueada!
                    </div>
                </div>
            }
        }
    </form>

    @if (TempData.ContainsKey("Mensagem"))
    {
        <script>
            alert('@Html.Raw(TempData["Mensagem"])');
        </script>
    }
    <script>
        var selectElement = document.getElementById('faces_utilizadas');

        function atualizarEntrada() {
            var entrada = document.getElementById('entrada').value;

            if (entrada == 0) {
                var selectElement = document.getElementById('faces_utilizadas');
                var face1Element = document.getElementById('1_face');
                var face2Element = document.getElementById('2_face');
                var quantFace1Element = document.getElementById('quant_face_1');
                var quantFace2Element = document.getElementById('quant_face_2');

                quantFace1Element.value = '50000';
                face2Element.style.display = 'none';
            } else if (entrada == 1) {
                Mudar(); // Chamando a função Mudar() quando a entrada for igual a 1
            }
        }


        function Mudar() {
            var selectElement = document.getElementById('faces_utilizadas');
            var face1Element = document.getElementById('1_face');
            var face2Element = document.getElementById('2_face');
            var quantFace1Element = document.getElementById('quant_face_1');
            var quantFace2Element = document.getElementById('quant_face_2');


            if (selectElement.value === '1') {
                face1Element.style.display = 'table-row';
                face2Element.style.display = 'none';
                quantFace1Element.value = '50000';
                quantFace2Element.value = '';


            } else if (selectElement.value === '2') {
                face1Element.style.display = 'table-row';
                face2Element.style.display = 'table-row';
                quantFace1Element.value = '25000';
                quantFace2Element.value = '25000';
            }
        }

        // Chamando a função atualizarEntrada() quando houver uma mudança no elemento 'entrada'
        document.getElementById('entrada').addEventListener('change', atualizarEntrada);
        document.getElementById('faces_utilizadas').addEventListener('change', Mudar);


        // Chamando a função Mudar() quando a página carrega para inicializar o estado dos elementos
        window.onload = function () {
            atualizarEntrada();
        };


    </script>

</body>
</html>