@model ColetaModel.EnsaioIdentificacaoEmbalagem;
@{
    Layout = null;
}
@{
    ViewData["Title"] = "Identificação e Embalagem";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/coleta.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        input {
            margin-left: 10px;
        }

        select {
            text-align: center;
            width: 50px;
            appearance: none;
            background-color: #eee;
            background-position: right 10px top 50%;
            background-repeat: no-repeat;
        }

        .select-altura {
            height: 150px;
        }

    </style>

</head>
<body>
    <form method="post" asp-controller="Coleta" asp-action="SalvarEmbalagensMolas" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento" asp-route-rev="@ViewBag.rev">
        @if (Model == null)
        {
            <table class="tables table-bordered border-secondary  table-sm">
                <thead>
                    <tr>
                        <td><img src="https://www.labsystem-nuvem.com.br/imagens_arq/imagens/img/LabSystem.png" class="imagem" /></td>
                        <td colspan="3" class="fundo-tabela">Coleta De Dados</td>
                        <td class="fundo-tabela">N Os:</td>
                    </tr>
                    <tr>
                        <td colspan="4">Colchão De Molas (Portaria Inmetro 75)</td>
                        <td rowspan="3"> @ViewBag.os</td>
                    </tr>
                    <tr>
                        <td>Inicio:</td>
                        <td><input class="form-control" type="date" name="data_ini" /></td>
                        <td>Termino:</td>
                        <td><input class="form-control" type="date" name="data_term" /></td>
                    </tr>
                    <tr>
                        <td>Executor do ensaio:</td>
                        <td><input class="form-control" asp-for="executador" /></td>
                        <td>Responsável pela conferência:</td>
                        <td>
                            <select class="form-control" asp-for="editarUsuario" asp-items="(List<SelectListItem>)@ViewBag.listaResponsaveis">
                            </select>
                        </td>
                    </tr>
                </thead>
            </table>

            <table class="tables table-bordered border-secondary  table-sm">
                <tr>
                    <td rowspan="50">Item</td>
                    <td class="fundo-tabela" colspan="2">Descrição</td>
                </tr>
                <tr>
                    <td colspan="2">
                        5 - REQUISITOS DE MARCAÇÕES E INFORMAÇÕES OBRIGATÓRIAS NO PRODUTO E NA EMBALAGEM
                    </td>
                </tr>
                <tr>
                    <td class="esquerda">

                        Todos os colchões de molas disponibilizados no mercado nacional devem apresentar
                        etiqueta(s) contendo informações mínimas necessárias para a identificação do produto.
                    </td>
                    <td>
                        <select class="form-select" name="colchao_disponivel">
                            <option selected value="---"> --- </option>
                            <option value="NA">NA</option>
                            <option value="C"> C </option>
                            <option value="NC"> NC </option>
                        </select>
                    </td>
                </tr>
                @*   <tr>
            <td>
            Possuí etiqueta de identificação:

            </td>
            <td>
            <select class="form-select" name="etiqueta_ident">
            <option selected value="NA"> --- </option>
            <option value="C"> C </option>
            <option value="NC"> NC </option>
            </select>
            </td> *@
                @*  </tr>
            <tr>
            <td>
            Está permenentemente fixada em seu revestimento de forma permanente:
            <select class="controlador" name="revest_permanente">
            <option selected value="NA"> --- </option>
            <option value="C"> C </option>
            <option value="NC"> NC </option>
            </select>
            </td>
            </tr>
            <tr>
            <td>
            A etiqueta é confeccionada de material durável e indelével:
            <select class="controlador" name="etiqueta_duravel_indele">
            <option selected value="NA"> --- </option>
            <option value="C"> C </option>
            <option value="NC"> NC </option>
            </select>
            </td>
            </tr>
            <tr>
            <td>
            Está em um local destinto da face superior do produto:
            <select class="controlador" name="face_superior">
            <option selected value="NA"> --- </option>
            <option value="C"> C </option>
            <option value="NC"> NC </option>
            </select>
            </td>
            </tr>
            <tr>
            <td>
            Permite sua completa visualização:
            <select class="controlador" name="visualizacao">
            <option selected value="NA"> --- </option>
            <option value="C"> C </option>
            <option value="NC"> NC </option>
            </select>
            </td>
            </tr> *@
                <tr>
                    <td class="esquerda">
                        A etiqueta está com suas informações em lingua portuguesa:
                    </td>
                    <td>
                        <select class="form-select" name="lingua_portuguesa">
                            <option selected value="---"> --- </option>
                            <option value="NA">NA</option>
                            <option value="C"> C </option>
                            <option value="NC"> NC </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <Td class="esquerda">
                        A(s) etiqueta(s) deve(m) estar fixada(s) de forma permanente ao revestimento do colchão,
                        em local distinto da face inferior do produto, que permita sua completa visualização, e deve(m) ser
                        confeccionada(s) em material durável e indelével e que se mantenha em perfeitas condições para
                    </Td>
                    <td>
                        <select class="form-select" name="fixada">
                            <option selected value="---"> --- </option>
                            <option value="NA">NA</option>
                            <option value="C"> C </option>
                            <option value="NC"> NC </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">Área da etiqueta <input style="width:200px;" class="controlador" type="text" name="area_etiqueta_1" /> mm X <input style="width:200px;" class="controlador" type="text" name="area_etiqueta_2" /> mm = <input style="width:200px;" class="controlador" type="text" readonly /> mm² </td>
                </tr>
                <tr>
                    <td class="fundo-tabela" colspan="2">
                        Além disso o colchão deve conter em sua etiqueta as seguintes informações:
                    </td>

                </tr>
                <tr>
                    <td class="esquerda">
                        a) Nome, razão social  e identificação fiscal (CNPJ ou CPF) do fabricante nacional ou do importado:

                    </td>
                    <td>
                        <select class="form-select" name="cnpj_cpf">
                            <option selected value="---"> --- </option>
                            <option value="NA">NA</option>
                            <option value="C"> C </option>
                            <option value="NC"> NC </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="esquerda">
                        b) Nome, razão social e identificação fiscal (CNPJ ou CPF) do fornecedor:

                    </td>
                    <td>
                        <select class="form-select" name="cnpj_cpf_2">
                            <option selected value="---"> --- </option>
                            <option value="NA">NA</option>
                            <option value="C"> C </option>
                            <option value="NC"> NC </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="esquerda">
                        c) Designação comercial do produto (marca e modelo) :

                    </td>
                    <td>
                        <select class="form-select" name="marca_modelo">
                            <option selected value="---"> --- </option>
                            <option value="NA">NA</option>
                            <option value="C"> C </option>
                            <option value="NC"> NC </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="esquerda">
                        d) Dimensões do produto (altura x comprimento x largura, nessa ordem):
                    </td>
                    <td>
                        <select class="form-select" name="dimensoes_prod">
                            <option selected value="---"> --- </option>
                            <option value="NA">NA</option>
                            <option value="C"> C </option>
                            <option value="NC"> NC </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Nota:</b> A declaração das dimensões a que se refere a alínea e) do item 5.1.4 deste
                        <br />
                        <b>Observação:</b>  Regulamento deve utilizar as unidades centímetro (cm) ou milímetro (mm) quando a medida tiver até 100 cm. Quando a medida for maior que 100 cm, ela deve ser expressa em metros (m). .
                    </td>
                    <td>
                        <select class="form-select" name="conforme5_1_4">
                            <option selected value="---"> --- </option>
                            <option value="NA">NA</option>
                            <option value="C"> C </option>
                            <option value="NC"> NC </option>
                        </select>
                    </td>
                </tr>
                @if (ViewBag.estrutura != "Simples")
                {
                    <tr>
                        <td class="esquerda">
                        e) Para colchões de molas conjugados, deve ser informada a altura do produto sem os pés e a altura dos pés isoladamente.
                    </td>
                    <td>
                        <select class="form-select" name="informada_altura">
                            <option selected value="---"> --- </option>
                            <option value="NA">NA</option>
                            <option value="C"> C </option>
                            <option value="NC"> NC </option>
                        </select>
                    </td>
                </tr>
                }
                <tr>
                    <td class="esquerda">
                        f) Composição qualitativa dos componentes internos do produto :
                    </td>
                    <td>
                        <select class="form-select" name="composicoes">
                            <option selected value="---"> --- </option>
                            <option value="NA">NA</option>
                            <option value="C"> C </option>
                            <option value="NC"> NC </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="esquerda">
                        g) Tipo do molejo, incluindo nome, nº de molas médio/m², bitola do arame:
                    </td>
                    <td>
                        <select class="form-select" name="tipo_molejo">
                            <option selected value="---"> --- </option>
                            <option value="NA">NA</option>
                            <option value="C"> C </option>
                            <option value="NC"> NC </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="esquerda">
                        h) Se borda de aço e/ou borda de espuma e/ou outro material:
                    </td>
                    <td>
                        <select class="form-select" name="contem_borda">
                            <option selected value="---"> --- </option>
                            <option value="NA">NA</option>
                            <option value="C"> C </option>
                            <option value="NC"> NC </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="esquerda">
                        i) Tipo (s) de espuma (s), densidade(s), em kg/m³, e espessura da (s) lâmina (s) de espuma, em cm:
                    </td>
                    <td>
                        <select class="form-select" name="densidade_espuma">
                            <option selected value="---"> --- </option>
                            <option value="NA">NA</option>
                            <option value="C"> C </option>
                            <option value="NC"> NC </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="esquerda">
                        j) Composição do revestimento: tecido (composição percentual e gramatura); espuma (densidade) e outros materiais :
                    </td>
                    <td>
                        <select class="form-select" name="composi_revestimento">
                            <option selected value="---"> --- </option>
                            <option value="NA">NA</option>
                            <option value="C"> C </option>
                            <option value="NC"> NC </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="esquerda">
                        k) Data de fabricação (dia, mês e ano, nesta ordem):
                    </td>
                    <td>
                        <select class="form-select" name="data_fabricacao">
                            <option selected value="---"> --- </option>
                            <option value="NA">NA</option>
                            <option value="C"> C </option>
                            <option value="NC"> NC </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="esquerda">
                        l) Identificação do lote ou outra identificação que permita a rastreabilidade do produto :
                    </td>
                    <td>
                        <select class="form-select" name="ident_lote">
                            <option selected value="---"> --- </option>
                            <option value="NA">NA</option>
                            <option value="C"> C </option>
                            <option value="NC"> NC </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="esquerda">
                        m) País  de origem, não  sendo aceitas  designações através de blocos econômicos, nem indicações por bandeiras de países, somente na embalagem:
                    </td>
                    <td>
                        <select class="form-select" name="pais_origem">
                            <option selected value="---"> --- </option>
                            <option value="NA">NA</option>
                            <option value="C"> C </option>
                            <option value="NC"> NC </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="esquerda">
                        n) Código  de  barras  comercial,  para  identificação  da  marca,  modelo  e  versões  do  produto, quando existente, no produtos :
                    </td>
                    <td>
                        <select class="form-select" name="codigo_barras">
                            <option selected value="---"> --- </option>
                            <option value="NA">NA</option>
                            <option value="C"> C </option>
                            <option value="NC"> NC </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="esquerda">
                        o) Cuidados mínimos para conservação do produto  :
                    </td>
                    <td>
                        <select class="form-select" name="cuidado_minimos">
                            <option selected value="---"> --- </option>
                            <option value="NA">NA</option>
                            <option value="C"> C </option>
                            <option value="NC"> NC </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="esquerda">
                        p)  Para  os  colchões  de  molas  combinados,  aviso  de  esclarecimento,  em  negrito,  em  letras com o mesmo formato e tamanho da utilizada na descrição das lâminas, da seguinte forma: <b>“OUTROS MATERIAIS ESTÃO PRESENTES NA MESMA CAMADA DO MOLEJO”.</b> :
                    </td>
                    <Td>
                        <select class="form-select" name="aviso_esclarecimento">
                            <option selected value="---"> --- </option>
                            <option value="NA">NA</option>
                            <option value="C"> C </option>
                            <option value="NC"> NC </option>
                        </select>
                    </Td>
                </tr>
                @if (ViewBag.latex != "Não")
                {
                    <tr class="esquerda">
                        <td>
                            q) Para os colchões de molas que possuam uma ou mais lâminas constituídas por látex, aviso de  esclarecimento,  em  negrito,  em  letras  com  o  mesmo  formato  e  tamanho  da  utilizada  na descrição  das  lâminas,  da  seguinte  forma:  <b>“A  LÂMINA  DE  LÁTEX  NÃO  FOI  AVALIADA  PELO PROCESSO DE CERTIFICAÇÃO DO PRODUTO”.</b> :
                        </td>
                        <td>
                            <select class="form-select" name="possui_mais_laminas">
                                <option selected value="---"> --- </option>
                                <option value="NA">NA</option>
                                <option value="C"> C </option>
                                <option value="NC"> NC </option>
                            </select>
                        </td>
                    </tr>
                }
                @if (ViewBag.napa != "Não")
                {
                    <tr>
                        <td class="esquerda">
                            r)  Para  os  colchões de  molas  que  possuam  revestimentos  do tipo napa,  courvin,  plásticos e emborrachados,  aviso  de  esclarecimento,  em  letras  não  inferiores  a  2,5  mm    de  altura,  em negrito, caixa alta e em coloração que se destaque da cor de fundo da etiqueta, da seguinte forma:  <b>“O  REVESTIMENTO  NÃO  FOI  AVALIADO  PELO  PROCESSO  DE  CRTIFICAÇÃO  DO PRODUTO.”</b>
                        </td>
                        <td rowspan="2">
                            <select class="form-select select-altura" name="conforme_r">
                                <option selected value="---"> --- </option>
                                <option value="NA">NA</option>
                                <option value="C"> C </option>
                                <option value="NC"> NC </option>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td class="esquerda">
                            @*   <p>
                    Contém a advertência :
                    <select class="controlador" name="contem_advertencia">
                    <option selected value="NA"> --- </option>
                    <option value="C"> C </option>
                    <option value="NC"> NC </option>
                    </select>
                    </p> *@
                            <p> Altura da letra (mm): <input class="controlador" type="text" name="altura_letra" /></p>
                            <p>
                                Incerteza (mm) :
                                <input class="controlador" type="text" name="negrito" value="U = 0,52 mm" readonly/>
                              @*   <select class="controlador" name="negrito">
                                    <option selected value="NA"> --- </option>
                                    <option value="C"> C </option>
                                    <option value="NC"> NC </option>
                                </select> *@
                            </p>
                            @*  <p>
                    Esta em caixa alta :
                    <select class="controlador" name="caixa_alta">
                    <option selected value="NA"> --- </option>
                    <option value="C"> C </option>
                    <option value="NC"> NC </option>
                    </select>
                    </p> *@
                        </td>
                    </tr>
                }
                <tr>
                    <td class="esquerda">
                        s)  Caso o colchão seja embalado com material plástico, a embalagem deve ser visivelmente marcada,  em  letras  não  inferiores  a  5  mm  de  altura  e  com  destaque  em  negrito,  com  o seguinte  aviso: <b>“PARA  EVITAR  O  PERIGO  DE  ASFIXIA,  MANTER  ESTA  EMBALAGEM  PLÁSTICA FORA DO ALCANCE DE CRIANÇAS”</b> .
                    </td>
                    <td rowspan="2">
                        <select class="form-select  select-altura" name="conforme_s">
                            <option selected value="---"> --- </option>
                            <option value="NA">NA</option>
                            <option value="C"> C </option>
                            <option value="NC"> NC </option>
                        </select>
                    </td>

                </tr>
                <tr>
                    <td class="esquerda">
                        @*   <p>
                    Contém a advertência :
                    <select class="controlador" name="contem_advertencia_mat">
                    <option selected value="NA"> --- </option>
                    <option value="C"> C </option>
                    <option value="NC"> NC </option>
                    </select>
                    </p> *@
                        <p> Altura da letra (mm): <input class="controlador" type="text" name="altura_letra_mat" /></p>
                        @*   <p>
                    Está em negrito :
                    <select class="controlador" name="negrito_mat">
                    <option selected value="NA"> --- </option>
                    <option value="C"> C </option>
                    <option value="NC"> NC </option>
                    </select>
                    </p> *@
                        <p>
                            Incerteza (mm)  :
                            <input class="controlador" type="text" name="caixa_alta_mat" value="U = 0,52 mm" readonly />
                           @*  <select class="controlador" name="caixa_alta_mat">
                                <option selected value="NA"> --- </option>
                                <option value="C"> C </option>
                                <option value="NC"> NC </option>
                            </select> *@
                        </p>
                    </td>
                </tr>
                @if (ViewBag.manual != "Não")
                {
                    <tr>
                        <td class="fundo-tabela" colspan="2">
                            6.1 - Instruções de uso
                        </td>
                    </tr>
                    <tr>
                        <td class="esquerda" colspan="2">
                            Os colchões de molas devem ser providos de manual de instruções contendo as seguintes informações:
                        </td>
                    </tr>
                    <tr>
                        <td class="esquerda">
                            Contém instruções de uso:
                        </td>
                        <td>
                            <select class="form-select" name="contem_instru_uso">
                                <option selected value="---"> --- </option>
                                <option value="NA">NA</option>
                                <option value="C"> C </option>
                                <option value="NC"> NC </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="esquerda">
                            a) Orientações sobre o uso e manutenção do produto:
                        </td>
                        <td>
                            <select class="form-select" name="orientacoes">
                                <option selected value="---"> --- </option>
                                <option value="NA">NA</option>
                                <option value="C"> C </option>
                                <option value="NC"> NC </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="esquerda">
                            b) Alerta  ao  consumidor,  em  caso  de  colchões  que  utilizem  revestimentos  do  tipo  napa, courvin,  plásticos  e  emborrachados,  que  não  deve  ser  utilizado  álcool  ou  qualquer  tipo  de solvente  orgânico  para limpeza  desses  tipos  de  revestimento,  uma  vez  que  estes  podem danificá-los:
                        </td>
                        <td>
                            <select class="form-select" name="alerta_consumidor">
                                <option selected value="---"> --- </option>
                                <option value="NA">NA</option>
                                <option value="C"> C </option>
                                <option value="NC"> NC </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="esquerda">
                            c) Desenho  esquemático  do  colchão,  identificando  os  componentes  do  produto  (camadas de conforto, lâminas de espuma existentes, molejos, borda perimetral, revestimento) e seus respectivos  materiais  de  construção  e  especificações  (tipos de  espuma, densidades, tecidos, tipo de molejos, etc.):
                        </td>
                        <td>
                            <select class="form-select" name="desenho_esquematico">
                                <option selected value="---"> --- </option>
                                <option value="NA">NA</option>
                                <option value="C"> C </option>
                                <option value="NC"> NC </option>
                            </select>
                        </td>
                    </tr>
                }

                <tr>
                    <td class="fundo-tabela">
                        6.2 - As instruções de uso devem conter o seguinte texto: “IMPORTANTE LER COM ATENÇÃO E GUARDAR PARA EVENTUAIS CONSULTAS”, em letras não inferiores a 5 mm de altura e com destaque em negrito.
                    </td>
                    <td rowspan="2">
                        <select class="form-select  select-altura" name="conforme_6_2">
                            <option selected value="---"> --- </option>
                            <option value="NA">NA</option>
                            <option value="C"> C </option>
                            <option value="NC"> NC </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="esquerda">
                        @*   <p>
                    Contém a advertência :
                    <select class="controlador" name="contem_advertencia_6_2">
                    <option selected value="NA"> --- </option>
                    <option value="C"> C </option>
                    <option value="NC"> NC </option>
                    </select>
                    </p> *@
                        <p> Altura da letra (mm) : <input class="controlador" type="text" name="altura_letra_6_2" /></p>
                        @*     <p>
                    Está em negrito :
                    <select class="controlador" name="negrito6_2">
                    <option selected value="NA"> --- </option>
                    <option value="C"> C </option>
                    <option value="NC"> NC </option>
                    </select>
                    </p> *@
                        <p>
                            Incerteza (mm) :
                            <input class="controlador" type="text" name="caixa_alta_6_2" value="U = 0,52 mm" />
                           @*  <select class="controlador" name="caixa_alta_6_2">
                                <option selected value="NA"> --- </option>
                                <option value="C"> C </option>
                                <option value="NC"> NC </option>
                            </select> *@
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="fundo-tabela" colspan="2">
                        Embalagem
                    </td>
                </tr>
                <tr>
                    <td class="esquerda">

                        A embalagem deve ser unitária e  garantir a proteçao do produto.
                        @*
                    <p>
                    A embalagem é unitária
                    <select class="controlador" name="embalagem_unitaria">
                    <option selected value="NA"> --- </option>
                    <option value="C"> C </option>
                    <option value="NC"> NC </option>
                    </select>
                    </p>
                    <p>
                    A embalagem garante a proteção do produto
                    <select class="controlador" name="embalagem_garante">
                    <option selected value="NA"> --- </option>
                    <option value="C"> C </option>
                    <option value="NC"> NC </option>
                    </select>
                    </p> *@
                    </td>
                    <td>
                        <select class="form-select" name="embalagem_unitaria">
                            <option selected value="---"> --- </option>
                            <option value="NA">NA</option>
                            <option value="C"> C </option>
                            <option value="NC"> NC </option>
                        </select>
                    </td>
                </tr>
            </table>
            <div class="d-grid gap-2 d-flex justify-content-center">
                <button type="submit" class="btn btn-success btn btn-primary btn-md">Salvar</button>
            </div>
        }
        else
        {
            <table class="tables table-bordered border-secondary  table-sm">
                <thead>
                    <tr>
                        <td><img src="https://www.labsystem-nuvem.com.br/imagens_arq/imagens/img/LabSystem.png" class="imagem" /></td>
                        <td colspan="3" class="fundo-tabela">Coleta De Dados</td>
                        <td class="fundo-tabela">N Os:</td>
                    </tr>
                    <tr>
                        <td colspan="4">Colchão De Molas (Portaria Inmetro 75)</td>
                        <td rowspan="3"> @ViewBag.os</td>
                    </tr>
                    <tr>
                        <td>Inicio:</td>
                        <td><input class="form-control" type="text" name="data_ini" value="@Model.data_ini" /></td>
                        <td>Termino:</td>
                        <td><input class="form-control" type="text" name="data_term" value="@Model.data_term" /></td>
                    </tr>
                    <tr>
                        <td>Executor do ensaio:</td>
                        <td><input class="form-control" asp-for="executador" /></td>
                        <td>Responsável pela conferência:</td>
                        <td>
                            <select class="form-control" asp-for="editarUsuario" asp-items="(List<SelectListItem>)@ViewBag.listaResponsaveis">
                            </select>
                        </td>
                    </tr>
                </thead>
            </table>

            <table class="tables table-bordered border-secondary  table-sm">
                <tr>
                    <td rowspan="50">Item</td>
                    <td class="fundo-tabela" colspan="2">Descrição</td>
                </tr>
                <tr>
                    <td colspan="2">
                        5 - REQUISITOS DE MARCAÇÕES E INFORMAÇÕES OBRIGATÓRIAS NO PRODUTO E NA EMBALAGEM
                    </td>
                </tr>
                <tr>
                    <td class="esquerda">
                        Todos os colchões de molas disponibilizados no mercado nacional devem apresentar
                        etiqueta(s) contendo informações mínimas necessárias para a identificação do produto.
                    </td>
                    <td>
                        <select class="form-select form-select-sm" name="colchao_disponivel">
                            <option>@Model.colchao_disponivel</option>
                            <option value="NA"> NA </option>
                            <option value="---">---</option>
                            <option value="C"> C </option>
                            <option value="NC"> NC </option>
                        </select>
                    </td>
                </tr>
                @*   <tr>
            <td>
            Possuí etiqueta de identificação:

            </td>
            <td>
            <select class="form-select" name="etiqueta_ident">
            <option selected value="NA"> --- </option>
            <option value="C"> C </option>
            <option value="NC"> NC </option>
            </select>
            </td> *@
                @*  </tr>
            <tr>
            <td>
            Está permenentemente fixada em seu revestimento de forma permanente:
            <select class="controlador" name="revest_permanente">
            <option selected value="NA"> --- </option>
            <option value="C"> C </option>
            <option value="NC"> NC </option>
            </select>
            </td>
            </tr>
            <tr>
            <td>
            A etiqueta é confeccionada de material durável e indelével:
            <select class="controlador" name="etiqueta_duravel_indele">
            <option selected value="NA"> --- </option>
            <option value="C"> C </option>
            <option value="NC"> NC </option>
            </select>
            </td>
            </tr>
            <tr>
            <td>
            Está em um local destinto da face superior do produto:
            <select class="controlador" name="face_superior">
            <option selected value="NA"> --- </option>
            <option value="C"> C </option>
            <option value="NC"> NC </option>
            </select>
            </td>
            </tr>
            <tr>
            <td>
            Permite sua completa visualização:
            <select class="controlador" name="visualizacao">
            <option selected value="NA"> --- </option>
            <option value="C"> C </option>
            <option value="NC"> NC </option>
            </select>
            </td>
            </tr> *@
                <tr>
                    <td class="esquerda">
                        A etiqueta está com suas informações em lingua portuguesa:
                    </td>
                    <td>
                        <select class="form-select" name="lingua_portuguesa">
                            <option>@Model.lingua_portuguesa</option>
                            <option value="NA"> NA </option>
                            <option value="---"> ---</option>
                            <option value="C"> C </option>
                            <option value="NC"> NC </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <Td class="esquerda">
                        A(s) etiqueta(s) deve(m) estar fixada(s) de forma permanente ao revestimento do colchão,
                        em local distinto da face inferior do produto, que permita sua completa visualização, e deve(m) ser
                        confeccionada(s) em material durável e indelével e que se mantenha em perfeitas condições para
                    </Td>
                    <td>
                        <select class="form-select" name="fixada">
                            <option>@Model.fixada</option>
                            <option value="NA"> NA </option>
                            <option value="---">---</option>
                            <option value="C"> C </option>
                            <option value="NC"> NC </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Área da etiqueta <input style="width:200px;" class="controlador" type="text" name="area_etiqueta_1" value="@Model.area_etiqueta_1" /> mm X <input style="width:200px;" class="controlador" type="text" name="area_etiqueta_2" value="@Model.area_etiqueta_2" /> mm = <input style="width:200px;" class="controlador" type="text" readonly value="@Model.area_etiqueta_media" /> mm²
                    </td>
                    <td>
                        <select class="form-select" name="conforme_area">
                            <option>@Model.conforme_area</option>
                            <option value="NA"> NA </option>
                            <option value="---">---</option>
                            <option value="C"> C </option>
                            <option value="NC"> NC </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="fundo-tabela" colspan="2">
                        Além disso o colchão deve conter em sua etiqueta as seguintes informações:
                    </td>

                </tr>
                <tr>
                    <td class="esquerda">
                        a) Nome, razão social  e identificação fiscal (CNPJ ou CPF) do fabricante nacional ou do importado:

                    </td>
                    <td>
                        <select class="form-select" name="cnpj_cpf">
                            <option>@Model.cnpj_cpf</option>
                            <option value="NA"> NA </option>
                            <option value="---">---</option>
                            <option value="C"> C </option>
                            <option value="NC"> NC </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="esquerda">
                        b) Nome, razão social e identificação fiscal (CNPJ ou CPF) do fornecedor:

                    </td>
                    <td>
                        <select class="form-select" name="cnpj_cpf_2">
                            <option>@Model.cnpj_cpf_2</option>
                            <option value="NA"> NA </option>
                            <option value="---">---</option>
                            <option value="C"> C </option>
                            <option value="NC"> NC </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="esquerda">
                        c) Designação comercial do produto (marca e modelo) :

                    </td>
                    <td>
                        <select class="form-select" name="marca_modelo">
                            <option>@Model.marca_modelo</option>
                            <option value="NA"> NA </option>
                            <option value="---">---</option>
                            <option value="C"> C </option>
                            <option value="NC"> NC </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="esquerda">
                        d) Dimensões do produto (altura x comprimento x largura, nessa ordem):
                    </td>
                    <td>
                        <select class="form-select" name="dimensoes_prod">
                            <option>@Model.dimensoes_prod</option>
                            <option value="NA"> NA </option>
                            <option value="---">---</option>
                            <option value="C"> C </option>
                            <option value="NC"> NC </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td >
                        <b>Nota:</b> A declaração das dimensões a que se refere a alínea e) do item 5.1.4 deste
                        <br />
                        <b>Observação:</b>  Regulamento deve utilizar as unidades centímetro (cm) ou milímetro (mm) quando a medida tiver até 100 cm. Quando a medida for maior que 100 cm, ela deve ser expressa em metros (m).
                    </td>
                     <td>
                        <select class="form-select" name="conforme5_1_4">
                            <option>@Model.conforme5_1_4</option>
                            <option value="---"> --- </option>
                            <option value="NA">NA</option>
                            <option value="C"> C </option>
                            <option value="NC"> NC </option>
                        </select>
                    </td>
                </tr>
                @if (ViewBag.estrutura != "Simples")
                {
                    <tr>
                        <td class="esquerda">
                        e) Para colchões de molas conjugados, deve ser informada a altura do produto sem os pés e a altura dos pés isoladamente.
                    </td>
                    <td>
                        <select class="form-select" name="informada_altura">
                            <option>@Model.informada_altura</option>
                            <option value="NA"> NA </option>
                            <option value="---">---</option>
                            <option value="C"> C </option>
                            <option value="NC"> NC </option>
                        </select>
                    </td>
                </tr>
                }
                <tr>
                    <td class="esquerda">
                        f) Composição qualitativa dos componentes internos do produto :
                    </td>
                    <td>
                        <select class="form-select" name="composicoes">
                            <option>@Model.composicoes</option>
                            <option value="NA"> NA </option>
                            <option value="---">---</option>
                            <option value="C"> C </option>
                            <option value="NC"> NC </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="esquerda">
                        g) Tipo do molejo, incluindo nome, nº de molas médio/m², bitola do arame:
                    </td>
                    <td>
                        <select class="form-select" name="tipo_molejo">
                            <option>@Model.tipo_molejo</option>
                            <option value="NA"> NA </option>
                            <option value="---">---</option>
                            <option value="C"> C </option>
                            <option value="NC"> NC </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="esquerda">
                        h) Se borda de aço e/ou borda de espuma e/ou outro material:
                    </td>
                    <td>
                        <select class="form-select" name="contem_borda">
                            <option>@Model.contem_borda</option>
                            <option value="NA"> --- </option>
                            <option value="C"> C </option>
                            <option value="NC"> NC </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="esquerda">
                        i) Tipo (s) de espuma (s), densidade(s), em kg/m³, e espessura da (s) lâmina (s) de espuma, em cm:
                    </td>
                    <td>
                        <select class="form-select" name="densidade_espuma">
                            <option>@Model.densidade_espuma</option>
                            <option value="NA"> NA </option>
                            <option value="---">---</option>
                            <option value="C"> C </option>
                            <option value="NC"> NC </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="esquerda">
                        j) Composição do revestimento: tecido (composição percentual e gramatura); espuma (densidade) e outros materiais :
                    </td>
                    <td>
                        <select class="form-select" name="composi_revestimento">
                            <option>@Model.composi_revestimento</option>
                            <option value="NA"> NA </option>
                            <option value="---">---</option>
                            <option value="C"> C </option>
                            <option value="NC"> NC </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="esquerda">
                        k) Data de fabricação (dia, mês e ano, nesta ordem):
                    </td>
                    <td>
                        <select class="form-select" name="data_fabricacao">
                            <option>@Model.data_fabricacao</option>
                            <option value="NA"> NA </option>
                            <option value="---">---</option>
                            <option value="C"> C </option>
                            <option value="NC"> NC </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="esquerda">
                        l) Identificação do lote ou outra identificação que permita a rastreabilidade do produto :
                    </td>
                    <td>
                        <select class="form-select" name="ident_lote">
                            <option>@Model.ident_lote</option>
                            <option value="NA"> NA </option>
                            <option value="---">---</option>
                            <option value="C"> C </option>
                            <option value="NC"> NC </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="esquerda">
                        m) País  de origem, não  sendo aceitas  designações através de blocos econômicos, nem indicações por bandeiras de países, somente na embalagem:
                    </td>
                    <td>
                        <select class="form-select" name="pais_origem">
                            <option>@Model.pais_origem</option>
                            <option value="NA"> NA </option>
                            <option value="---">---</option>
                            <option value="C"> C </option>
                            <option value="NC"> NC </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="esquerda">
                        n) Código  de  barras  comercial,  para  identificação  da  marca,  modelo  e  versões  do  produto, quando existente, no produtos :
                    </td>
                    <td>
                        <select class="form-select" name="codigo_barras">
                            <option>@Model.codigo_barras</option>
                            <option value="---">---</option>
                            <option value="NA"> NA </option>
                            <option value="C"> C </option>
                            <option value="NC"> NC </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="esquerda">
                        o) Cuidados mínimos para conservação do produto  :
                    </td>
                    <td>
                        <select class="form-select" name="cuidado_minimos">
                            <option>@Model.cuidado_minimos</option>
                            <option value="NA"> NA </option>
                            <option value="---">---</option>
                            <option value="C"> C </option>
                            <option value="NC"> NC </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="esquerda">
                        p)  Para  os  colchões  de  molas  combinados,  aviso  de  esclarecimento,  em  negrito,  em  letras com o mesmo formato e tamanho da utilizada na descrição das lâminas, da seguinte forma: <b>“OUTROS MATERIAIS ESTÃO PRESENTES NA MESMA CAMADA DO MOLEJO”.</b> :
                    </td>
                    <Td>
                        <select class="form-select" name="aviso_esclarecimento">
                            <option>@Model.aviso_esclarecimento</option>
                            <option value="---"> --- </option>
                            <option value="NA">NA</option>
                            <option value="C"> C </option>
                            <option value="NC"> NC </option>
                        </select>
                    </Td>
                </tr>
                @if (ViewBag.latex != "Não")
                {
                    <tr>
                        <td class="esquerda">
                            q) Para os colchões de molas que possuam uma ou mais lâminas constituídas por látex, aviso de  esclarecimento,  em  negrito,  em  letras  com  o  mesmo  formato  e  tamanho  da  utilizada  na descrição  das  lâminas,  da  seguinte  forma:  <b>“A  LÂMINA  DE  LÁTEX  NÃO  FOI  AVALIADA  PELO PROCESSO DE CERTIFICAÇÃO DO PRODUTO”.</b> :
                        </td>
                        <td>
                            <select class="form-select" name="possui_mais_laminas">
                                <option>@Model.possui_mais_laminas</option>
                                <option value="NA"> NA </option>
                                <option value="---">---</option>
                                <option value="C"> C </option>
                                <option value="NC"> NC </option>
                            </select>
                        </td>
                    </tr>
                }
                @if (ViewBag.napa != "Não")
                {
                    <tr>
                        <td class="esquerda">
                            r)  Para  os  colchões de  molas  que  possuam  revestimentos  do tipo napa,  courvin,  plásticos e emborrachados,  aviso  de  esclarecimento,  em  letras  não  inferiores  a  2,5  mm    de  altura,  em negrito, caixa alta e em coloração que se destaque da cor de fundo da etiqueta, da seguinte forma:  <b>“O  REVESTIMENTO  NÃO  FOI  AVALIADO  PELO  PROCESSO  DE  CRTIFICAÇÃO  DO PRODUTO.”</b>
                        </td>
                        <td rowspan="2" class="select-altura">
                            <select class="form-select select-altura" name="conforme_r">
                                <option>@Model.conforme_r</option>
                                <option value="NA"> NA </option>
                                <option value="---">---</option>
                                <option value="C"> C </option>
                                <option value="NC"> NC </option>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td class="esquerda">
                            @*   <p>
                    Contém a advertência :
                    <select class="controlador" name="contem_advertencia">
                    <option selected value="NA"> --- </option>
                    <option value="C"> C </option>
                    <option value="NC"> NC </option>
                    </select>
                    </p> *@
                            <p> Altura da letra (mm) : <input class="controlador" type="text" name="altura_letra" value="@Model.altura_letra" /></p>
                            <p>
                                Incerteza (mm) :
                                <input class="controlador" type="text" name="negrito" value="U = 0,52 mm" readonly />
                               @*  <select class="controlador" name="negrito">
                                    <option>@Model.negrito</option>
                                    <option value="NA"> --- </option>
                                    <option value="C"> C </option>
                                    <option value="NC"> NC </option>
                                </select> *@
                            </p>
                            @*  <p>
                    Esta em caixa alta :
                    <select class="controlador" name="caixa_alta">
                    <option selected value="NA"> --- </option>
                    <option value="C"> C </option>
                    <option value="NC"> NC </option>
                    </select>
                    </p> *@
                        </td>
                    </tr>
                }
                <tr>
                    <td class="esquerda">
                        s)  Caso o colchão seja embalado com material plástico, a embalagem deve ser visivelmente marcada,  em  letras  não  inferiores  a  5  mm  de  altura  e  com  destaque  em  negrito,  com  o seguinte  aviso: <b>“PARA  EVITAR  O  PERIGO  DE  ASFIXIA,  MANTER  ESTA  EMBALAGEM  PLÁSTICA FORA DO ALCANCE DE CRIANÇAS”</b> .
                    </td>
                    <td rowspan="2" class="select-altura">
                        <select class="form-select select-altura" name="conforme_s">
                            <option>@Model.conforme_s</option>
                            <option value="NA"> NA </option>
                            <option value="---">---</option>
                            <option value="C"> C </option>
                            <option value="NC"> NC </option>
                        </select>
                    </td>

                </tr>
                <tr>
                    <td class="esquerda">
                        @*   <p>
                    Contém a advertência :
                    <select class="controlador" name="contem_advertencia_mat">
                    <option selected value="NA"> --- </option>
                    <option value="C"> C </option>
                    <option value="NC"> NC </option>
                    </select>
                    </p> *@
                        <p> Altura da letra (mm) : <input class="controlador" type="text" name="altura_letra_mat" value="@Model.altura_letra_mat" /></p>
                        @*   <p>
                    Está em negrito :
                    <select class="controlador" name="negrito_mat">
                    <option selected value="NA"> --- </option>
                    <option value="C"> C </option>
                    <option value="NC"> NC </option>
                    </select>
                    </p> *@
                        <p>
                            Incerteza (mm)  :
                            <input class="controlador" type="text" name="caixa_alta_mat" value="U = 0,52 mm" readonly />
                         @*    <select class="controlador" name="caixa_alta_mat">
                                <option> @Model.caixa_alta_mat </option>
                                <option value="NA"> --- </option>
                                <option value="C"> C </option>
                                <option value="NC"> NC </option>
                            </select> *@
                        </p>
                    </td>
                </tr>
                @if (ViewBag.manual != "Não")
                {
                    <tr>
                        <td class="fundo-tabela" colspan="2">
                            6.1 - Instruções de uso
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Os colchões de molas devem ser providos de manual de instruções contendo as seguintes informações:
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Contém instruções de uso:
                        </td>
                        <td>
                            <select class="form-select" name="contem_instru_uso">
                                <option> @Model.contem_instru_uso </option>
                                <option value="NA"> NA </option>
                                <option value="---">---</option>
                                <option value="C"> C </option>
                                <option value="NC"> NC </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="esquerda">
                            a) Orientações sobre o uso e manutenção do produto:
                        </td>
                        <td>
                            <select class="form-select" name="orientacoes">
                                <option> @Model.orientacoes </option>
                                <option value="NA"> NA </option>
                                <option value="---">---</option>
                                <option value="C"> C </option>
                                <option value="NC"> NC </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="esquerda">
                            b) Alerta  ao  consumidor,  em  caso  de  colchões  que  utilizem  revestimentos  do  tipo  napa, courvin,  plásticos  e  emborrachados,  que  não  deve  ser  utilizado  álcool  ou  qualquer  tipo  de solvente  orgânico  para limpeza  desses  tipos  de  revestimento,  uma  vez  que  estes  podem danificá-los:
                        </td>
                        <td>
                            <select class="form-select" name="alerta_consumidor">
                                <option> @Model.alerta_consumidor </option>
                                <option value="NA"> NA </option>
                                <option value="---">---</option>
                                <option value="C"> C </option>
                                <option value="NC"> NC </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="esquerda">
                            c) Desenho  esquemático  do  colchão,  identificando  os  componentes  do  produto  (camadas de conforto, lâminas de espuma existentes, molejos, borda perimetral, revestimento) e seus respectivos  materiais  de  construção  e  especificações  (tipos de  espuma, densidades, tecidos, tipo de molejos, etc.):
                        </td>
                        <td>
                            <select class="form-select" name="desenho_esquematico">
                                <option> @Model.desenho_esquematico </option>
                                <option value="NA"> NA </option>
                                <option value="---">---</option>
                                <option value="C"> C </option>
                                <option value="NC"> NC </option>
                            </select>
                        </td>
                    </tr>
                }

                <tr>
                    <td class="fundo-tabela">
                        6.2 - As instruções de uso devem conter o seguinte texto: “IMPORTANTE LER COM ATENÇÃO E GUARDAR PARA EVENTUAIS CONSULTAS”, em letras não inferiores a 5 mm de altura e com destaque em negrito.
                    </td>
                    <td rowspan="2">
                        <select class="form-select select-altura" name="conforme_6_2">
                            <option> @Model.conforme_6_2 </option>
                            <option value="NA"> NA </option>
                            <option value="---">---</option>
                            <option value="C"> C </option>
                            <option value="NC"> NC </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="esquerda">
                        @*   <p>
                    Contém a advertência :
                    <select class="controlador" name="contem_advertencia_6_2">
                    <option selected value="NA"> --- </option>
                    <option value="C"> C </option>
                    <option value="NC"> NC </option>
                    </select>
                    </p> *@
                        <p> Altura da letra (mm) : <input class="controlador" type="text" name="altura_letra_6_2" value="@Model.altura_letra_6_2" /></p>
                        @*     <p>
                    Está em negrito :
                    <select class="controlador" name="negrito6_2">
                    <option selected value="NA"> --- </option>
                    <option value="C"> C </option>
                    <option value="NC"> NC </option>
                    </select>
                    </p> *@
                        <p>
                            Incerteza (mm) :
                            <input class="controlador" type="text" name="caixa_alta_6_2" value="@Model.caixa_alta_6_2" />
                           @*  <select class="controlador" name="caixa_alta_6_2">
                                <option> @Model.caixa_alta_6_2 </option>
                                <option value="NA"> --- </option>
                                <option value="C"> C </option>
                                <option value="NC"> NC </option>
                            </select> *@
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="fundo-tabela" colspan="2">
                        Embalagem
                    </td>
                </tr>
                <tr>
                    <td class="esquerda">

                        A embalagem deve ser unitária e  garantir a proteçao do produto.
                        @*
                    <p>
                    A embalagem é unitária
                    <select class="controlador" name="embalagem_unitaria">
                    <option selected value="NA"> --- </option>
                    <option value="C"> C </option>
                    <option value="NC"> NC </option>
                    </select>
                    </p>
                    <p>
                    A embalagem garante a proteção do produto
                    <select class="controlador" name="embalagem_garante">
                    <option selected value="NA"> --- </option>
                    <option value="C"> C </option>
                    <option value="NC"> NC </option>
                    </select>
                    </p> *@
                    </td>
                    <td>
                        <select class="form-select" name="embalagem_unitaria">
                            <option> @Model.embalagem_unitaria </option>
                            <option value="NA"> NA </option>
                            <option value="---">---</option>
                            <option value="C"> C </option>
                            <option value="NC"> NC </option>
                        </select>
                    </td>
                </tr>
            </table>
            @if (ViewBag.bloqueada != "Sim")
            {
                <div class="d-grid gap-2 d-flex justify-content-center">
                    <button type="submit" class="btn btn-success btn btn-primary btn-md">Editar</button>
                </div>
            }
            else
            {
                <div class="d-flex justify-content-center">
                    <div class="alert alert-danger w-50 p-3 m-3 text-center" role="alert">
                        Coleta Bloqueada!
                    </div>
                </div>
            }
        }
    </form>

    <br /><br /><br />
    <footer class="d-flex justify-content-center align-items-center border-top bg-white py-3 fixed-bottom" style="margin: auto; width: 100%; bottom: 0; position: fixed;">
        <div class="d-flex align-items-center">
            <a asp-controller="Home" asp-action="Index" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                <img src="https://www.labsystem-nuvem.com.br/imagens_arq/imagens/img/LabSystem.png" class="bi" width="25" height="24" />
            </a>
            <span class="mb-4 mb-md-0 text-body-secondary" style="font-size: 14px;">&copy; Coleta Colchao - CD-SI 001/MVS - 10/02/2025 - Rev 1</span>
        </div>
    </footer>
    @if (TempData.ContainsKey("Mensagem"))
    {
        <script>
            alert('@Html.Raw(TempData["Mensagem"])');
        </script>
    }
    <script>
        document.addEventListener("keydown", function (e) {
            if (e.keyCode === 13) {

                e.preventDefault();

            }
        });
    </script>
</body>
</html>