@model ColetaModel.Espuma_identificacao_embalagem;
@{
    Layout = null;
}
@{
    ViewData["Title"] = "Embalagem";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/coleta.css" asp-append-version="true" />
    <title>Coleta</title>
    <style>
        input {
        text-align: center;
        }

        select {
        text-align: center;
        }
    </style>
</head>
<body>
    <br />
    <form asp-controller="Coleta" class="meuFormulario" id="form1" asp-action="EspumaIdentificacaoEmbalagem" method="post" asp-route-os="@ViewData["os"]" asp-route-orcamento="@ViewData["orcamento"]" asp-route-rev="@ViewData["rev"]">
        <table class="tables table-bordered border-secondary  table-sm">
            <thead>
                <tr>
                    <td><img src="https://www.labsystem-nuvem.com.br/imagens_arq/imagens/img/LabSystem.png" class="imagem" /></td>
                    <td colspan="3" class="fundo-tabela">Coleta De Dados</td>
                    <td class="fundo-tabela">N Os:</td>
                </tr>
                <tr>
                    <td colspan="4">Ensaios de Colchão de Espuma (Portaria Inmetro 35)</td>
                    <td rowspan="2"> @ViewBag.os </td>
                </tr>
                @if (Model == null)
                {
                    <tr>
                        <td>Inicio:</td>
                        <td><input class="form-control" type="date" asp-for="data_ini" /></td>
                        <td>Termino:</td>
                        <td><input class="form-control" type="date" asp-for="data_term" /></td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>Inicio:</td>
                        <td><input class="form-control" type="text" asp-for="data_ini" /></td>
                        <td>Termino:</td>
                        <td><input class="form-control" type="text" asp-for="data_term" /></td>
                    </tr>
                }
            </thead>
        </table>
        <br />
        <table class="tables table-bordered border-secondary  table-sm">
            <tr class="fundo-tabela">
                <td rowspan="2">Item</td>
                <td>Descrição</td>
                <td rowspan="2">Resultado</td>
            </tr>
            <tr>
                <td class="fundo-tabela"> Identificação </td>
            </tr>
            <tr>
                <td rowspan="44"> 2 </td>
                <td>
                    Os  colchões e colchonetes de espuma flexível de poliuretano devem apresentar, para sua perfeita identificação,  uma etiqueta,  de  pelo  menos  150  cm2,  em  material  durável  e  indelével, fixada  de  forma  permanente  em  seu  revestimento,  em  local  distinto  da  face  inferior do  produto, que permita sua completa visualização, ainda quando embalado, e com as seguintes informações, em língua portuguesa:
                    <br /> <br />
                </td>
                <td>---</td>
            </tr>
            <tr>
                <td>
                    Possuí etiqueta de identificação:
                </td>
                <td>
                    <select class="form-control" asp-for="etiquieta_um">
                        @if(Model != null)
                        {
                            <option selected>@Model.etiquieta_um</option>
                        }
                        <option> --- </option>
                        <option> Sim </option>
                        <option> Não </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Está permenentemente fixada em seu revestimento de forma permanente:
                </td>
                <td>
                    <select class="form-control" asp-for="fixacao">
                        @if(Model != null)
                        {
                            <option selected>@Model.fixacao</option>
                        }
                        <option> --- </option>
                        <option> Sim </option>
                        <option> Não </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    A etiqueta é confeccionada de material durável e indelével
                </td>
                <td>
                    <select class="form-control" asp-for="material">
                        @if (Model != null)
                        {
                            <option selected>@Model.material</option>
                        }
                        <option> --- </option>
                        <option> Sim </option>
                        <option> Não </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Permite sua completa visualização
                </td>
                <td>
                    <select class="form-control" asp-for="visualizacao">
                        @if (Model != null)
                        {
                            <option selected>@Model.visualizacao</option>
                        }
                        <option> --- </option>
                        <option> Sim </option>
                        <option> Não </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    A etiqueta está com suas informações em lingua portuguesa?
                </td>
                <td>
                    <select class="form-control" asp-for="lingua_portuguesa">
                        @if (Model != null)
                        {
                            <option selected>@Model.lingua_portuguesa</option>
                        }
                        <option> --- </option>
                        <option> Sim </option>
                        <option> Não </option>
                    </select>
                </td>

            </tr>
            <tr>
                <td>
                    Àrea da etiqueta
                    <br /><br /><input class="form-control" type="text" asp-for="area_um" /> <b> X </b> <input class="form-control" type="text" asp-for="area_dois" /> <b> = </b> <input class="form-control" type="text" asp-for="area_result" readonly /> <br /> <br />
                </td>
                <td>
                    <select class="form-control" asp-for="conforme_area_um">
                        @if(Model != null)
                        {
                            <option selected>@Model.conforme_area_um</option>
                        }
                        <option value="NA"> --- </option>
                        <option value="C"> C </option>
                        <option value="NC"> NC </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="fundo-tabela" colspan="2">
                    Além disso o colchão deve conter em sua etiqueta as seguintes informações:
                </td>
            </tr>
            <tr>
                <td>
                    a) Nome, razão social e CNPJ do fabricante ou do importador
                </td>
                <td>
                    <select class="form-control" asp-for="etiquieta_dois">
                        @if(Model != null && Model.etiquieta_dois != null)
                        {
                            <option selected> @Model.etiquieta_dois </option>
                        }
                        <option> --- </option>
                        <option> Sim </option>
                        <option> Não </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    b) Marca e modelo do produto:
                </td>
                <td>
                    <select class="form-control" asp-for="marca">
                        @if(Model != null && Model.marca != null)
                        {
                            <option selected> @Model.marca </option>
                        }
                        <option> --- </option>
                        <option> Sim </option>
                        <option> Não </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    c) Dimensões  do  produto  sem  os  pés  (altura  x  comprimento  x  largura,  nesta  ordem),
                    incluindo suas respectivas tolerâncias, conforme a ABNT NBR 13579-1:2011, ou seja, - 0,50/+ 1,50 cm (- 5,0 mm/+ 15,0 mm) para a altura
                    e ± 1,50 cm (±15,0 mm) para o comprimento e largura:
                </td>
                <td>
                    <select class="form-control" asp-for="dimensoes">
                        @if(Model != null && Model.dimensoes != null)
                        {
                            <option selected> @Model.dimensoes </option>
                        }
                        <option> --- </option>
                        <option> Sim </option>
                        <option> Não </option>
                    </select>
                </td>
            </tr>
            @if (ViewBag.tipoColchao == "Colchão Auxiliar" || ViewBag.tipoColchao == "Colchão Box Conjugado")
            {
                <tr>
                    <td>
                        Nota c.1) No caso de colchão box conjugado (unibox), deve ser incluída a informação da altura do produto sem os pés,
                        como também da altura dos pés isoladamente.
                    </td>
                    <td>
                        <select class="form-control" asp-for="info_altura">
                            @if(Model != null && Model.info_altura != null)
                            {
                                <option selected> @Model.info_altura </option>
                            }
                            <option> --- </option>
                            <option> Sim </option>
                            <option> Não </option>
                        </select>
                    </td>
                </tr>
            }
            <tr>
                <td>
                    Nota c.2) Devem ser utilizadas as unidades centímetro (cm) ou milímetro (mm) quando a medida tiver até 100 cm.
                    Quando a medida for maior que 100 cm, ela deve ser expressa em metros (m):
                </td>
                <td>
                    <select class="form-control" asp-for="medidas">
                        @if(Model != null && Model.medidas != null)
                        {
                            <option selected> @Model.medidas </option>
                        }
                        <option> --- </option>
                        <option> Sim </option>
                        <option> Não </option>
                    </select>
                </td>
            </tr>
            @if (ViewBag.antiReflexo == "Sim")
            {
                <tr>
                    <td>
                        Nota c.3) No caso de colchões e colchonetes antirrefluxo, as dimensões devem ser declaradas da seguinte forma:
                        altura menor /altura maior, comprimento, largura, nesta ordem:
                    </td>
                    <td>
                        <select class="form-control" asp-for="colchoes">
                            @if(Model != null && Model.colchoes != null)
                            {
                                <option selected> @Model.colchoes </option>
                            }
                            <option> --- </option>
                            <option> Sim </option>
                            <option> Não </option>
                        </select>
                    </td>
                </tr>
            }
            <tr>
                <td>
                    d) Tipo  do  colchão:  se  colchão  de  espuma  tradicional;  ou  colchão  box  conjugado;
                    ou  colchão auxiliar; ou colchão misto; ou colchonete
                </td>
                <td>
                    <select class="form-control" asp-for="tipo_colchao">
                        @if(Model != null && Model.tipo_colchao != null)
                        {
                            <option selected> @Model.tipo_colchao </option>
                        }
                        <option> --- </option>
                        <option> Sim </option>
                        <option> Não </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Nota:  O  tipo  do  produto,  indicando  se  “COLHÃO  DE  ESPUMA”  ou  se  “COLCHÃO  BOX CONJUGADO”,
                    “COLCHÃO  AUXILIAR”,    ou  se  “COLCHÃO  MISTO”  ou  “COLCHONETE”,  deverá constar  na  etiqueta  do  produto  em
                    letras não  inferiores  a  20  mm  de  altura,  em  negrito,
                    caixa alta e em coloração que se destaque da cor de fundo da etiqueta:
                </td>
                <td>
                    <select class="form-control" asp-for="letras">
                        @if(Model != null && Model.letras != null)
                        {
                            <option selected> @Model.letras </option>
                        }
                        <option> --- </option>
                        <option> Sim </option>
                        <option> Não </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td> Altura da letra </td>
                <td> <input class="form-control" type="text" asp-for="altura_letra_um" /> </td>
            </tr>
            <tr>
                <td> Está em negrito </td>
                <td>
                    <select class="form-control" asp-for="negrito_um">
                        @if(Model != null && Model.negrito_um != null)
                        {
                            <option selected> @Model.negrito_um </option>
                        }
                        <option> --- </option>
                        <option> Sim </option>
                        <option> Não </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td> Está em caixa alta </td>
                <td>
                    <select class="form-control" asp-for="caixa_alta_um">
                        @if(Model != null && Model.caixa_alta_um != null)
                        {
                            <option selected> @Model.caixa_alta_um </option>
                        }
                        <option> --- </option>
                        <option> Sim </option>
                        <option> Não </option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>
                    Está em coloração que se destaque da cor do fundo da etiqueta.
                </td>
                <td>
                    <select class="form-control" asp-for="coloracao_um">
                        @if(Model != null && Model.coloracao_um != null)
                        {
                            <option selected> @Model.coloracao_um </option>
                        }
                        <option> --- </option>
                        <option> Sim </option>
                        <option> Não </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    e) Classificação do produto: simples ou composto:
                </td>
                <td>
                    <select class="form-control" asp-for="classificacao">
                        @if(Model != null && Model.classificacao != null)
                        {
                            <option selected> @Model.classificacao </option>
                        }
                        <option> --- </option>
                        <option> Sim </option>
                        <option> Não </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    f) Uso: geral, infantil ou hospitalar:
                </td>
                <td>
                    <select class="form-control" asp-for="uso">
                        @if(Model != null && Model.uso != null)
                        {
                            <option selected> @Model.uso </option>
                        }
                        <option> --- </option>
                        <option> Sim </option>
                        <option> Não </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    g) Composição qualitativa dos componentes internos do colchão:
                </td>
                <td>
                    <select class="form-control" asp-for="composicao">
                        @if(Model != null && Model.composicao != null)
                        {
                            <option selected> @Model.composicao </option>
                        }
                        <option> --- </option>
                        <option> Sim </option>
                        <option> Não </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    h) Tipo(s) de espuma(s) utilizada(s), exceto a do revestimento:
                </td>
                <td>
                    <select class="form-control" asp-for="tipo_espuma">
                        @if(Model != null && Model.tipo_espuma != null)
                        {
                            <option selected> @Model.tipo_espuma </option>
                        }
                        <option> --- </option>
                        <option> Sim </option>
                        <option> Não </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    i) Densidade(s) nominal(is) da(s) lâmina(s) de espuma utilizada(s), em kg/m3 e,
                    para o caso de colchão composto e/ou misto, suas respectivas espessuras
                </td>
                <td>
                    <select class="form-control" asp-for="densidade_nominal">
                        @if(Model != null && Model.densidade_nominal != null)
                        {
                            <option selected> @Model.densidade_nominal </option>
                        }
                        <option> --- </option>
                        <option> Sim </option>
                        <option> Não </option>
                    </select>
                </td>
            </tr>
            @if (ViewBag.tipLamina == "Colchão misto")
            {
                <tr>
                    <td>
                        j) Espessura da madeira/compensado/chapa dura/ou outro material com funções similares,
                        incluindo identificação inequívoca destes materiais, para o caso de colchão misto;
                    </td>
                    <td>
                        <select class="form-control" asp-for="espessura_mad">
                            @if(Model != null && Model.espessura_mad != null)
                            {
                                <option selected> @Model.espessura_mad </option>
                            }
                            <option> --- </option>
                            <option> Sim </option>
                            <option> Não </option>
                        </select>
                    </td>
                </tr>
            }
            <tr>
                <td>
                    k) Composição do revestimento: tecido (composição percentual); espuma (densidade) e outros materiais <br /> <br />
                </td>
                <td>
                    <select class="form-control" asp-for="comp_revestimento">
                        @if(Model != null && Model.comp_revestimento != null)
                        {
                            <option selected> @Model.comp_revestimento </option>
                        }
                        <option> --- </option>
                        <option> Sim </option>
                        <option> Não </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    l) Data de fabricação (dia, mês e ano, nesta ordem);
                </td>
                <td>
                    <select class="form-control" asp-for="data_fabricacao">
                        @if(Model != null && Model.data_fabricacao != null)
                        {
                            <option selected> @Model.data_fabricacao </option>
                        }
                        <option> --- </option>
                        <option> Sim </option>
                        <option> Não </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    m) País de fabricação;
                </td>
                <td>
                    <select class="form-control" asp-for="pais_fabricacao">
                        @if(Model != null && Model.pais_fabricacao != null)
                        {
                            <option selected> @Model.pais_fabricacao </option>
                        }
                        <option> --- </option>
                        <option> Sim </option>
                        <option> Não </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    n) Cuidados mínimos para conservação do produto;
                </td>
                <td>
                    <select class="form-control" asp-for="cuidados">
                        @if(Model != null && Model.cuidados != null)
                        {
                            <option selected> @Model.cuidados </option>
                        }
                        <option> --- </option>
                        <option> Sim </option>
                        <option> Não </option>
                    </select>
                </td>
            </tr>
            @if (ViewBag.outrosMateriais == "Lâmina Rabatan" || ViewBag.outrosMateriais == "Elementos magnéticos" || ViewBag.outrosMateriais == "Infravermelho" || ViewBag.outrosMateriais == "Massageadores" || ViewBag.outrosMateriais == "---")
            {
                <tr>
                    <td>
                        o) Aviso de atenção, para os colchões mistos constituídos por materiais distintos da espuma de poliuretano
                        (como  elementos  magnéticos,  massageadores,  tipo  rabatan,  infravermelho,  entre outros,  exceto  chapa  dura)
                        da  seguinte  forma:  “ATENÇÃO:  O  SELO  DE IDENTIFICAÇÃO DA CONFORMIDADE  DO  INMETRO  REFERE-SE  SOMENTE  ÀS  AVALIAÇÕES  DA  ESPUMA  FLEXÍVEL  DE POLIURETANO,
                        DO REVESTIMENTO  e  DA  CHAPA  DURA.  AS  DEMAIS  PROPRIEDADES  E  MATERIAIS DECLARADOS PELO FABRICANTE  NÃO FORAM AVALIADOS.";
                    </td>
                    <td>
                        <select class="form-control" asp-for="aviso_um">
                            @if(Model != null && Model.aviso_um != null)
                            {
                                <option selected> @Model.aviso_um </option>
                            }
                            <option> --- </option>
                            <option> Sim </option>
                            <option> Não </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Nota:  O  aviso  de  atenção  deve  ser  apresentado  em  letras  não  inferiores  a  3  mm  de  altura,
                        em negrito, caixa alta e em coloração que se destaque da cor de fundo da etiqueta.
                    </td>
                </tr>
                <tr>
                    <td>Altura da letra</td>
                    <td> <input class="form-control" type="text" asp-for="altura_letra_dois" /> </td>
                </tr>
                <tr>
                    <td> Está em negrito </td>
                    <td>
                        <select class="form-control" asp-for="negrito_dois">
                            @if(Model != null && Model.negrito_dois != null)
                            {
                                <option selected> @Model.negrito_dois </option>
                            }
                            <option> --- </option>
                            <option> Sim </option>
                            <option> Não </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td> Está em caixa alta </td>
                    <td>
                        <select class="form-control" asp-for="caixa_alta_dois">
                            @if(Model != null && Model.caixa_alta_dois != null)
                            {
                                <option selected> @Model.caixa_alta_dois </option>
                            }
                            <option> --- </option>
                            <option> Sim </option>
                            <option> Não </option>
                        </select>
                    </td>
                </tr>
            }
            @if (ViewBag.outrosMateriais == "Lâmina  Latex" || ViewBag.outrosMateriais == "Lâmina Rabatan" || ViewBag.outrosMateriais == "Etil vinil acetato(EVA)")
            {
                <tr>
                    <td>
                        p) Aviso de esclarecimento, para os colchões que possuam uma ou mais lâminas constituídas por látex, tipo rabatan ou etil vinil acetato (EVA) da seguinte forma:
                        “A lâmina de látex não foi avaliada pelo  processo  de  certificação  do  produto.”;  ou  “A  lâmina  tipo  rabatan  não  foi  avaliada  pelo processo  de  certificação  do
                        produto.”;  ou  “A  lâmina  de  EVA  não  foi  avaliada  pelo  processo  de certificação do produto;
                    </td>
                    <td>
                        <select class="form-control" asp-for="esclarecimento_um">
                            @if (Model != null && Model.esclarecimento_um != null)
                            {
                                <option selected> @Model.esclarecimento_um </option>
                            }
                            <option> --- </option>
                            <option> Sim </option>
                            <option> Não </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        Nota: O aviso de esclarecimento deve ser em negrito, em letras com o mesmo formato e tamanho da utilizada na descrição das lâminas
                    </td>
                </tr>
                <tr>
                    <td> Altura da letra </td>
                    <td> <input class="form-control" type="text" asp-for="altura_letra_tres" /> </td>
                </tr>
                <tr>
                    <td> Está em negrito </td>
                    <td>
                        <select class="form-control" asp-for="negrito_tres">
                            @if(Model != null && Model.negrito_tres != null)
                            {
                                <option selected> @Model.negrito_tres </option>
                            }
                            <option> --- </option>
                            <option> Sim </option>
                            <option> Não </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td> Está em caixa alta </td>
                    <td>
                        <select class="form-control" asp-for="caixa_alta_tres">
                            @if(Model != null && Model.caixa_alta_tres != null)
                            {
                                <option selected> @Model.caixa_alta_tres </option>
                            }
                            <option> --- </option>
                            <option> Sim </option>
                            <option> Não </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td> Está em coloração que se destaque da cor do fundo da etiqueta </td>
                    <td>
                        <select class="form-control" asp-for="coloracao_eti">
                            @if(Model != null && Model.coloracao_eti != null)
                            {
                                <option selected> @Model.coloracao_eti </option>
                            }
                            <option> --- </option>
                            <option> Sim </option>
                            <option> Não </option>
                        </select>
                    </td>
                </tr>
            }
            @if (ViewBag.outrosMateriais == "Couvin" || ViewBag.outrosMateriais == "Plástico" || ViewBag.outrosMateriais == "Napa")
            {
                <tr>
                    <td>
                        q) Aviso de esclarecimento, para os colchões e colchonetes que possuam revestimentos do tipo napa,  courvin,  plásticos  e  similares,  da  seguinte  forma:
                        “O  REVESTIMENTO  NÃO  FOI  AVALIADO PELO PROCESSO DE CERTIFICAÇÃO DO PRODUTO”.
                    </td>
                    <td>
                        <select class="form-control" asp-for="esclarecimento_dois">
                            @if(Model != null && Model.esclarecimento_dois != null)
                            {
                                <option selected> @Model.esclarecimento_dois </option>
                            }
                            <option> --- </option>
                            <option> Sim </option>
                            <option> Não </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        Nota - O aviso de esclarecimento deve ser apresentado em letras não inferiores a 3 mm de altura, em negrito,
                        caixa alta e em coloração que se destaque da cor de fundo da etiqueta.
                    </td>
                </tr>
                <tr>
                    <td> Altura da letra </td>
                    <td> <input class="form-control" type="text" asp-for="altura_letra_quat" /> </td>
                </tr>
                <tr>
                    <td> Está em negrito </td>
                    <td>
                        <select class="form-control" asp-for="negrito_quat">
                            @if(Model != null && Model.negrito_quat != null)
                            {
                                <option selected> @Model.negrito_quat </option>
                            }
                            <option> --- </option>
                            <option> Sim </option>
                            <option> Não </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td> Está em caixa alta </td>
                    <td>
                        <select class="form-control" asp-for="caixa_alta_quat">
                            @if(Model != null && Model.caixa_alta_quat != null)
                            {
                                <option selected> @Model.caixa_alta_quat </option>
                            }
                            <option> --- </option>
                            <option> Sim </option>
                            <option> Não </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td> Está em coloração que se destaque da cor do fundo da etiqueta </td>
                    <td>
                        <select class="form-control" asp-for="coloracao_quat">
                            @if(Model != null && Model.coloracao_quat != null)
                            {
                                <option selected> @Model.coloracao_quat </option>
                            }
                            <option> --- </option>
                            <option> Sim </option>
                            <option> Não </option>
                        </select>
                    </td>
                </tr>
            }
        </table>
        <br />
        <table class="tables table-bordered border-secondary  table-sm">
            <tr class="fundo-tabela">
                <td rowspan="2">Item</td>
                <td>Descrição</td>
                <td rowspan="2">Resultado</td>
            </tr>
            <tr>
                <td class="fundo-tabela"> Identificação </td>
            </tr>
            <tr>
                <td rowspan="20">2</td>
                <td>---</td>
                <td>---</td>
            </tr>
            @if (ViewBag.tipLamina == "Colchão infantil")
            {
                <tr>
                    <td>
                        2.11  Colchão infantil é aquele destinado, exclusivamente, para utilização em berços.
                    </td>
                    <td>
                        <select class="form-control" asp-for="colchao_infantil">
                            @if(Model != null && Model.colchao_infantil != null)
                            {
                                <option selected> @Model.colchao_infantil </option>
                            }
                            <option> --- </option>
                            <option> Sim </option>
                            <option> Não </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        2.11.1  A  embalagem  do  colchão  infantil  deve  apresentar  o  seguinte  aviso:
                        “ATENÇÃO:  DEVEM, OBRIGATORIAMENTE, SER OBSERVADAS AS RESTRIÇÕES QUANTO ÀS DIMENSÕES DESTE COLCHÃO CONSTANTES
                        NAS  INSTRUÇÕES  DE  USO  DO  BERÇO  EM  QUE  SERÁ  UTILIZADO.  AS  DIMENSÕES ESPECIFICADAS  PELO  FABRICANTE  DO  BERÇO
                        NÃO  PODEM  PERMITIR  A  FORMAÇÃO  DE  ESPAÇO MAIOR QUE 30,0 mm (3,0 cm) ENTRE AS LATERAIS OU EXTREMIDADES DO BERÇO E O COLCHÃO.”
                    </td>
                    <td>
                        <select class="form-control" asp-for="embalagem_colchao">
                            @if(Model != null && Model.embalagem_colchao != null)
                            {
                                <option selected> @Model.embalagem_colchao </option>
                            }
                            <option> --- </option>
                            <option> Sim </option>
                            <option> Não </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        2.11.2  O  aviso  na  embalagem  deve  ser  apresentado  em  letras  não  inferiores  a  20  mm
                        de  altura, em negrito, caixa alta e em coloração que se destaque da cor de fundo da embalagem
                    </td>
                    <td>
                        <select class="form-control" asp-for="aviso_embalagem_um">
                            @if(Model != null && Model.aviso_embalagem_um != null)
                            {
                                <option selected> @Model.aviso_embalagem_um </option>
                            }
                            <option> --- </option>
                            <option> Sim </option>
                            <option> Não </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td> Altura da letra </td>
                    <td> <input class="form-control" type="text" asp-for="altura_letra_cinco" /> </td>
                </tr>
                <tr>
                    <td> Está em negrito </td>
                    <td>
                        <select class="form-control" asp-for="negrito_cinco">
                            @if(Model != null && Model.negrito_cinco != null)
                            {
                                <option selected> @Model.negrito_cinco </option>
                            }
                            <option> --- </option>
                            <option> Sim </option>
                            <option> Não </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td> Está em caixa alta </td>
                    <td>
                        <select class="form-control" asp-for="caixa_alta_cinco">
                            @if(Model != null && Model.caixa_alta_cinco != null)
                            {
                                <option selected> @Model.caixa_alta_cinco </option>
                            }
                            <option> --- </option>
                            <option> Sim </option>
                            <option> Não </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td> Está em coloração que se destaque da cor do fundo da etiqueta </td>
                    <td>
                        <select class="form-control" asp-for="coloracao_cinco">
                            @if(Model != null && Model.coloracao_cinco != null)
                            {
                                <option selected> @Model.coloracao_cinco </option>
                            }
                            <option> --- </option>
                            <option> Sim </option>
                            <option> Não </option>
                        </select>
                    </td>
                </tr>
            }
            <tr>
                <td>
                    2.12  Para  os  colchões  e  colchonetes  que  apresentem  resíduos  das  matérias  primas  ou  adesivos, não  nocivos,  entretanto  com  odor  característico
                    persistente,  a  embalagem  deve  apresentar  o seguinte aviso:  “ATENÇÃO: ESTE PRODUTO PERMANECEU EM LOCAL AREJADO PARA DISSIPAÇÃO DOS VAPORES VOLÁTEIS,
                    ANTES DE SER EMBALADO. AINDA ASSIM, RECOMENDA-SE QUE DESEMBALE O PRODUTO E DEIXE-O POR (X HORAS) EM LOCAL AREJADO, ANTES DO USO".
                </td>
                <td>
                    <select class="form-control" asp-for="aviso_odor" id="avisoOdor">
                        @if(Model != null && Model.aviso_odor != null)
                        {
                            <option selected> @Model.aviso_odor </option>
                        }
                        <option> --- </option>
                        <option> Sim </option>
                        <option> Não </option>
                        <option> NA </option>
                    </select>
                </td>
            </tr>
            <tr id="avisoOdor2">
                <td>
                    2.12.1  O  aviso  na  embalagem  deve  ser  apresentado  em  letras  não  inferiores  a  20  mm  de  altura,
                    em negrito, caixa alta e em coloração que se destaque da cor de fundo da embalagem
                </td>
                <td>
                    <select class="form-control" asp-for="aviso_embalagem_dois">
                        @if(Model != null && Model.aviso_embalagem_dois != null)
                        {
                            <option selected> @Model.aviso_embalagem_dois </option>
                        }
                        <option>---</option>
                        <option>NA</option>
                        <option> Sim </option>
                        <option> Não </option>
                    </select>
                </td>
            </tr>
            <tr id="alturaOdor">
                <td> Altura da letra </td>
                <td> <input class="form-control" type="text" asp-for="altura_letra_seis" /> </td>
            </tr>
            <tr id="odorNegrito">
                <td> Está em negrito </td>
                <td>
                    <select class="form-control" asp-for="negrito_seis">
                        @if(Model != null && Model.negrito_seis != null)
                        {
                            <option selected> @Model.negrito_seis </option>
                        }
                        <option> --- </option>
                        <option> Sim </option>
                        <option> Não </option>
                    </select>
                </td>
            </tr>
            <tr id="odorCaixa">
                <td> Está em caixa alta </td>
                <td>
                    <select class="form-control" asp-for="caixa_alta_seis">
                        @if(Model != null && Model.caixa_alta_seis != null)
                        {
                            <option selected> @Model.caixa_alta_seis </option>
                        }
                        <option> --- </option>
                        <option> Sim </option>
                        <option> Não </option>
                    </select>
                </td>
            </tr>
            <tr id="odorColoracao">
                <td>
                    Está em coloração que se destaque da cor do fundo da etiqueta:
                </td>
                <td>
                    <select class="form-control" asp-for="coloracao_seis">
                        @if(Model != null && Model.coloracao_seis != null)
                        {
                            <option selected> @Model.coloracao_seis </option>
                        }
                        <option> --- </option>
                        <option> Sim </option>
                        <option> Não </option>
                    </select>
                </td>
            </tr>
            @if (ViewBag.tipLamina == "Colchão misto")
            {
                <tr>
                    <td>
                        2.13  No  caso  de  declaração  voluntária  do fornecedor  sobre  funcionalidades  dos  colchões  mistos,
                        as instruções de uso ou de informações ao usuário (manual do produto) devem incluir o seguinte texto:
                        “As  características  sobre  as  funcionalidades  descritas  a  seguir  não  foram  avaliadas  pelo processo de certificação do produto.”<br /> <br />
                    </td>
                    <td>
                        <select class="form-control" asp-for="dec_voluntaria">
                            @if(Model != null && Model.dec_voluntaria != null)
                            {
                                <option selected> @Model.dec_voluntaria </option>
                            }
                            <option> --- </option>
                            <option> Sim </option>
                            <option> Não </option>
                            <option>NA</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        2.13.1 O texto deve ser em negrito, com o mesmo formato e tamanho de letra da utilizada ndescrição
                        e em todos os locais onde se descrevam tais funcionalidades.
                    </td>
                    <td>
                        <select class="form-control" asp-for="texto_negrito">
                            @if(Model != null && Model.texto_negrito != null)
                            {
                                <option selected> @Model.texto_negrito </option>
                            }
                            <option> --- </option>
                            <option> Sim </option>
                            <option> Não </option>
                        </select>
                    </td>
                </tr>
            }
            <tr>
                <td>
                    2.14 Não  é  permitida  a  identificação  de  qualquer  família,  marca,  modelo  ou  nome  de  colchão ou colchonete,
                    da utilização de quaisquer termos e características diferentes dos de sua constituição real.
                </td>
                <td>
                    <select class="form-control" asp-for="identificacao">
                        @if(Model != null && Model.identificacao != null)
                        {
                            <option selected> @Model.identificacao </option>
                        }
                        <option> --- </option>
                        <option> Sim </option>
                        <option> Não </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    2.14.1 É proibido identificar qualquer família, marca, modelo ou nome de colchão ou colchonete  com  numeral  cardinal  e/ou  ordinal,
                    acompanhado  ou  não  da  letra  “D”,  divergente da(s)  densidade(s)  nominal(is)  apresentada(s)  pela(s)  lâmina(s)  de  espuma(s)
                    que  constitui(em)  o colchão  ou  colchonete,  exceto  quando  o  numeral  apresentar  mais  que  4  (dígitos),
                    evitando qualquer  confusão  quanto  à  densidade  do  colchão,  ou  ao  atendimento  a  normas  de  gestão consagradas.
                </td>
                <td>
                    <select class="form-control" asp-for="identificacao_dois">
                        @if(Model != null && Model.identificacao_dois != null)
                        {
                            <option selected> @Model.identificacao_dois </option>
                        }
                        <option> --- </option>
                        <option> Sim </option>
                        <option> Não </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    3.2.1 O colchão deve ser revestido em plástico ou material têxtil plastificado, com costuras soldadas totalmente impermeáveis, com ou sem zíper, e com ilhós de respiro para espuma.
                </td>
                <td>
                    <select class="form-control" asp-for="conforme_3_2_1">
                        @if(Model != null && Model.conforme_3_2_1 != null)
                        {
                            <option selected> @Model.conforme_3_2_1 </option>
                        }
                        <option> --- </option>
                        <option> Sim </option>
                        <option> Não </option>
                        <option>NA</option>
                    </select>
                </td>
            </tr>
        </table>

        @if (ViewBag.tipLamina == "Colchão misto" || ViewBag.tipLamina == "Composto")
        {
            <table class="tables table-bordered border-secondary  table-sm">
                <tr class="fundo-tabela">
                    <td>Item</td>
                    <td>Descrição</td>
                    <td>Resultado</td>
                </tr>
                <tr>
                    <td>
                        2.14.2 O requisito estabelecido no subitem anterior aplica-se, também, aos colchões compostos  e/ou  mistos,
                        cujo  conjunto  de  lâminas  e  estrutura  podem  apresentar  características equivalentes  a  um  colchão  simples  com  densidade  nominal  superior.
                        Nestes  casos,  todas  as lâminas  de  espuma  devem  ter  suas  densidades  nominais  e  espessuras  devidamente  descritas, individualmente,
                        na  etiqueta  do  colchão,  não  sendo  possível,  na  designação  do  produto,  dar destaque à densidade específica de uma determinada lâmina.
                    </td>
                    <td>
                        <select class="form-control" asp-for="desc_lamina">
                            @if(Model != null && Model.desc_lamina != null)
                            {
                                <option selected> @Model.desc_lamina </option>
                            }
                            <option> --- </option>
                            <option> Sim </option>
                            <option> Não </option>
                        </select>
                    </td>
                </tr>
            </table>
        }
        @if (ViewBag.outrosMateriais == "Lâmina  Latex")
        {
            <table class="tables table-bordered border-secondary  table-sm">
                <tr class="fundo-tabela">
                    <td>Descrição</td>
                    <td>Resultado</td>
                </tr>
                <tr>
                    <td>
                        2.14.3 É  proibido  utilizar  de  nomenclatura  com  o  termo  “látex”  para  identificar  qualquer família, marca,
                        modelo ou nome de colchão ou colchonete quando o produto não for constituído integralmente de látex ou sua composição for inferior a 70% de látex.
                    </td>
                    <td>
                        <select class="form-control" asp-for="latex">
                            @if(Model != null && Model.latex != null)
                            {
                                <option selected> @Model.latex </option>
                            }
                            <option> --- </option>
                            <option> Sim </option>
                            <option> Não </option>
                        </select>
                    </td>
                </tr>
            </table>
        }
        <br />
        <table class="tables table-bordered border-secondary  table-sm">
            <tr>
                <td>Item</td>
                <td class="fundo-tabela"> Embalagem</td>
                <td class="fundo-tabela">Resultado</td>
            </tr>
            <tr>
                <td rowspan="12">6.2</td>
                <td>
                    A embalagem deve ser unitária e  garantir a proteçao do produto.
                    A embalagem é unitária
                </td>
                <td>
                    <select class="form-control" asp-for="embalagem_uni">
                        @if(Model != null && Model.embalagem_uni != null)
                        {
                            <option selected> @Model.embalagem_uni </option>
                        }
                        <option> --- </option>
                        <option> Sim </option>
                        <option> Não </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    A embalagem garante a proteção do produto
                </td>
                <td>
                    <select class="form-control" asp-for="embalagem_protecao">
                        @if(Model != null && Model.embalagem_protecao != null)
                        {
                            <option selected> @Model.embalagem_protecao </option>
                        }
                        <option> --- </option>
                        <option> Sim </option>
                        <option> Não </option>
                    </select>
                </td>
            </tr>
        </table>

        @if(Model == null)
        {
            <br />
            <div class="d-grid gap-2 d-flex justify-content-center">
                <button type="submit" class="btn btn-success btn btn-primary btn-md">Salvar</button>
            </div>
            <br />
        }
        @if(Model != null)
        {
            <br />
            <div class="d-grid gap-2 d-flex justify-content-center">
                <button type="submit" class="btn btn-success btn btn-primary btn-md">Editar</button>
            </div>
            <br />
        }
        @if(ViewBag.bloqueada == "Sim")
        {
            <br />
            <div class="d-flex justify-content-center">
                <div class="alert alert-danger w-50 p-3 m-3 text-center" role="alert">
                    Coleta Bloqueada!
                </div>
            </div>
            <br />
        }
    </form>
</body>
</html>

@if (TempData.ContainsKey("Mensagem"))
{
    <script>
        alert('@Html.Raw(TempData["Mensagem"])');

    </script>
}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var verificarConformidade = document.querySelector('select[id="avisoOdor"]');
        var avisoOdor2 = document.getElementById("avisoOdor2");
        var alturaOdor = document.getElementById("alturaOdor");
        var negritoOdor = document.getElementById("odorNegrito");
        var odorCaixa = document.getElementById("odorCaixa");
        var odorColoracao = document.getElementById("odorColoracao");

        function atualizarInputs() {
            var valorSelecionado = verificarConformidade.value;
            if (valorSelecionado === "NA") {
                avisoOdor2.style.display = 'none';
                alturaOdor.style.display = 'none';
                negritoOdor.style.display = 'none';
                odorCaixa.style.display = 'none';
                odorColoracao.style.display = 'none';
            } else {
                avisoOdor2.style.display = 'table-row';
                alturaOdor.style.display = 'table-row';
                negritoOdor.style.display = 'table-row';
                odorCaixa.style.display = 'table-row';
                odorColoracao.style.display = 'table-row';
            }
        }

        atualizarInputs();
        verificarConformidade.addEventListener('change', atualizarInputs);
    });

    document.addEventListener("keydown", function (e) {
        if (e.keyCode === 13) {

            e.preventDefault();

        }
    });
</script>