@model ColetaModel.RegistroLamina;
@{
    ViewData["Title"] = "Index Lamina";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/coleta.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .full-height {
            min-height: 80vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-bottom: 2px solid rgba(255,255,255, 0.1);
            align-items: center;
        }

        .hidden {
            opacity: 0;
            filter: blur(15px);
            transform: translateX(-100%);
            transition: all 0.2s;
        }

        .show {
            opacity: 1;
            filter: blur(0);
            transform: translateX(0);
            transition: all 0.5s;
        }

        .sessaodois {
            display: none;
        }

        .estilo-select {
            background-color: #F0F0F0;
            border: 1px solid #CCCCCC;
            padding: 5px;
            border-radius: 5px;
        }

        .densidade_1, .densidade_2, .densidade_3, .densidade_4, .densidade_5 {
            display: none;
        }

        body {
            padding: 0px;
            margin: 0;
            background-color: #fafafa;
        }
    </style>
</head>
<body>
    <form method="post" asp-controller="Coleta" asp-action="editarLamina" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento">
        <div class="full-height text-center">
            <table class="tables table-bordered border-secondary  table-sm">
                <tr>
                    <td colspan="5" class="fundo-tabela">
                        <h1>
                            Informações Iniciais
                        </h1>
                    </td>
                </tr>
                <tr>
                    <td> Orçamento : </td>
                    <td colspan="4"> <input class="form-control" type="text" value="@ViewBag.orcamento" readonly name="orcamento" /> </td>
                </tr>
                <tr>
                    <td> Ordem de serviço : </td>
                    <td colspan="4"> <input class="form-control" type="text" value="@ViewBag.os" readonly name="os" /> </td>
                </tr>
                <tr>
                    <td> Contém Lacre : </td>
                    <td>
                        <select class="form-control" asp-for="lacre">
                            <option value="Sim">Sim</option>
                            <option value="Não">Não</option>
                        </select>
                    </td>
                    <td> Local da realização dos ensaios : </td>
                    <td colspan="2"> <input class="form-control" type="text" asp-for="realizacao_ensaios" value="Labsystem" readonly /> </td>
                </tr>
                <tr>
                    <td> Quantidade recebida : </td>
                    <td> <input class="form-control" type="text" asp-for="quant_recebida" /> </td>
                    <td> Quantidade Ensaiada :  </td>
                    <td colspan="2"> <input class="form-control" type="text" asp-for="quant_ensaiada" /> </td>
                </tr>
                <tr>
                    <td> Data de realização dos ensaios: </td>
                    <td> Ínicio: </td>
                    <td> <input class="form-control" type="text" asp-for="data_realizacao_ini" /> </td>
                    <td> Término :  </td>
                    <td> <input class="form-control" type="text" asp-for="data_realizacao_term" /> </td>
                </tr>
            </table>

            <table class="tables table-bordered border-secondary  table-sm">
                <tr>
                    <td> Número de processo </td>
                    <td> <input class="form-control" type="text" asp-for="num_proc" /> </td>
                    <td> Código de referência </td>
                    <td> <input class="form-control" type="text" asp-for="cod_ref" /> </td>
                </tr>
                <tr>
                    <td> Tipo de certificação </td>
                    <td colspan="2"> Modelo de certificação </td>
                    <td> Tipo de processo: </td>
                </tr>
                <tr>
                    <td> <input class="form-control" type="text" asp-for="tipo_cert" /> </td>
                    <td colspan="2"> <input class="form-control" type="text" asp-for="modelo_cert" /> </td>
                    <td> <input class="form-control" type="text" asp-for="tipo_proc" /> </td>
                </tr>
                <tr>
                    <td>
                        Ensaio de Resiliência
                    </td>
                    <td colspan="3"><input class="form-control" type="text" asp-for="Ensaio_resiliencia" /> </td>
                </tr>
                <tr>
                    <td>
                        Ensaio de D.P.C.
                    </td>
                    <td colspan="3"><input class="form-control" type="text" asp-for="Ensaio_DPC" /> </td>
                </tr>
                <tr>
                    <td>
                        Ensaio de F.I.
                    </td>
                    <td colspan="3"><input class="form-control" type="text" asp-for="Ensaio_FI" /> </td>
                </tr>
                <tr class="">
                    <td>
                        Ensaio de F.C.
                    </td>
                    <td colspan="3"><input class="form-control" type="text" asp-for="Ensaio_FC" /> </td>
                </tr>
                <tr class="">
                    <td>
                        Ensaio de Fadiga
                    </td>
                    <td colspan="3"><input class="form-control" type="text" asp-for="Ensaio_fadiga" /> </td>
                </tr>
                <tr class="">
                    <td>
                        Ensaio de Pós fadiga
                    </td>
                    <td colspan="3">
                        <input class="form-control" type="text" asp-for="Ensaio_pos_fadiga"/> </td>
                </tr>
                <tr class=" ">
                    <td>
                        Ensaio de
                        Teor de cinzas
                    </td>
                    <td colspan="3"><input class="form-control" type="text"  asp-for="Ensaio_teor" /> </td>
                </tr>
                <tr class=" ">
                    <td>
                        Ensaio de Determinação de Densidade
                    </td>
                    <td colspan="3"><input class="form-control" type="text" asp-for="Ensaio_Densidade" /> </td>
                </tr>
            </table>
            <tr>
                <td>
                    <button type="submit" class="btn btn-success"> Salvar Informações</button>
                </td>
            </tr>
        </div>
    </form>
    @if (TempData.ContainsKey("Mensagem"))
    {
    <script>
        alert('@Html.Raw(TempData["Mensagem"])');
    </script>
    }
</body>
</html>
