@model ColetaModel.LaminaFadigaRotativa
@{
    Layout = null;
}
@{
    ViewData["Title"] = "Ensaio Lamina Fadiga Dinâmica";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/coleta.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>FADIGA DINÂMICA</title>
    <style>
        /*    .controlador-conforme {                                                                                                                                                                                                                    } */
        input {
            text-align: center;
        }
    </style>
</head>
<body>
    <form asp-controller="Coleta" asp-action="SalvarLaminaFadiga" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento" asp-route-rev="@ViewBag.rev">
        <table class="tables table-bordered border-secondary  table-sm">
            <thead>
                <tr>
                    <td><img src="https://www.labsystem-nuvem.com.br/imagens_arq/imagens/img/LabSystem.png" class="imagem" /></td>
                    <td colspan="3" class="fundo-tabela">Coleta De Dados Lamina Fadiga Dinâmica</td>
                    <td class="fundo-tabela">N Os:</td>
                </tr>
                <tr>
                    <td colspan="4">Ensaios de Colchão de Espuma (Portaria Inmetro 35)</td>
                    <td rowspan="3"> @ViewBag.os</td>
                </tr>
                @if (Model == null)
                {
                    <tr>
                        <td>Inicio:</td>
                        <td><input class="form-control" type="date" asp-for="data_ini" /></td>
                        <td>Termino:</td>
                        <td><input class="form-control" type="date" asp-for="data_term" /></td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>Inicio:</td>
                        <td><input class="form-control" type="text" asp-for="data_ini" /></td>
                        <td>Termino:</td>
                        <td><input class="form-control" type="text" asp-for="data_term" /></td>
                    </tr>
                }
                <tr>
                    <td>Executor do ensaio:</td>
                    <td><input class="form-control" asp-for="executor" /></td>
                    <td>Responsável pela conferência:</td>
                    <td>
                        <select class="form-control" asp-for="editarUsuario" asp-items="(List<SelectListItem>)@ViewBag.listaResponsaveis">
                        </select>
                    </td>
                </tr>
            </thead>
        </table>
        <br />
        <table class="tables table-bordered border-secondary  table-sm">
            <tr class="fundo-tabela">
                <td>Item</td>
                <td>Descrição</td>
                <td>Resultado</td>
            </tr>
            <tr>
                <td rowspan="30"></td>
                <td>
                    <b>Determinação da Fadiga Dinâmica</b>
                </td>
                @if (Model == null)
                {
                    <td rowspan="40"></td>
                }
                else
                {
                    <td rowspan="40">@Model.conforme</td>
                }
            </tr>

            <tr>
                <td>
                    Separar 3 corpos de prova e realizar as medições das seguintes dimesões: (Largura 380 ±10mm x comprimento 380±10mm x altura 50±2mm).
                </td>
            </tr>
            <tr>
                <td>
                    <table class="tables table-bordered border-secondary  table-sm">

                        <tr class="fundo-tabela">
                            <td colspan="10">
                                - Temperatura da execução do ensaio  (23 ± 2) °C, sem necessidade de controle de umidade.
                            </td>
                        </tr>
                        <tr class="fundo-tabela">
                            <td colspan="2">Data do acondicionamento</td>
                            <td colspan="2">Horario do acondicionamento</td>
                            <td colspan="2">Temperatura encontrada</td>
                            <td colspan="2">IM</td>
                        </tr>
                        <tr>
                            <td>Inicio:</td>
                            @if (Model == null)
                            {
                                <td><input asp-for="acond_inicio" class="form-control" type="date" /></td>
                            }
                            else
                            {
                                <td><input asp-for="acond_inicio" class="form-control" type="text" /></td>
                            }
                            <td>Inicio:</td>
                            <td><input asp-for="hora_inicio" class="form-control" type="time" /></td>
                            <td>Min:</td>
                            <td><input asp-for="temp_inicio" class="form-control" /></td>

                            <td rowspan="2"><input asp-for="im" class="form-control" style="height:80px; " /></td>
                        </tr>
                        <tr>

                            <td>Final:</td>
                            @if (Model == null)
                            {
                                <td><input asp-for="acond_final" class="form-control" type="date" /></td>
                            }
                            else
                            {
                                <td><input asp-for="acond_final" class="form-control" type="text" /></td>
                            }
                            <td>Final:</td>
                            <td><input asp-for="hora_final" class="form-control" type="time" /></td>
                            <td>Max:</td>
                            <td><input asp-for="temp_final" class="form-control" /></td>

                        </tr>
                        <tr>
                            <td colspan="4">Responsavel</td>
                            <td colspan="5"><input asp-for="responsavel_cond" class="form-control" /></td>
                        </tr>
                    </table>
                    <br />
                    <table class="tables table-bordered border-secondary  table-sm">
                        <tr>
                            <td class="fundo-tabela">Densidade (kg/m³)</td>
                            <td><input type="text" class="form-control" asp-for="densidade" id="densidade" /></td>
                            <td class="fundo-tabela">Tipo Espuma</td>
                            <td colspan="3">
                                <select asp-for="tipo_espuma" class="form-control" id="tipo_espuma">
                                    <option value="Convencional">Convencional</option>
                                    <option value="Alta resiliência">Alta resiliência</option>
                                    <option value="Macia">Macia</option>
                                    <option value="Hipermacia">Hipermacia</option>
                                    <option value="Visco elástica">Visco elástica</option>
                                    <option value="Aglomerado">Aglomerado</option>
                                    <option value="Látex">Látex</option>
                                    <option value="Rabatan">Rabatan</option>
                                </select>
                            </td>
                        </tr>
                        <tr class="fundo-tabela">
                            <td rowspan="10">---</td>
                            <td> Amostra 1º</td>
                            <td> Amostra 2º</td>
                            <td> Amostra 3º</td>
                        </tr>
                        <tr class="fundo-tabela">
                            <td>Espessura Inicial (mm)</td>
                            <td>Espessura Inicial (mm)</td>
                            <td>Espessura Inicial (mm)</td>
                        </tr>
                        <tr>
                            @if (Model == null)
                            {
                                <td><input type="text" class="form-control" asp-for="esp_ini_amostra_um_um" value="@ViewBag.esp_ini_amostra_um_um" /></td>
                                <td><input type="text" class="form-control" asp-for="esp_ini_amostra_dois_um" value="@ViewBag.esp_ini_amostra_dois_um" /></td>
                                <td><input type="text" class="form-control" asp-for="esp_ini_amostra_tres_um" value="@ViewBag.esp_ini_amostra_tres_um" /></td>
                            }
                            else
                            {
                                <td><input type="text" class="form-control" asp-for="esp_ini_amostra_um_um" /></td>
                                <td><input type="text" class="form-control" asp-for="esp_ini_amostra_dois_um" /></td>
                                <td><input type="text" class="form-control" asp-for="esp_ini_amostra_tres_um" /></td>
                            }

                        </tr>
                        <tr>
                            @if (Model == null)
                            {
                                <td><input type="text" class="form-control" asp-for="esp_ini_amostra_um_dois" value="@ViewBag.esp_ini_amostra_um_dois" /></td>
                                <td><input type="text" class="form-control" asp-for="esp_ini_amostra_dois_dois" value="@ViewBag.esp_ini_amostra_dois_dois" /></td>
                                <td><input type="text" class="form-control" asp-for="esp_ini_amostra_tres_dois" value="@ViewBag.esp_ini_amostra_tres_dois" /></td>
                            }
                            else
                            {
                                <td><input type="text" class="form-control" asp-for="esp_ini_amostra_um_dois" /></td>
                                <td><input type="text" class="form-control" asp-for="esp_ini_amostra_dois_dois" /></td>
                                <td><input type="text" class="form-control" asp-for="esp_ini_amostra_tres_dois" /></td>
                            }

                        </tr>
                        <tr>
                            @if (Model == null)
                            {
                                <td><input type="text" class="form-control" asp-for="esp_ini_amostra_um_tres" value="@ViewBag.esp_ini_amostra_um_tres" /></td>
                                <td><input type="text" class="form-control" asp-for="esp_ini_amostra_dois_tres" value="@ViewBag.esp_ini_amostra_dois_tres" /></td>
                                <td><input type="text" class="form-control" asp-for="esp_ini_amostra_tres_tres" value="@ViewBag.esp_ini_amostra_tres_tres" /></td>
                            }
                            else
                            {
                                <td><input type="text" class="form-control" asp-for="esp_ini_amostra_um_tres" /></td>
                                <td><input type="text" class="form-control" asp-for="esp_ini_amostra_dois_tres" /></td>
                                <td><input type="text" class="form-control" asp-for="esp_ini_amostra_tres_tres" /></td>
                            }

                        </tr>
                        <tr>
                            @if (Model == null)
                            {
                                <td><input type="text" class="form-control" asp-for="esp_ini_amostra_um_quatro" value="@ViewBag.esp_ini_amostra_um_quatro" /></td>
                                <td><input type="text" class="form-control" asp-for="esp_ini_amostra_dois_quatro" value="@ViewBag.esp_ini_amostra_dois_quatro" /></td>
                                <td><input type="text" class="form-control" asp-for="esp_ini_amostra_tres_quatro" value="@ViewBag.esp_ini_amostra_tres_quatro" /></td>
                            }
                            else
                            {
                                <td><input type="text" class="form-control" asp-for="esp_ini_amostra_um_quatro" /></td>
                                <td><input type="text" class="form-control" asp-for="esp_ini_amostra_dois_quatro" /></td>
                                <td><input type="text" class="form-control" asp-for="esp_ini_amostra_tres_quatro" /></td>
                            }

                        </tr>
                        <tr>
                            @if (Model == null)
                            {
                                <td><input type="text" class="form-control" asp-for="esp_ini_amostra_um_cinco" value="@ViewBag.esp_ini_amostra_um_cinco" /></td>
                                <td><input type="text" class="form-control" asp-for="esp_ini_amostra_dois_cinco" value="@ViewBag.esp_ini_amostra_dois_cinco" /></td>
                                <td><input type="text" class="form-control" asp-for="esp_ini_amostra_tres_cinco" value="@ViewBag.esp_ini_amostra_tres_cinco" /></td>
                            }
                            else
                            {
                                <td><input type="text" class="form-control" asp-for="esp_ini_amostra_um_cinco" /></td>
                                <td><input type="text" class="form-control" asp-for="esp_ini_amostra_dois_cinco" /></td>
                                <td><input type="text" class="form-control" asp-for="esp_ini_amostra_tres_cinco" /></td>
                            }

                        </tr>
                        <tr>
                            @if (Model == null)
                            {
                                <td><input type="text" class="form-control" asp-for="esp_ini_amostra_um_seis" value="@ViewBag.esp_ini_amostra_um_seis" /></td>
                                <td><input type="text" class="form-control" asp-for="esp_ini_amostra_dois_seis" value="@ViewBag.esp_ini_amostra_dois_seis" /></td>
                                <td><input type="text" class="form-control" asp-for="esp_ini_amostra_tres_seis" value="@ViewBag.esp_ini_amostra_tres_seis" /></td>
                            }
                            else
                            {
                                <td><input type="text" class="form-control" asp-for="esp_ini_amostra_um_seis" /></td>
                                <td><input type="text" class="form-control" asp-for="esp_ini_amostra_dois_seis" /></td>
                                <td><input type="text" class="form-control" asp-for="esp_ini_amostra_tres_seis" /></td>
                            }

                        </tr>
                        <tr>
                            @if (Model == null)
                            {
                                <td><input type="text" class="form-control" asp-for="esp_ini_amostra_um_sete" value="@ViewBag.esp_ini_amostra_um_sete" /></td>
                                <td><input type="text" class="form-control" asp-for="esp_ini_amostra_dois_sete" value="@ViewBag.esp_ini_amostra_dois_sete" /></td>
                                <td><input type="text" class="form-control" asp-for="esp_ini_amostra_tres_sete" value="@ViewBag.esp_ini_amostra_tres_sete" /></td>
                            }
                            else
                            {
                                <td><input type="text" class="form-control" asp-for="esp_ini_amostra_um_sete" /></td>
                                <td><input type="text" class="form-control" asp-for="esp_ini_amostra_dois_sete" /></td>
                                <td><input type="text" class="form-control" asp-for="esp_ini_amostra_tres_sete" /></td>
                            }

                        </tr>
                        <tr>
                            @if (Model == null)
                            {
                                <td><input type="text" class="form-control" asp-for="esp_ini_amostra_um_oito" value="@ViewBag.esp_ini_amostra_um_oito" /></td>
                                <td><input type="text" class="form-control" asp-for="esp_ini_amostra_dois_oito" value="@ViewBag.esp_ini_amostra_dois_oito" /></td>
                                <td><input type="text" class="form-control" asp-for="esp_ini_amostra_tres_oito" value="@ViewBag.esp_ini_amostra_tres_oito" /></td>
                            }
                            else
                            {
                                <td><input type="text" class="form-control" asp-for="esp_ini_amostra_um_oito" /></td>
                                <td><input type="text" class="form-control" asp-for="esp_ini_amostra_dois_oito" /></td>
                                <td><input type="text" class="form-control" asp-for="esp_ini_amostra_tres_oito" /></td>
                            }

                        </tr>

                        <tr>
                            <td>Media:</td>
                            @if (Model == null)
                            {
                                <td><input type="text" class="form-control" readonly asp-for="esp_ini_media_um" value="@ViewBag.esp_media_um" /></td>
                                <td><input type="text" class="form-control" readonly asp-for="esp_ini_media_dois" value="@ViewBag.esp_media_dois" /></td>
                                <td><input type="text" class="form-control" readonly asp-for="esp_ini_media_tres" value="@ViewBag.esp_media_tres" /></td>
                            }
                            else
                            {
                                <td><input type="text" class="form-control" readonly asp-for="esp_ini_media_um" /></td>
                                <td><input type="text" class="form-control" readonly asp-for="esp_ini_media_dois" /></td>
                                <td><input type="text" class="form-control" readonly asp-for="esp_ini_media_tres" /></td>
                            }

                        </tr>
                    </table>
                    <table class="tables table-bordered border-secondary  table-sm">
                        <tr>
                            <td class="fundo-tabela">
                                Média da espessura - 1° Amostra (mm)
                            </td>
                            <td><input type="text" class="form-control" readonly asp-for="media_espessura_um" /></td>
                        </tr>
                        <tr>
                            <td class="fundo-tabela">
                                Média da espessura - 2° Amostra (mm)
                            </td>
                            <td><input type="text" class="form-control" readonly asp-for="media_espessura_dois" /></td>
                        </tr>
                        <tr>
                            <td class="fundo-tabela">
                                Média da espessura - 3° Amostra (mm)
                            </td>
                            <td><input type="text" class="form-control" readonly asp-for="media_espessura_tres" /></td>
                        </tr>
                        <tr>
                            <td class="fundo-tabela">Média da espessura</td>
                            <td><input type="text" class="form-control" readonly asp-for="media_espessura_total" /></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Após realizado as medições dos corpos de prova, verificar qual é o tipo de espuma.</b>
                </td>
            </tr>
            <tr>

                <td>
                    <div class="form-check">

                        <input class="form-check-input" type="checkbox" id="checkbox">
                        <label class="form-check-label" for="checkbox">
                            <b>Espuma aglomerado</b> - Fator De compressão (50 ± 5) %
                        </label>
                    </div>
                    <br />
                    <div class="form-check">

                        <input class="form-check-input" type="checkbox" id="checkbox2">
                        <label class="form-check-label" for="checkbox2">
                            <b>Espuma Flexivel</b> - Fator De compressão (70 ± 5) %
                        </label>
                    </div>

                </td>
            </tr>
            <tr>
                <td>Amosta 1: Quantidade De Ciclos aplicados:  <input type="text" class="controlador" style="width:100px;" asp-for="ciclos_um" value="80000" readonly /></td>
            </tr>
            <tr>
                <td>Amosta 2: Quantidade De Ciclos aplicados:  <input type="text" class="controlador" style="width:100px;" asp-for="ciclos_dois" value="80000" readonly /></td>
            </tr>
            <tr>
                <td>Amosta 3: Quantidade De Ciclos aplicados:  <input type="text" class="controlador" style="width:100px;" asp-for="ciclos_tres" value="80000" readonly /></td>

            </tr>
            <tr>
                <td>
                    Após o término do ensaio, Deve-se retirar o corpo de prova do aparelho, e deixá-lo em repouso a (23 ± 2) °C por no mínimo 10 min e no máximo 30 min.
                </td>
            </tr>
            <tr>
                <td>
                    <table class="tables table-bordered border-secondary  table-sm">
                        <tr class="fundo-tabela">
                            <td rowspan="10">---</td>
                            <td> Amostra 1º</td>
                            <td> Amostra 2º</td>
                            <td> Amostra 3º</td>
                        </tr>
                        <tr class="fundo-tabela">
                            <td>Espessura Final (mm)</td>
                            <td>Espessura Final (mm)</td>
                            <td>Espessura Final (mm)</td>
                        </tr>
                        <tr>
                            <td><input type="text" class="form-control" asp-for="esp_final_amostra_um_um" /></td>
                            <td><input type="text" class="form-control" asp-for="esp_final_amostra_dois_um" /></td>
                            <td><input type="text" class="form-control" asp-for="esp_final_amostra_tres_um" /></td>
                        </tr>
                        <tr>
                            <td><input type="text" class="form-control" asp-for="esp_final_amostra_um_dois" /></td>
                            <td><input type="text" class="form-control" asp-for="esp_final_amostra_dois_dois" /></td>
                            <td><input type="text" class="form-control" asp-for="esp_final_amostra_tres_dois" /></td>
                        </tr>
                        <tr>
                            <td><input type="text" class="form-control" asp-for="esp_final_amostra_um_tres" /></td>
                            <td><input type="text" class="form-control" asp-for="esp_final_amostra_dois_tres" /></td>
                            <td><input type="text" class="form-control" asp-for="esp_final_amostra_tres_tres" /></td>
                        </tr>
                        <tr>
                            <td><input type="text" class="form-control" asp-for="esp_final_amostra_um_quatro" /></td>
                            <td><input type="text" class="form-control" asp-for="esp_final_amostra_dois_quatro" /></td>
                            <td><input type="text" class="form-control" asp-for="esp_final_amostra_tres_quatro" /></td>
                        </tr>
                        <tr>
                            <td><input type="text" class="form-control" asp-for="esp_final_amostra_um_cinco" /></td>
                            <td><input type="text" class="form-control" asp-for="esp_final_amostra_dois_cinco" /></td>
                            <td><input type="text" class="form-control" asp-for="esp_final_amostra_tres_cinco" /></td>
                        </tr>
                        <tr>
                            <td><input type="text" class="form-control" asp-for="esp_final_amostra_um_seis" /></td>
                            <td><input type="text" class="form-control" asp-for="esp_final_amostra_dois_seis" /></td>
                            <td><input type="text" class="form-control" asp-for="esp_final_amostra_tres_seis" /></td>
                        </tr>
                        <tr>
                            <td><input type="text" class="form-control" asp-for="esp_final_amostra_um_sete" /></td>
                            <td><input type="text" class="form-control" asp-for="esp_final_amostra_dois_sete" /></td>
                            <td><input type="text" class="form-control" asp-for="esp_final_amostra_tres_sete" /></td>
                        </tr>
                        <tr>
                            <td><input type="text" class="form-control" asp-for="esp_final_amostra_um_oito" /></td>
                            <td><input type="text" class="form-control" asp-for="esp_final_amostra_dois_oito" /></td>
                            <td><input type="text" class="form-control" asp-for="esp_final_amostra_tres_oito" /></td>
                        </tr>
                        <tr>
                            <td>Media:</td>
                            <td><input type="text" class="form-control" readonly asp-for="media_esp_fin_um" /></td>
                            <td><input type="text" class="form-control" readonly asp-for="media_esp_fin_dois" /></td>
                            <td><input type="text" class="form-control" readonly asp-for="media_esp_fin_tres" /></td>
                        </tr>
                        <tr>
                            <td>Tempo repouso (min):</td>
                            <td><input type="text" class="form-control" asp-for="tempo_rep_esp_um" /></td>
                            <td><input type="text" class="form-control" asp-for="tempo_rep_esp_dois" /></td>
                            <td><input type="text" class="form-control" asp-for="tempo_rep_esp_tres" /></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                @if (Model == null)
                {
                    <td>
                        Amostra 1:
                        P.E: <input type="text" class="controlador" style="width:100px;" asp-for="pe_um_um" readonly value="@ViewBag.media_espessura_um" /> - <input type="text" class="controlador" style="width:100px;" asp-for="pe_um_dois" readonly /> ÷ <input type="text" class="controlador" style="width:100px;" asp-for="pe_um_tres" value="@ViewBag.media_espessura_um" readonly /> x <input type="text" class="controlador" style="width:100px;" value="100" disabled />  = <input type="text" class="controlador" style="width:100px;" asp-for="pe_media_um" readonly />
                    </td>
                }
                else
                {
                    <td>
                        Amostra 1:
                        P.E: <input type="text" class="controlador" style="width:100px;" asp-for="pe_um_um" readonly /> - <input type="text" class="controlador" style="width:100px;" asp-for="pe_um_dois" readonly /> ÷ <input type="text" class="controlador" style="width:100px;" asp-for="pe_um_tres" /> x <input type="text" class="controlador" style="width:100px;" value="100" disabled />  = <input type="text" class="controlador" style="width:100px;" asp-for="pe_media_um" readonly />
                    </td>
                }

            </tr>
            <tr>
                @if (Model == null)
                {
                    <td>
                        Amostra 2:
                        P.E: <input type="text" class="controlador" style="width:100px;" asp-for="pe_dois_um" value="@ViewBag.media_espessura_dois" /> - <input type="text" class="controlador" style="width:100px;" asp-for="pe_dois_dois" readonly /> ÷ <input type="text" class="controlador" style="width:100px;" asp-for="pe_dois_tres" value="@ViewBag.media_espessura_dois" /> x <input type="text" class="controlador" style="width:100px;" value="100" disabled />  = <input type="text" class="controlador" style="width:100px;" asp-for="pe_media_dois" readonly />
                    </td>
                }
                else
                {
                    <td>
                        Amostra 2:
                        P.E: <input type="text" class="controlador" style="width:100px;" asp-for="pe_dois_um" /> - <input type="text" class="controlador" style="width:100px;" asp-for="pe_dois_dois" readonly /> ÷ <input type="text" class="controlador" style="width:100px;" asp-for="pe_dois_tres" /> x <input type="text" class="controlador" style="width:100px;" value="100" disabled />  = <input type="text" class="controlador" style="width:100px;" asp-for="pe_media_dois" readonly />
                    </td>
                }

            </tr>
            <tr>
                @if (Model == null)
                {
                    <td>
                        Amostra 3:
                        P.E: <input type="text" class="controlador" style="width:100px;" asp-for="pe_tres_um" value="@ViewBag.media_espessura_tres" /> - <input type="text" class="controlador" style="width:100px;" asp-for="pe_tres_dois" readonly /> ÷ <input type="text" class="controlador" style="width:100px;" asp-for="pe_tres_tres" value="@ViewBag.media_espessura_tres" /> x <input type="text" class="controlador" style="width:100px;" value="100" disabled />  = <input type="text" class="controlador" style="width:100px;" asp-for="pe_media_tres" readonly />
                    </td>
                }
                else
                {
                    <td>
                        Amostra 3:
                        P.E: <input type="text" class="controlador" style="width:100px;" asp-for="pe_tres_um" /> - <input type="text" class="controlador" style="width:100px;" asp-for="pe_tres_dois" readonly /> ÷ <input type="text" class="controlador" style="width:100px;" asp-for="pe_tres_tres" /> x <input type="text" class="controlador" style="width:100px;" value="100" disabled />  = <input type="text" class="controlador" style="width:100px;" asp-for="pe_media_tres" readonly />
                    </td>
                }

            </tr>
            <tr>
                <td> P.E especificada % <input id="tamanho" class="controlador" style="width:80px" id="tamanho" readonly asp-for="min_max" /> : <input type="text" class="controlador" asp-for="pe_especificado" id="especificado" readonly /></td>
            </tr>
            <tr>
                <td> P.E encontrada % <input type="text" class="controlador" disabled asp-for="pe_encontrado" /></td>
            </tr>
        </table>

        @if (Model == null)
        {
            <div class="d-grid gap-2 d-flex justify-content-center">
                <button type="submit" class="btn btn-success btn btn-primary btn-md">Salvar Dados</button>
            </div>
        }
        else
        {
            @if (ViewBag.bloqueada != "Sim")
            {
                <div class="d-grid gap-2 d-flex justify-content-center">
                    <button type="submit" class="btn btn-success btn btn-primary btn-md">Editar Dados</button>
                </div>
            }
            else
            {
                <div class="d-flex justify-content-center">
                    <div class="alert alert-danger w-50 p-3 m-3 text-center" role="alert">
                        Coleta Bloqueada!
                    </div>
                </div>
            }
        }
    </form>
    <br />
    <br />
    <br />
    <br />
    <footer class="d-flex justify-content-center align-items-center border-top bg-white py-3 fixed-bottom" style="margin: auto; width: 100%; bottom: 0; position: fixed;">
        <div class="d-flex align-items-center">
            <a asp-controller="Home" asp-action="Index" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                <img src="https://www.labsystem-nuvem.com.br/imagens_arq/imagens/img/LabSystem.png" class="bi" width="25" height="24" />
            </a>
            <span class="mb-4 mb-md-0 text-body-secondary" style="font-size: 14px;">&copy; Coleta Colchao - CD-SI 001/MVS - 10/02/2025 - Rev 1</span>
        </div>
    </footer>
    @if (TempData.ContainsKey("Mensagem"))
    {
        <script>
            alert('@Html.Raw(TempData["Mensagem"])');
        </script>
    }
    <script>
        document.addEventListener("keydown", function (e) {
            if (e.keyCode === 13) {
                e.preventDefault();
            }
        });
    </script>

    <script>
        const tipo_espuma = document.getElementById("tipo_espuma");
        const tipo_espuma_2 = document.getElementById("tipo_espuma");
        const densidade = document.getElementById("densidade");
        var checkbox = document.getElementById('checkbox');
        var checkbox2 = document.getElementById('checkbox2');
        var teste = tipo_espuma.value;


        tipo_espuma.addEventListener('change', function () {
            ativarCheckbox(tipo_espuma.value);
        });
        function ativarCheckbox(opcaoSelecionada) {
            if (opcaoSelecionada === "Aglomerado") {
                checkbox.checked = true;
                checkbox2.checked = false;
            }
            else {
                checkbox.checked = false;
                checkbox2.checked = true;
            }

            console.log(checkbox.checked);
            console.log(checkbox2.checked);
        }
        ativarCheckbox(tipo_espuma.value);
        console.log(teste);

        tipo_espuma.addEventListener('change', function () {
            mostrarResultados(tipo_espuma_2.value, densidade.value);
        });

        densidade.addEventListener('input', function () {
            console.log(densidade.value);
            mostrarResultados(tipo_espuma_2.value, densidade.value);
        });

        function mostrarResultados(opcaoSelecionada, valorDigitado) {
            let resultado = '';
            if (opcaoSelecionada === 'Convencional') {

                if (valorDigitado == '20') {
                    especificado.value = 6;
                    tamanho.value = 'Max';
                    console.log(especificado.value);
                } else if (valorDigitado == '18') {
                    especificado.value = 8;
                    tamanho.value = 'Max';
                } else if (valorDigitado == '23') {
                    especificado.value = 5;
                    tamanho.value = 'Max';
                } else if (valorDigitado == '26') {
                    especificado.value = 5;
                    tamanho.value = 'Max';
                } else if (valorDigitado == '28') {
                    especificado.value = 5;
                    tamanho.value = 'Max';
                }
                else if (valorDigitado == '33') {
                    especificado.value = 4;
                    tamanho.value = 'Max';
                }
                else if (valorDigitado == '40') {
                    especificado.value = 4;
                    tamanho.value = 'Max';
                }
                else if (valorDigitado == '45') {
                    especificado.value = 4;
                    tamanho.value = 'Max';
                }
                else {
                    especificado.value = "Não há especificado na tabela";
                }

            } else if (opcaoSelecionada === 'Aglomerado') {
                if (valorDigitado >= '65') {
                    especificado.value = 10;
                    tamanho.value = 'Max';
                }
                else {
                    reducao.value = 50;
                    especificado.value = "Não há especificado na tabela";
                }
            }
            else if (opcaoSelecionada === 'Alta resiliência') {
                if (valorDigitado >= '30') {
                    especificado.value = 5;
                    tamanho.value = 'Max';
                } else {
                    especificado.value = "Não há especificado na tabela";
                }
            } else {
                especificado.value = "Não há especificado na tabela";
            }
            // Atualiza o conteúdo da div de resultados

        }
        mostrarResultados(tipo_espuma_2.value, densidade.value);

    </script>

</body>
</html>
