@model ColetaModel.RegistroLamina;
@{
    Layout = null;
}
@{
    ViewData["Title"] = "Verifcação de ensaio ";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/coleta.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Verificação de ensaio</title>
    @*  <style>
    .controlador-conforme {
    padding: 5px;
    border-color: gray;
    border-radius: 5px;
    box-sizing: border-box;
    height: 500px;
    width: 100px;
    }

    input {
    text-align: center;
    }
    </style> *@
</head>
<body>
    <table class="tables table-bordered border-secondary  table-sm">
        <thead class="fundo-tabela">
            <tr><td colspan="2">Quantidade de ensaio</td></tr>
        </thead>
        <tbody>
            <tr class="fundo-tabela">
                <td>Ensaio</td>
                <td>Abrir</td>
            </tr>
            @if (ViewBag.ensaio == "DR")
            {
                if (Model.Ensaio_resiliencia != 0)
                {
                    for (int i = 0; i < Model.Ensaio_resiliencia; i++)
                    {
                        <tr>
                            <td>5.2 I DETERMINAÇÃO DA RESILIÊNCIA </td>
                            <td>  <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="LamindaDeterminacaoResiliencia" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento" asp-route-item="@i">Abrir</a></td>
                        </tr>
                    }
                }
            }
            else if (ViewBag.ensaio == "DPC")
            {
                if (Model.Ensaio_DPC != 0)
                {
                    for (int i = 0; i < Model.Ensaio_DPC; i++)
                    {
                        <tr>
                            <td>5.3 I DETERMINAÇÃO DA DEFORMAÇÃO PERMANENTE À COMPRESSÃO (D.P.C) </td>
                            <td><a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="LaminaDPC" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento" asp-route-item="@i">Abrir</a></td>
                        </tr>
                    }
                }
            }
            else if (ViewBag.ensaio == "FI")
            {
                if (Model.Ensaio_FI != 0)
                {
                    for (int i = 0; i < Model.Ensaio_FI; i++)
                    {
                        <tr>
                            <td>5.4 I DETERMINAÇÃO DA FORÇA DE INDENTAÇÃO (F.I) - (ABNT NBR 9176) </td>
                            <td><a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="LaminaF_I" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento" asp-route-item="@i">Abrir</a></td>
                        </tr>
                    }
                }
            }
            else if (ViewBag.ensaio == "FC")
            {
                if (Model.Ensaio_FI != 0)
                {
                    for (int i = 0; i < Model.Ensaio_FI; i++)
                    {
                        <tr>
                            <td>  |  FATOR DE CONFORTO </td>
                            <td><a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="FatorConforto" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento" asp-route-item="@i">Abrir</a></td>
                        </tr>
                    }
                }
            }
            else if (ViewBag.ensaio == "PFI")
            {
                if (Model.Ensaio_teor != 0)
                {
                    for (int i = 0; i < Model.Ensaio_teor; i++)
                    {
                        <tr>
                            <td>5.6 I DETERMINAÇÃO DO TEOR DE CINZAS </td>
                            <td><a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="LaminaPFI" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento" asp-route-item="@i">Abrir</a></td>
                        </tr>
                    }
                }
            }
            else if (ViewBag.ensaio == "Fadiga")
            {
                if (Model.Ensaio_fadiga != 0)
                {
                    for (int i = 0; i < Model.Ensaio_fadiga; i++)
                    {
                        <tr>
                            <td>5.5 I DETERMINAÇÃO DA FADIGA DINÂMICA (ABNT NBR 9177) </td>
                            <td><a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="LaminaFadiga" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento" asp-route-item="@i">Abrir</a></td>
                        </tr>
                    }
                }
            }
            else if (ViewBag.ensaio == "DeterminacaoDensidade")
            {
                if (Model.Ensaio_Densidade != 0)
                {
                    for (int i = 0; i < Model.Ensaio_Densidade; i++)
                    {
                        <tr>
                            <td>5.1 I DETERMINAÇÃO DA DENSIDADE</td>
                            <td><a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="LaminaDeterminacaoDensidade" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento" asp-route-item="@i">Abrir</a></td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</body>
</html>