@model ColetaModel.Condicionamento;
@{
    Layout = null;
}
@{
    ViewData["Title"] = "Ensaio de condicionamento";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/coleta.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Ensaio de condicionamento</title>
    <style>
        .controlador-conforme {
            padding: 5px;
            border-color: gray;
            border-radius: 5px;
            box-sizing: border-box;
            height: 500px;
            width: 100px;
        }

        input {
            text-align: center;
        }
    </style>
</head>
<body>
    <form method="post" asp-controller="Coleta" asp-action="salvarCondicionamento" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento" asp-route-rev="@ViewBag.rev">
        <table class="tables table-bordered border-secondary  table-sm">
            <thead>
                <tr>
                    <td><img src="https://www.labsystem-nuvem.com.br/imagens_arq/imagens/img/LabSystem.png" class="imagem" /></td>
                    <td colspan="3" class="fundo-tabela">Coleta De Dados Condicionamento</td>
                    <td class="fundo-tabela">N Os:</td>
                </tr>
                <tr>
                    <td colspan="4">Ensaios de Colchão de Espuma (Portaria Inmetro 35)</td>
                    <td rowspan="3"> @ViewBag.os</td>
                </tr>
                @if (Model == null)
                {
                    <tr>
                        <td>Inicio:</td>
                        <td><input class="form-control" type="date" asp-for="data_ini" /></td>
                        <td>Termino:</td>
                        <td><input class="form-control" type="date" asp-for="data_term" /></td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>Inicio:</td>
                        <td><input class="form-control" type="text" asp-for="data_ini" /></td>
                        <td>Termino:</td>
                        <td><input class="form-control" type="text" asp-for="data_term" /></td>
                    </tr>
                }
                <tr>
                    <td>Executor do ensaio:</td>
                    <td colspan="3"><input class="form-control" type="text" asp-for="executor"/></td>
                </tr>
            </thead>
        </table>
        <br />

        <table class="tables table-bordered border-secondary table-sm" style="width:1100px;">
            <tr class="fundo-tabela">
                <td colspan="12">
                    Condicionamento do ensaio.
                </td>
            </tr>
            <tr class="fundo-tabela">
                <td colspan="2">Data do acondicionamento</td>
                <td colspan="2">Horario do acondicionamento</td>
                <td colspan="2">Temperatura encontrada</td>
                <td colspan="2">Umidade</td>
            </tr>
            <tr>
                <td>Inicio:</td>
                @if (Model == null)
                {
                    <td><input asp-for="acond_inicio" class="form-control" type="date" /></td>
                }
                else
                {
                    <td><input asp-for="acond_inicio" class="form-control" type="text" /></td>
                }
                <td>Inicio:</td>
                <td><input asp-for="hora_inicio" class="form-control" type="time" /></td>
                <td>Min : </td>
                <td><input asp-for="temp_inicio" class="form-control" /></td>
                <td>Inicio:</td>
                <td><input asp-for="temp_umidade_inicio" class="form-control" /></td>
            </tr>
            <tr>
                <td>Final:</td>
                @if (Model == null)
                {
                    <td><input asp-for="acond_final" class="form-control" type="date" /></td>
                }
                else
                {
                    <td><input asp-for="acond_final" class="form-control" type="text" /></td>
                }
                <td>Final:</td>
                <td><input asp-for="hora_final" class="form-control" type="time" /></td>
                <td>Max : </td>
                <td><input asp-for="temp_final" class="form-control" /></td>
                <td>Final:</td>
                <td><input asp-for="temp_umidade_final" class="form-control" type="text" /></td>
            </tr>
        </table>
        <br />

        @if (Model != null)
        {
            <div class="d-grid gap-2 d-flex justify-content-center">
                <button type="submit" class="btn btn-success btn btn-primary btn-md">Editar</button>
            </div>
        }
        else
        {
            <div class="d-grid gap-2 d-flex justify-content-center">
                <button type="submit" class="btn btn-success btn btn-primary btn-md">Salvar</button>
            </div>
        }

    </form>
    @if (TempData.ContainsKey("Mensagem"))
    {
        <script>
            alert('@Html.Raw(TempData["Mensagem"])');
        </script>
    }

    <script>
        document.addEventListener("keydown", function (e) {
            if (e.keyCode === 13) {

                e.preventDefault();

            }
        });
    </script>
</body>
</html>