@model ColetaModel.CargasEstatica;
@{
    Layout = null;
}
@{
    ViewData["Title"] = "Carga Estática Vertical";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/coleta.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Carga Estática Vertical</title>
    <style>
        input {
            text-align: center;
        }
    </style>
</head>
<body>
    <form method="post" asp-controller="Coleta" asp-action="SalvarCargaEstatica" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento" asp-route-rev="@ViewBag.rev">
        @if (Model == null)
        {
            <table class="tables table-bordered border-secondary  table-sm">
                <thead>
                    <tr>
                        <td><img src="https://www.labsystem-nuvem.com.br/imagens_arq/imagens/img/LabSystem.png" class="imagem" /></td>
                        <td colspan="3" class="fundo-tabela">Coleta De Dados Carga Estática Vertical</td>
                        <td class="fundo-tabela">N Os:</td>
                    </tr>
                    <tr>
                        <td colspan="4">Ensaio Em Bases</td>
                        <td rowspan="3"> @ViewBag.os</td>
                    </tr>
                    <tr>
                        <td>Inicio:</td>
                        <td><input class="form-control" type="date" asp-for="data_ini" /></td>
                        <td>Termino:</td>
                        <td><input class="form-control" type="date" asp-for="data_term" /></td>
                    </tr>
                    <tr>
                        <td>Executor do ensaio:</td>
                        <td><input class="form-control" asp-for="executor" /></td>
                        <td>Responsável pela conferência:</td>
                        <td>
                            <select class="form-control" asp-for="auxiliar" asp-items="(List<SelectListItem>)@ViewBag.listaResponsaveis">
                            </select>
                        </td>
                    </tr>
                </thead>
            </table>

            <table class="tables table-bordered border-secondary  ">
                <tr>
                    <td rowspan="17">Item</td>
                    <td class="fundo-tabela">Descrição</td>
                    <td rowspan="7"></td>
                </tr>
                <tr class="fundo-tabela">
                    <td>
                        Ensaio a ser realizado: DIN EN 1725:1998 - Domestic furniture – Beds and mattresses – Safety requirements and test methods
                    </td>
                </tr>
                <tr>
                    <td>Carga Estática Vertical</td>
                </tr>
                <tr>
                    <td>
                        <p>
                            O ensaio deve ser realizado sobcondições climáticas com temperatura de ( 20 ± 5 ) °C
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="tables table-bordered border-secondary ">
                            <tr>
                                <td class="fundo-tabela">Data De Inicio:</td>
                                <td><input class="form-control" type="date" asp-for="data_ini_ens" /></td>

                                <td class="fundo-tabela">Hora De Inicio: </td>
                                <td><input class="form-control" type="time" asp-for="hora_ensaio" /></td>

                                <td class="fundo-tabela">Temperatura Mínima:</td>
                                <td><input class="form-control" type="text" style="width:200px;" asp-for="temp_min" /></td>

                            </tr>
                            <tr>
                                <td class="fundo-tabela">Data De Término:</td>
                                <td><input class="form-control" type="date" asp-for="data_term_ens" /></td>

                                <td class="fundo-tabela">Hora De Término: </td>
                                <td><input class="form-control" type="time" asp-for="term_ensaio" /></td>

                                <td class="fundo-tabela">Temperatura Máxima:</td>
                                <td><input class="form-control" type="text" style="width:200px;" asp-for="temp_max" /></td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        Posicionar a base em uma superfície plana e rígida e aplicar uma força vertical para baixo de 1400 N e mantê-la por (10 ± 1) s no(s) ponto(s) que apresentem sinais de fragilidade.
                    </td>
                </tr>
                <tr>
                    <td>
                        Aplicar a carga 10 vezes em cada ponto.
                    </td>
                </tr>
                <tr>
                    <td class="fundo-tabela">
                        Ponto A
                    </td>
                    <td rowspan="10">
                    </td>
                </tr>
                <tr>
                    <td>
                        Local Da Aplicação: <input type="text" class="controlador" asp-for="local_aplicado" value="Ponto A" readonly/>
                    </td>
                </tr>
                <tr>
                    <td>Força Aplicada: <input type="text" class="controlador" style="width:200px;" asp-for="forca_aplicada" value="1400" readonly />  Tempo De Aplicação Da Carga: <input type="text" class="controlador" style="width:200px;" asp-for="aplicacao_carga" value="10" readonly/></td>
                </tr>
                <tr>
                    <td>
                        A amostra suportou a aplicação da carga estática vertical?
                        <select class="controlador" asp-for="suportou_aplicacao">
                            <option value="NA">NA</option>
                            <option value="C">C</option>
                            <option value="NC">NC</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Verificar se após o término do ensaio a amostra apresente algum defeito conforme citado abaixo:</td>
                </tr>
                <tr>
                    <td>
                        Houve Fratura :

                        <select class="controlador" asp-for="fratura">
                            <option value="NA">NA</option>
                            <option value="C">C</option>
                            <option value="NC">NC</option>
                        </select>
                    </td>

                </tr>
                <tr>
                    <td>
                        Houve Rachadura  :
                        <select class="controlador" asp-for="rachadura">
                            <option value="NA">NA</option>
                            <option value="C">C</option>
                            <option value="NC">NC</option>
                        </select>
                    </td>
                </tr>
@*                 <tr>
                    <td>
                        Houve Rasgo No Revestimento :
                        <select class="controlador" asp-for="rasgo">
                            <option value="NA">NA</option>
                            <option value="C">C</option>
                            <option value="NC">NC</option>
                        </select>
                    </td>
                </tr> *@
                <tr>
                    <td>
                        Houve Quebra :
                        <select class="controlador" asp-for="quebra">
                            <option value="NA">NA</option>
                            <option value="C">C</option>
                            <option value="NC">NC</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Apresentou Algo Que Prejudiquei O Seu Comprometimento De Uso :

                        <select class="controlador" style="width:200px;" asp-for="prejudique">
                            <option value="NA">NA</option>
                            <option value="C">C</option>
                            <option value="NC">NC</option>
                        </select>
                    </td>
                </tr>
            </table>
            <div class="d-grid gap-2 d-flex justify-content-center">
                <button type="submit" class="btn btn-success btn btn-primary btn-md">Salvar</button>
            </div>
        }
        else
        {
            <table class="tables table-bordered border-secondary  table-sm">
                <thead>
                    <tr>
                        <td><img src="https://www.labsystem-nuvem.com.br/imagens_arq/imagens/img/LabSystem.png" class="imagem" /></td>
                        <td colspan="3" class="fundo-tabela">Coleta De Dados Carga Estática Vertical</td>
                        <td class="fundo-tabela">N Os:</td>
                    </tr>
                    <tr>
                        <td colspan="4">Ensaio Em Bases</td>
                        <td rowspan="3"> @ViewBag.os</td>
                    </tr>
                    <tr>
                        <td>Inicio:</td>
                        <td><input class="form-control" type="text" asp-for="data_ini" value="@Model.data_ini" /></td>
                        <td>Termino:</td>
                        <td><input class="form-control" type="text" asp-for="data_term" value="@Model.data_term" /></td>
                    </tr>
                    <tr>
                        <td>Executor do ensaio:</td>
                        <td><input class="form-control" asp-for="executor" /></td>
                        <td>Responsável pela conferência:</td>
                        <td>
                            <select class="form-control" asp-for="auxiliar" asp-items="(List<SelectListItem>)@ViewBag.listaResponsaveis">
                            </select>
                        </td>
                    </tr>
                </thead>
            </table>

            <table class="tables table-bordered border-secondary  ">
                <tr>
                    <td rowspan="17">Item</td>
                    <td class="fundo-tabela">Descrição</td>
                    <td rowspan="7"></td>
                </tr>
                <tr class="fundo-tabela">
                    <td>
                        Ensaio a ser realizado: DIN EN 1725:1998 - Domestic furniture – Beds and mattresses – Safety requirements and test methods
                    </td>
                </tr>
                <tr>
                    <td>Carga Estática Vertical</td>
                </tr>
                <tr>
                    <td>
                        <p>
                            O ensaio deve ser realizado sobcondições climáticas com temperatura de ( 20 ± 5 ) °C
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="tables table-bordered border-secondary ">
                            <tr>
                                <td class="fundo-tabela">Data De Inicio:</td>
                                <td><input class="form-control" type="text" asp-for="data_ini_ens" style="width:200px;" /></td>

                                <td class="fundo-tabela">Hora De Inicio: </td>
                                <td><input class="form-control" type="time" asp-for="hora_ensaio" /></td>

                                <td class="fundo-tabela">Temperatura Mínima:</td>
                                <td><input class="form-control" type="text" style="width:200px;" asp-for="temp_min" /></td>

                            </tr>
                            <tr>
                                <td class="fundo-tabela">Data De Término:</td>
                                <td><input class="form-control" type="text" asp-for="data_term_ens" style="width:200px;" /></td>

                                <td class="fundo-tabela">Hora De Término: </td>
                                <td><input class="form-control" type="time" asp-for="term_ensaio" /></td>

                                <td class="fundo-tabela">Temperatura Máxima:</td>
                                <td><input class="form-control" type="text" style="width:200px;" asp-for="temp_max" /></td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        Posicionar a base em uma superfície plana e rígida e aplicar uma força vertical para baixo de 1400 N e mantê-la por (10 ± 1) s no(s) ponto(s) que apresentem sinais de fragilidade.
                    </td>
                </tr>
                <tr>
                    <td>
                        Aplicar a carga 10 vezes em cada ponto.
                    </td>
                </tr>
                <tr>
                    <td class="fundo-tabela">
                        Ponto A
                    </td>
                    <td rowspan="10">
                        <select class="controlar" asp-for="conforme_pontoA">
                            <option value="---">---</option>
                            <option value="C">C</option>
                            <option value="NC">NC</option>
                            <option value="NA">NA</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Local Da Aplicação: <input type="text" class="controlador" asp-for="local_aplicado" value="Ponto A" readonly/>
                    </td>
                </tr>
                <tr>
                    <td>Força Aplicada: <input type="text" class="controlador" style="width:200px;" asp-for="forca_aplicada" value="1400" readonly/>  Tempo De Aplicação Da Carga: <input type="text" class="controlador" style="width:200px;" asp-for="aplicacao_carga" value="10" readonly /></td>
                </tr>
                <tr>
                    <td>
                        A amostra suportou a aplicação da carga estática vertical?
                        <select class="controlador" asp-for="suportou_aplicacao">
                            <option value="NA">NA</option>
                            <option value="C">C</option>
                            <option value="NC">NC</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Verificar se após o término do ensaio a amostra apresente algum defeito conforme citado abaixo:</td>
                </tr>
                <tr>
                    <td>
                        Houve Fratura :

                        <select class="controlador" asp-for="fratura">
                            <option value="NA">NA</option>
                            <option value="C">C</option>
                            <option value="NC">NC</option>
                        </select>
                    </td>

                </tr>
                <tr>
                    <td>
                        Houve Rachadura  :
                        <select class="controlador" asp-for="rachadura">
                            <option value="NA">NA</option>
                            <option value="C">C</option>
                            <option value="NC">NC</option>
                        </select>
                    </td>
                </tr>
@*                 <tr>
                    <td>
                        Houve Rasgo No Revestimento :
                        <select class="controlador" asp-for="rasgo">
                            <option value="NA">NA</option>
                            <option value="C">C</option>
                            <option value="NC">NC</option>
                        </select>
                    </td>
                </tr> *@
                <tr>
                    <td>
                        Houve Quebra :
                        <select class="controlador" asp-for="quebra">
                            <option value="NA">NA</option>
                            <option value="C">C</option>
                            <option value="NC">NC</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Apresentou Algo Que Prejudiquei O Seu Comprometimento De Uso :

                        <select class="controlador" style="width:200px;" asp-for="prejudique">
                            <option value="NA">NA</option>
                            <option value="C">C</option>
                            <option value="NC">NC</option>
                        </select>
                    </td>
                </tr>
            </table>
            <div class="d-grid gap-2 d-flex justify-content-center">
                <button type="submit" class="btn btn-success btn btn-primary btn-md">Salvar</button>
            </div>
        }

    </form>
    <br /><br />
    <footer class="d-flex justify-content-center align-items-center border-top bg-white py-3 fixed-bottom" style="margin: auto; width: 100%; bottom: 0; position: fixed;">
        <div class="d-flex align-items-center">
            <a asp-controller="Home" asp-action="Index" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                <img src="https://www.labsystem-nuvem.com.br/imagens_arq/imagens/img/LabSystem.png" class="bi" width="25" height="24" />
            </a>
            <span class="mb-4 mb-md-0 text-body-secondary" style="font-size: 14px;">&copy; Coleta Colchao - CD-SI 001/MVS - 10/02/2025 - Rev 1</span>
        </div>
    </footer>
    @* <table class="tables table-bordered border-secondary  table-sm">
    <tr class="fundo-tabela">
    <td colspan=" 4">
    Instrumento(s)/Dispositivo(s)/Equipamento(s) Utilizado(s) que Requer(em) Calibração
    </td>
    </tr>
    <tr>
    <td>Código(s)</td>
    <td>Descrição(ões)</td>
    <td>Certificado(s)</td>
    <td>validade(s)</td>
    </tr>
    </table>
    <table class="tables table-bordered border-secondary  table-sm">
    <tr class="fundo-tabela">
    <td colspan=" 4">
    Dispositivo(s)/Equipamento(s) Utilizado(s) que Não Requer(em) Calibração
    </td>
    </tr>
    <tr>
    <td>Código(s)</td>
    <td>Descrição(ões)</td>
    <td>Certificado(s)</td>
    <td>validade(s)</td>
    </tr>
    </table>
    <table class="tables table-bordered border-secondary  table-sm">
    <tr class="fundo-tabela">
    <td colspan=" 4">
    Matéria(s)-Prima(s) Utilizada(s)
    </td>
    </tr>
    <tr>
    <td>Código(s)</td>
    <td>Descrição(ões)</td>
    <td>Certificado(s)</td>
    <td>validade(s)</td>
    </tr>
    </table>
    <table class="tables table-bordered border-secondary  table-sm">
    <tr class="fundo-tabela">
    <td colspan="4">
    Observações
    </td>
    </tr>
    <tr>
    <td>
    <textarea class="form-control w-100 mr-2 input">

    </textarea>
    </td>
    </tr>
    </table>
    <table class="tables table-bordered border-secondary  table-sm">
    <tr class="fundo-tabela">
    <td colspan="4">
    Nome(s) do(s) Executador(es)
    </td>
    </tr>
    <tr>
    <td><input type="text" class="form-control" /></td>
    <td><input type="text" class="form-control" /></td>
    <td><input type="text" class="form-control" /></td>
    <td><input type="text" class="form-control" /></td>
    </tr>
    </table> *@
    @if (TempData.ContainsKey("Mensagem"))
    {
        <script>
            alert('@Html.Raw(TempData["Mensagem"])');
        </script>
    }
    <script>
        document.addEventListener("keydown", function (e) {
            if (e.keyCode === 13) {

                e.preventDefault();

            }
        });
    </script>
</body>
</html>

