@model ColetaModel.EnsaioBaseDurabilidadeEstrutural;
@{
    Layout = null;
}
@{
    ViewData["Title"] = "Ensaio Em Base Durabilidade";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/coleta.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Ensaio Base Estrutural Durabilidade</title>
    <style>
        input {
            text-align: center;
        }
        s
        select {
            text-align: center
        }
    </style>
</head>
<body>
    <form method="post" asp-controller="Coleta" asp-action="SalvarBaseDurabilidadeEstrutural" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento" asp-route-rev="@ViewBag.rev">
        @if (Model == null)
        {

            <table class="tables table-bordered border-secondary  table-sm">
                <thead>
                    <tr>
                        <td><img src="https://www.labsystem-nuvem.com.br/imagens_arq/imagens/img/LabSystem.png" class="imagem" /></td>
                        <td colspan="3" class="fundo-tabela">Coleta De Dados Ensaio Em Base Durabilidade</td>
                        <td class="fundo-tabela">N Os:</td>
                    </tr>
                    <tr>
                        <td colspan="4">Ensaio Em Bases</td>
                        <td rowspan="2"> @ViewBag.os</td>
                    </tr>
                    <tr>
                        <td class="fundo-tabela">Inicio:</td>
                        <td><input class="form-control" type="date" asp-for="data_ini" /></td>
                        <td class="fundo-tabela">Termino:</td>
                        <td><input class="form-control" type="date" asp-for="data_term" /></td>
                    </tr>
                </thead>
            </table>
            <br />
            <table class="tables table-bordered border-secondary  ">
                <tr>
                    <td rowspan="17">Item</td>
                    <td class="fundo-tabela">Descrição</td>
                </tr>
                <tr class="fundo-tabela">
                    <td>
                        Ensaio a ser realizado: DIN EN 747-2:2015 - Furniture - Bunk beds and high beds - Part 2: Test methods (includes Amendment A1:2015)
                    </td>
                </tr>
                <tr>
                    <td colspan="2">Ensaio de durabilidade na estrutura</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p>
                            O ensaio deve ser realizado sobcondições climáticas com temperatura de ( 20 ± 5 ) °C
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table class="table-test">
                            <tr>
                                <td colspan="7" class="fundo-tabela">- Temperatura da execução do ensaio 23± ºC, sem necessidade de controle de umidade.</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="fundo-tabela">Data do acondicionamento</td>
                                <td colspan="2" class="fundo-tabela">Horario do acondicionamento</td>
                                <td colspan="2" class="fundo-tabela">Temperatura encontrada</td>
                                <td class="fundo-tabela">IM</td>
                            </tr>
                            <tr>
                                <td>Inicio:</td>
                                <td><input class="form-control" type="date" asp-for="data_ini"  /></td>
                                <td>Inicio:</td>
                                <td><input class="form-control" type="time" asp-for="hora_ini" /></td>
                                <td>Min:</td>
                                <td><input class="form-control" type="text" asp-for="temp_min" /></td>
                                <td rowspan="2"><input class="form-control" type="type" asp-for="im" style="height: 80px;" /></td>
                            </tr>
                            <tr>
                                <td>Final:</td>
                                <td><input class="form-control" type="date" asp-for="data_term" /></td>
                                <td>Final:</td>
                                <td><input class="form-control" type="time" asp-for="hora_term" /></td>
                                <td>Max:</td>
                                <td><input class="form-control" type="text" asp-for="temp_max" /></td>
                            </tr>
                            <tr>
                                <td colspan="4" class="fundo-tabela">Responsavel</td>
                                <td colspan="3"><input class="form-control" type="text" asp-for="responsavel_cond" /></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr class="fundo-tabela">
                    <td colspan="2">
                        Posicionar uma massa de 75 kg no centro da estrutura e aplicar uma força lateral de 300 N durante 10000 ciclos.
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        Massa Aplicada (kg): <input type="text" class="controlador" disabled value="75" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2"> Força Aplicada (N): <input type="text" class="controlador" disabled value="300" /></td>
                </tr>
                <tr>
                    <td colspan="2"> Velocidade Do Ciclo (CPM): <input class="controlador" type="text" disabled value="12" />  </td>
                </tr>
                <tr>
                    <td colspan="2">Quantidade De Ciclos: <input class="controlador" type="text" disabled value="10000" /></td>

                </tr>
                <tr>
                    <td colspan="2">
                        A amostra suportou o  número do ciclos  :
                        <select class="controlador" style="width:200px;" asp-for="suportou">
                            <option value="---">---</option>
                            <option value="NA">NA</option>
                            <option value="Sim">Sim</option>
                            <option value="Não">Não</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="fundo-tabela" colspan="2">
                        Caso a amostra não suporte o número de ciclos,  verificar se apresenta algum defeito conforme citado abaixo:
                    </td>

                </tr>
                <tr>
                    <td colspan="2">
                        Houve fratura :
                        <select class="controlador" asp-for="fratura">
                            <option value="NA">NA</option>
                            <option value="C">C</option>
                            <option value="NC">NC</option>
                        </select>
                    </td>

                </tr>
                <tr>
                    <td colspan="2">
                        Houve Quebra:
                        <select class="controlador" asp-for="quebra">
                            <option value="NA">NA</option>
                            <option value="C">C</option>
                            <option value="NC">NC</option>
                        </select>
                    </td>

                </tr>
                <tr>
                    <td colspan="2">
                        Houve Rachadura:
                        <select class="controlador" style="width:200px;" asp-for="rachadura">
                            <option value="NA">NA</option>
                            <option value="C">C</option>
                            <option value="NC">NC</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Houve Rompimento nos pés:
                        <select class="controlador" asp-for="rompimento">
                            <option value="NA">NA</option>
                            <option value="C">C</option>
                            <option value="NC">NC</option>
                        </select>
                    </td>
                </tr>
            </table>
            <div class="d-grid gap-2 d-flex justify-content-center">
                <button type="submit" class="btn btn-success btn btn-primary btn-md">Salvar</button>
            </div>
        }
        else
        {
            <table class="tables table-bordered border-secondary  table-sm">
                <thead>
                    <tr>
                        <td><img src="https://www.labsystem-nuvem.com.br/imagens_arq/imagens/img/LabSystem.png" class="imagem" /></td>
                        <td colspan="3" class="fundo-tabela">Coleta De Dados Ensaio Em Base Durabilidade</td>
                        <td class="fundo-tabela">N Os:</td>
                    </tr>
                    <tr>
                        <td colspan="4">Ensaio Em Bases</td>
                        <td rowspan="2"> @ViewBag.os</td>
                    </tr>
                    <tr>
                        <td class="fundo-tabela">Inicio:</td>
                        <td><input class="form-control" type="tex" asp-for="data_ini" value="@Model.data_ini" /></td>
                        <td class="fundo-tabela">Termino:</td>
                        <td><input class="form-control" type="text" asp-for="data_term" value="@Model.data_term" /></td>
                    </tr>
                </thead>
            </table>
            <br />
            <table class="tables table-bordered border-secondary  ">
                <tr>
                    <td rowspan="17">Item</td>
                    <td colspan="3" class="fundo-tabela">Descrição</td>
                </tr>
                <tr class="fundo-tabela">
                    <td colspan="3">
                        Ensaio a ser realizado: DIN EN 747-2:2015 - Furniture - Bunk beds and high beds - Part 2: Test methods (includes Amendment A1:2015)
                    </td>
                </tr>
                <tr>
                    <td colspan="3">Ensaio de durabilidade na estrutura</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <p>
                            O ensaio deve ser realizado sobcondições climáticas com temperatura de ( 20 ± 5 ) °C
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table class="table-test">
                            <tr>
                                <td colspan="7" class="fundo-tabela">- Temperatura da execução do ensaio 23± ºC, sem necessidade de controle de umidade.</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="fundo-tabela">Data do acondicionamento</td>
                                <td colspan="2" class="fundo-tabela">Horario do acondicionamento</td>
                                <td colspan="2" class="fundo-tabela">Temperatura encontrada</td>
                                <td class="fundo-tabela">IM</td>
                            </tr>
                            <tr>
                                <td>Inicio:</td>
                                <td><input class="form-control" type="text" asp-for="data_ini" value="@Model.data_ini" /></td>
                                <td>Inicio:</td>
                                <td><input class="form-control" type="time" asp-for="hora_ini" /></td>
                                <td>Min:</td>
                                <td><input class="form-control" type="text" asp-for="temp_min" /></td>
                                <td rowspan="2"><input class="form-control" type="type" asp-for="im" style="height: 80px;" /></td>
                            </tr>
                            <tr>
                                <td>Final:</td>
                                <td><input class="form-control" type="text" asp-for="data_term" value="@Model.data_term" /></td>
                                <td>Final:</td>
                                <td><input class="form-control" type="time" asp-for="hora_term" /></td>
                                <td>Max:</td>
                                <td><input class="form-control" type="text" asp-for="temp_max" /></td>
                            </tr>
                            <tr>
                                <td colspan="4" >Responsavel</td>
                                <td colspan="3"><input class="form-control" type="text" asp-for="responsavel_cond" /></td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr class="fundo-tabela">
                    <td colspan="3">
                        Posicionar uma massa de 75 kg no centro da estrutura e aplicar uma força lateral de 300 N durante 10000 ciclos.
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        Massa Aplicada (kg): <input type="text" class="controlador" disabled value="75" />
                    </td>
                </tr>
                <tr>
                    <td colspan="3"> Força Aplicada (N): <input type="text" class="controlador" disabled value="300" /></td>
                </tr>
                <tr>
                    <td colspan="3"> Velocidade Do Ciclo (CPM): <input class="controlador" type="text" disabled value="12" />  </td>
                </tr>
                <tr>
                    <td colspan="3">Quantidade De Ciclos: <input class="controlador" type="text" disabled value="10000" /></td>

                </tr>
                <tr>
                    <td colspan="2">
                        A amostra suportou o  número do ciclos  :
                        <select class="controlador" style="width:200px;" asp-for="suportou">
                            <option value="---">---</option>
                            <option value="NA">NA</option>
                            <option value="Sim">Sim</option>
                            <option value="Não">Não</option>
                        </select>
                    </td>
                    @if (Model.suportou == "Sim")
                    {
                        <td colspan="2">C</td>
                    }
                    else
                    {
                        <td colspan="2">NC</td>
                    }

                </tr>
                <tr class="fundo-tabela">
                    <td colspan="3">
                        Caso a amostra não suporte o número de ciclos,  verificar se apresenta algum defeito conforme citado abaixo:
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        Houve fratura :
                        <select class="controlador" asp-for="fratura">
                            <option value="NA">NA</option>
                            <option value="C">C</option>
                            <option value="NC">NC</option>
                        </select>
                    </td>
                    <td rowspan="3">@Model.conforme</td>
                </tr>
                <tr>
                    <td>
                        Houve Quebra:
                        <select class="controlador" asp-for="quebra">
                            <option value="NA">NA</option>
                            <option value="C">C</option>
                            <option value="NC">NC</option>
                        </select>
                    </td>

                </tr>
                <tr>
                    <td>
                        Houve rachadura :
                        <select class="controlador" style="width:200px;" asp-for="rachadura">
                            <option value="NA">NA</option>
                            <option value="C">C</option>
                            <option value="NC">NC</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Houve rompimento nos pés:
                        <select class="controlador" asp-for="rompimento">
                            <option value="NA">NA</option>
                            <option value="C">C</option>
                            <option value="NC">NC</option>
                        </select>
                    </td>
                </tr>
            </table>
            <div class="d-grid gap-2 d-flex justify-content-center">
                <button type="submit" class="btn btn-success btn btn-primary btn-md">Editar</button>
            </div>
        }
    </form>
    <br />
    <br />
    <footer class="d-flex justify-content-center align-items-center border-top bg-white py-3 fixed-bottom" style="margin: auto; width: 100%; bottom: 0; position: fixed;">
        <div class="d-flex align-items-center">
            <a asp-controller="Home" asp-action="Index" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                <img src="https://www.labsystem-nuvem.com.br/imagens_arq/imagens/img/LabSystem.png" class="bi" width="25" height="24" />
            </a>
            <span class="mb-4 mb-md-0 text-body-secondary" style="font-size: 14px;">&copy; Coleta Colchao - CD-SI 001/MVS - 10/02/2025 - Rev 1</span>
        </div>
    </footer>
    @if (TempData.ContainsKey("Mensagem"))
    {
        <script>
            alert('@Html.Raw(TempData["Mensagem"])');
        </script>
    }
    <script>
        document.addEventListener("keydown", function (e) {
            if (e.keyCode === 13) {

                e.preventDefault();

            }
        });
    </script>
</body>
</html>

