@model ColetaModel.EnsaioBaseDurabilidadeEstrutural;
@{
    Layout = null;
}
@{
    ViewData["Title"] = "Ensaio Em Base Durabilidade";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/coleta.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Ensaio Base Estrutural Durabilidade</title>
    <style>
        input {
            text-align: center;
        }

        select {
            text-align: center
        }
    </style>
</head>
<body>
    <form method="post" asp-controller="Coleta" asp-action="SalvarBaseDurabilidadeEstrutural" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento">
        @if (Model == null)
        {

            <table class="tables table-bordered border-secondary  table-sm">
                <thead>
                    <tr>
                        <td><img src="https://www.labsystem-nuvem.com.br/imagens_arq/imagens/img/LabSystem.png" class="imagem" /></td>
                        <td colspan="3" class="fundo-tabela">Coleta De Dados</td>
                        <td class="fundo-tabela">N Os:</td>
                    </tr>
                    <tr>
                        <td colspan="4">Ensaio Em Bases</td>
                        <td rowspan="2"> @ViewBag.os</td>
                    </tr>
                    <tr>
                        <td class="fundo-tabela">Inicio:</td>
                        <td><input class="form-control" type="date" asp-for="data_ini" /></td>
                        <td class="fundo-tabela">Termino:</td>
                        <td><input class="form-control" type="date" asp-for="data_term" /></td>
                    </tr>
                </thead>
            </table>

            <table class="tables table-bordered border-secondary  ">
                <tr>
                    <td rowspan="17">Item</td>
                    <td class="fundo-tabela">Descrição</td>
                </tr>
                <tr class="fundo-tabela">
                    <td>
                        Ensaio a ser realizado: DIN EN 747-2:2015 - Furniture - Bunk beds and high beds - Part 2: Test methods (includes Amendment A1:2015)
                    </td>
                </tr>
                <tr>
                    <td colspan="2">Ensaio de durabilidade na estrutura</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p>
                            O ensaio deve ser realizado sobcondições climáticas com temperatura de ( 20 ± 5 ) °C
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table class="tables table-bordered border-secondary ">
                            <tr>
                                <td class="fundo-tabela">Data De Inicio:</td>
                                <td><input class="form-control" type="date" asp-for="data_ini_ens" /></td>

                                <td class="fundo-tabela">Hora De Inicio: </td>
                                <td><input class="form-control" type="time" asp-for="hora_ini" /></td>

                                <td class="fundo-tabela">Temperatura Mínima:</td>
                                <td><input class="form-control" type="text" style="width:100px;" asp-for="temp_min" /></td>

                            </tr>
                            <tr>
                                <td class="fundo-tabela">Data De Término:</td>
                                <td><input class="form-control" type="date" asp-for="data_term_ens" /></td>

                                <td class="fundo-tabela">Hora De Término: </td>
                                <td><input class="form-control" type="time" asp-for="hora_term" /></td>

                                <td class="fundo-tabela">Temperatura Máxima:</td>
                                <td><input class="form-control" type="text" style="width:100px;" asp-for="temp_max" /></td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr class="fundo-tabela">
                    <td colspan="2">
                        Posicionar a base em uma superfície plana e rígida e aplicar uma força vertical para baixo de 1400 N e mantê-la por (10 ± 1) s no(s) ponto(s) que apresentem sinais de fragilidade.
                    </td>
                </tr>
                <tr class="fundo-tabela">
                    <td colspan="2">
                        Posicionar uma massa de 75 kg no centro da estrutura e aplicar uma força lateral de 300 N durante 10000 ciclos.
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        Massa Aplicada (kg): <input type="text" class="controlador" disabled value="75" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2"> Força Aplicada (N): <input type="text" class="controlador" disabled value="300" /></td>
                </tr>
                <tr>
                    <td colspan="2"> Velocidade Do Ciclo (CPM): <input class="controlador" type="text" disabled value="12" />  </td>
                </tr>
                <tr>
                    <td colspan="2">Quantidade De Ciclos: <input class="controlador" type="text" disabled value="10000" /></td>

                </tr>
                <tr>
                    <td colspan="2">
                        A amostra suportou o  número do ciclos  :
                        <select class="controlador" style="width:200px;" asp-for="suportou">
                            <option value="---">---</option>
                            <option value="Sim">Sim</option>
                            <option value="Não">Não</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="fundo-tabela" colspan="2">
                        Caso a amostra não suporte o número de ciclos,  verificar se apresenta algum defeito conforme citado abaixo:
                    </td>

                </tr>
                <tr>
                    <td colspan="2">
                        Houve Ruptura Da Estrutura :
                        <select class="controlador" asp-for="ruptura">
                            <option value="---">---</option>
                            <option value="Sim">Sim</option>
                            <option value="Não">Não</option>
                        </select>
                    </td>

                </tr>
                <tr>
                    <td colspan="2">
                        Houve Quebra Nas Fixações:
                        <select class="controlador" asp-for="quebra">
                            <option value="---">---</option>
                            <option value="Sim">Sim</option>
                            <option value="Não">Não</option>
                        </select>
                    </td>

                </tr>
                <tr>
                    <td colspan="2">
                        Apresentou algo que prejudique o seu comprometimento de uso :
                        <select class="controlador" style="width:200px;" asp-for="prejudicou">
                            <option value="---">---</option>
                            <option value="Sim">Sim</option>
                            <option value="Não">Não</option>
                        </select>
                    </td>
                </tr>

            </table>
            <div class="d-grid gap-2 d-flex justify-content-center">
                <button type="submit" class="btn btn-success btn btn-primary btn-md">Salvar</button>
            </div>
        }
        else
        {
            <table class="tables table-bordered border-secondary  table-sm">
                <thead>
                    <tr>
                        <td><img src="https://www.labsystem-nuvem.com.br/imagens_arq/imagens/img/LabSystem.png" class="imagem" /></td>
                        <td colspan="3" class="fundo-tabela">Coleta De Dados</td>
                        <td class="fundo-tabela">N Os:</td>
                    </tr>
                    <tr>
                        <td colspan="4">Ensaio Em Bases</td>
                        <td rowspan="2"> @ViewBag.os</td>
                    </tr>
                    <tr>
                        <td class="fundo-tabela">Inicio:</td>
                        <td><input class="form-control" type="tex" asp-for="data_ini" value="@Model.data_ini" /></td>
                        <td class="fundo-tabela">Termino:</td>
                        <td><input class="form-control" type="text" asp-for="data_term" value="@Model.data_term" /></td>
                    </tr>
                </thead>
            </table>

            <table class="tables table-bordered border-secondary  ">
                <tr>
                    <td rowspan="17">Item</td>
                    <td colspan="3" class="fundo-tabela">Descrição</td>
                </tr>
                <tr class="fundo-tabela">
                    <td colspan="3">
                        Ensaio a ser realizado: DIN EN 747-2:2015 - Furniture - Bunk beds and high beds - Part 2: Test methods (includes Amendment A1:2015)
                    </td>
                </tr>
                <tr>
                    <td colspan="3">Ensaio de durabilidade na estrutura</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <p>
                            O ensaio deve ser realizado sobcondições climáticas com temperatura de ( 20 ± 5 ) °C
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table class="tables table-bordered border-secondary ">
                            <tr>
                                <td class="fundo-tabela">Data De Inicio:</td>
                                <td><input class="form-control" type="text" asp-for="data_ini_ens" value="@Model.data_ini_ens" style="width:200px;" /></td>

                                <td class="fundo-tabela">Hora De Inicio: </td>
                                <td><input class="form-control" type="time" asp-for="hora_ini" /></td>

                                <td class="fundo-tabela">Temperatura Mínima:</td>
                                <td><input class="form-control" type="text" style="width:100px;" asp-for="temp_min" /></td>

                            </tr>
                            <tr>
                                <td class="fundo-tabela">Data De Término:</td>
                                <td><input class="form-control" type="text" asp-for="data_term_ens" value="@Model.data_term_ens" style="width:200px;" /></td>

                                <td class="fundo-tabela">Hora De Término: </td>
                                <td><input class="form-control" type="time" asp-for="hora_term" /></td>

                                <td class="fundo-tabela">Temperatura Máxima:</td>
                                <td><input class="form-control" type="text" style="width:100px;" asp-for="temp_max" /></td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr class="fundo-tabela">
                    <td colspan="3">
                        Posicionar a base em uma superfície plana e rígida e aplicar uma força vertical para baixo de 1400 N e mantê-la por (10 ± 1) s no(s) ponto(s) que apresentem sinais de fragilidade.
                    </td>
                </tr>
                <tr class="fundo-tabela">
                    <td colspan="3">
                        Posicionar uma massa de 75 kg no centro da estrutura e aplicar uma força lateral de 300 N durante 10000 ciclos.
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        Massa Aplicada (kg): <input type="text" class="controlador" disabled value="75" />
                    </td>
                </tr>
                <tr>
                    <td colspan="3"> Força Aplicada (N): <input type="text" class="controlador" disabled value="300" /></td>
                </tr>
                <tr>
                    <td colspan="3"> Velocidade Do Ciclo (CPM): <input class="controlador" type="text" disabled value="12" />  </td>
                </tr>
                <tr>
                    <td colspan="3">Quantidade De Ciclos: <input class="controlador" type="text" disabled value="10000" /></td>

                </tr>
                <tr>
                    <td colspan="2">
                        A amostra suportou o  número do ciclos  :
                        <select class="controlador" style="width:200px;" asp-for="suportou">
                            <option value="---">---</option>
                            <option value="Sim">Sim</option>
                            <option value="Não">Não</option>
                        </select>
                    </td>
                    @if (Model.suportou == "Sim")
                    {
                        <td colspan="2">C</td>
                    }
                    else
                    {
                        <td colspan="2">NC</td>
                    }

                </tr>
                <tr class="fundo-tabela">
                    <td colspan="3">
                        Caso a amostra não suporte o número de ciclos,  verificar se apresenta algum defeito conforme citado abaixo:
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        Houve Ruptura Da Estrutura :
                        <select class="controlador" asp-for="ruptura">
                            <option value="---">---</option>
                            <option value="Sim">Sim</option>
                            <option value="Não">Não</option>
                        </select>
                    </td>
                    <td rowspan="3">@Model.conforme</td>
                </tr>
                <tr>
                    <td>
                        Houve Quebra Nas Fixações:
                        <select class="controlador" asp-for="quebra">
                            <option value="---">---</option>
                            <option value="Sim">Sim</option>
                            <option value="Não">Não</option>
                        </select>
                    </td>

                </tr>
                <tr>
                    <td>
                        Apresentou algo que prejudique o seu comprometimento de uso :
                        <select class="controlador" style="width:200px;" asp-for="prejudicou">
                            <option value="---">---</option>
                            <option value="Sim">Sim</option>
                            <option value="Não">Não</option>
                        </select>
                    </td>
                </tr>

            </table>
            <div class="d-grid gap-2 d-flex justify-content-center">
                <button type="submit" class="btn btn-success btn btn-primary btn-md">Editar</button>
            </div>
        }
    </form>

    @if (TempData.ContainsKey("Mensagem"))
    {
        <script>
            alert('@Html.Raw(TempData["Mensagem"])');
        </script>
    }
    <script>
        document.addEventListener("keydown", function (e) {
            if (e.keyCode === 13) {

                e.preventDefault();

            }
        });
    </script>
</body>
</html>

