@{
    Layout = null;
}
@{
    ViewData["Title"] = "Login";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/coleta.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


    <style>
        .full-height {
            min-height: 80vh;
            height: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 80px;
            padding-bottom: 80px;
            border-bottom: 2px solid rgba(255,255,255, 0.1);
        }

        .hidden {
            opacity: 0;
            filter: blur(15px);
            transform: translateX(-100%);
            transition: all 0.2s;
        }

        .show {
            opacity: 1;
            filter: blur(0);
            transform: translateX(0);
            transition: all 0.5s;
        }

        .sessaodois {
            display: none;
        }

        .estilo-select {
            background-color: #F0F0F0;
            border: 1px solid #CCCCCC;
            padding: 5px;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <table class="tables table-bordered border-secondary  table-sm">
        <tr class="fundo-tabela">
            <td colspan="3">
                <h1>
                    Coletas De Molas
                </h1>
            </td>
        </tr>
        <tr>
            <td>
                Tipo De Ensaio:
            </td>
            <td>
                <select id="select" class="estilo-select form-select form-select-lg mb-3 w-100 mb-3" aria-label=".form-select-lg example">
                    <option value="Escolha">Escolha</option>
                    <option value="Conjugado">Conjugado</option>
                    <option value="Auxiliar">Auxiliar</option>
                    <option value="Simples">Simples</option>
                </select>
            </td>
        </tr>
        <tr class="fundo-tabela descricao-ensaio">
            <td>Descrição</td>
            <td>Abrir</td>
        </tr>
        <tr class="simples">
            <td>
                Coleta Molas (Pré Rolagem)
            </td>
            <td>
                <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EnsaioMolasParte1" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento">Abrir Coleta</a>
            </td>
        </tr>
        <tr class="simples">
            <td>
                Coleta Molas Parte 2
            </td>
            <td>
                <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EnsaioMolasParte2" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento">Abrir Coleta</a>
            </td>
        </tr>

        <tr class="simples">
            <td>
                Coleta Molas Parte 3
            </td>
            <td>
                <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EnsaioMolasParte3" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento">Abrir Coleta</a>
            </td>
        </tr>


        <tr class="completa">
            <td>
                Base Ensaio de Durabilidade
            </td>
            <td>
                <a  role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EnsaioDurabilidade" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento">Abrir Coleta</a>
            </td>
        </tr>
        <tr class="completa">
            <td>
                Base Ensaio Impacto Vertical
            </td>
            <td>
                <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EnsaioImpacto" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento">Abrir Coleta</a>
            </td>
        </tr>
        <tr class="completa">
            <td>
                Base Ensaio Estrutura Durabilidade
            </td>
            <td>
                <a  target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EnsaioBaseEstruturaDurabi" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento">Abrir Coleta</a>
            </td>
        </tr>
        <tr class="fundo-tabela descricaoEnsaio">
            <td colspan="2">Identificação e Embalagem</td>
        </tr>
        <tr class="fundo-tabela descricaoEnsaio">
            <td>Descrição</td>
            <td>Abrir</td>
        </tr>
        <tr class="embalagem">
            <td>
                Identificação e Embalagem parte 1
            </td>
            <td>
                <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="IdentificacaoEmbalagem1" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento">Abrir Coleta</a>
            </td>
        </tr>
        <tr class="embalagem">
            <td>
                Identificação e Embalagem parte 2
            </td>
            <td>
                <a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="IdentificacaoEmbalagem2" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento">Abrir Coleta</a>
            </td>
        </tr>
    </table>
    @if (TempData.ContainsKey("Mensagem"))
    {
        <script>
            alert('@Html.Raw(TempData["Mensagem"])');
        </script>
    }
    <script>
        // toda logica para sumir as opções de ensaio na hora que ele escolher, entre as opções.
        var select = document.getElementById("select");
        var elementosSimples = document.getElementsByClassName("simples");
        var elementosCompleto = document.getElementsByClassName("completa");
        var elementosEmbalagem = document.getElementsByClassName("embalagem");
        var descricaoEnsaio = document.getElementsByClassName("descricaoEnsaio");

        var select1 = select.value

        for (var i = 0; i < elementosSimples.length; i++) {
            elementosSimples[i].style.display = 'none';
        }
        for (var i = 0; i < elementosCompleto.length; i++) {
            elementosCompleto[i].style.display = 'none';
        }
        for (var i = 0; i < elementosEmbalagem.length; i++) {
            elementosEmbalagem[i].style.display = 'none';
        }
        for (var i = 0; i < descricaoEnsaio.length; i++) {
            descricaoEnsaio[i].style.display = 'none';
        }


        select.addEventListener("change", function () {
            var select1 = select.value

            if (select1 == "Simples") {

                for (var i = 0; i < elementosCompleto.length; i++) {
                    elementosCompleto[i].style.display = 'none';
                }
            } else {
                for (var i = 0; i < elementosCompleto.length; i++) {
                    elementosCompleto[i].style.display = 'table-row';
                }
                for (var i = 0; i < descricaoEnsaio.length; i++) {
                    descricaoEnsaio[i].style.display = 'table-row';
                }
                for (var i = 0; i < elementosEmbalagem.length; i++) {
                    elementosEmbalagem[i].style.display = 'table-row';
                }
            }

            if (select1 == "Conjugado" || select1 == "Auxiliar") {
                for (var i = 0; i < elementosSimples.length; i++) {
                    elementosSimples[i].style.display = 'table-row';
                }
            }
            if (select1 == "Escolha") {
                for (var i = 0; i < elementosSimples.length; i++) {
                    elementosSimples[i].style.display = 'none';
                }
                for (var i = 0; i < elementosCompleto.length; i++) {
                    elementosCompleto[i].style.display = 'none';
                }
                for (var i = 0; i < elementosEmbalagem.length; i++) {
                    elementosEmbalagem[i].style.display = 'none';
                }
                for (var i = 0; i < descricaoEnsaio.length; i++) {
                    descricaoEnsaio[i].style.display = 'none';
                }
            }

        });

    </script>
</body>
</html>



